*
* Sequence Offset Table
*

	dc.b	$FC,$00		; Offset to sequence #0: 252
	dc.b	$00,$01		; Offset to sequence #1: 256
	dc.b	$04,$01		; Offset to sequence #2: 260
	dc.b	$08,$01		; Offset to sequence #3: 264
	dc.b	$0C,$01		; Offset to sequence #4: 268
	dc.b	$10,$01		; Offset to sequence #5: 272
	dc.b	$14,$01		; Offset to sequence #6: 276
	dc.b	$18,$01		; Offset to sequence #7: 280
	dc.b	$1C,$01		; Offset to sequence #8: 284
	dc.b	$20,$01		; Offset to sequence #9: 288
	dc.b	$24,$01		; Offset to sequence #10: 292
	dc.b	$28,$01		; Offset to sequence #11: 296
	dc.b	$2F,$01		; Offset to sequence #12: 303
	dc.b	$33,$01		; Offset to sequence #13: 307
	dc.b	$37,$01		; Offset to sequence #14: 311
	dc.b	$3B,$01		; Offset to sequence #15: 315
	dc.b	$3F,$01		; Offset to sequence #16: 319
	dc.b	$43,$01		; Offset to sequence #17: 323
	dc.b	$47,$01		; Offset to sequence #18: 327
	dc.b	$4B,$01		; Offset to sequence #19: 331
	dc.b	$4F,$01		; Offset to sequence #20: 335
	dc.b	$53,$01		; Offset to sequence #21: 339
	dc.b	$57,$01		; Offset to sequence #22: 343
	dc.b	$5B,$01		; Offset to sequence #23: 347
	dc.b	$5F,$01		; Offset to sequence #24: 351
	dc.b	$63,$01		; Offset to sequence #25: 355
	dc.b	$67,$01		; Offset to sequence #26: 359
	dc.b	$6B,$01		; Offset to sequence #27: 363
	dc.b	$6F,$01		; Offset to sequence #28: 367
	dc.b	$73,$01		; Offset to sequence #29: 371
	dc.b	$77,$01		; Offset to sequence #30: 375
	dc.b	$7B,$01		; Offset to sequence #31: 379
	dc.b	$7F,$01		; Offset to sequence #32: 383
	dc.b	$83,$01		; Offset to sequence #33: 387
	dc.b	$87,$01		; Offset to sequence #34: 391
	dc.b	$8B,$01		; Offset to sequence #35: 395
	dc.b	$8F,$01		; Offset to sequence #36: 399
	dc.b	$93,$01		; Offset to sequence #37: 403
	dc.b	$97,$01		; Offset to sequence #38: 407
	dc.b	$9B,$01		; Offset to sequence #39: 411
	dc.b	$9F,$01		; Offset to sequence #40: 415
	dc.b	$A3,$01		; Offset to sequence #41: 419
	dc.b	$A7,$01		; Offset to sequence #42: 423
	dc.b	$AB,$01		; Offset to sequence #43: 427
	dc.b	$AF,$01		; Offset to sequence #44: 431
	dc.b	$B3,$01		; Offset to sequence #45: 435
	dc.b	$B7,$01		; Offset to sequence #46: 439
	dc.b	$BB,$01		; Offset to sequence #47: 443
	dc.b	$BF,$01		; Offset to sequence #48: 447
	dc.b	$C3,$01		; Offset to sequence #49: 451
	dc.b	$C7,$01		; Offset to sequence #50: 455
	dc.b	$CB,$01		; Offset to sequence #51: 459
	dc.b	$CF,$01		; Offset to sequence #52: 463
	dc.b	$D3,$01		; Offset to sequence #53: 467
	dc.b	$D7,$01		; Offset to sequence #54: 471
	dc.b	$DB,$01		; Offset to sequence #55: 475
	dc.b	$DF,$01		; Offset to sequence #56: 479
	dc.b	$E3,$01		; Offset to sequence #57: 483
	dc.b	$E7,$01		; Offset to sequence #58: 487
	dc.b	$EB,$01		; Offset to sequence #59: 491
	dc.b	$EF,$01		; Offset to sequence #60: 495
	dc.b	$0E,$02		; Offset to sequence #61: 526
	dc.b	$27,$02		; Offset to sequence #62: 551
	dc.b	$46,$02		; Offset to sequence #63: 582
	dc.b	$65,$02		; Offset to sequence #64: 613
	dc.b	$84,$02		; Offset to sequence #65: 644
	dc.b	$A3,$02		; Offset to sequence #66: 675
	dc.b	$C2,$02		; Offset to sequence #67: 706
	dc.b	$CC,$02		; Offset to sequence #68: 716
	dc.b	$E5,$02		; Offset to sequence #69: 741
	dc.b	$FB,$02		; Offset to sequence #70: 763
	dc.b	$08,$03		; Offset to sequence #71: 776
	dc.b	$1B,$03		; Offset to sequence #72: 795
	dc.b	$2B,$03		; Offset to sequence #73: 811
	dc.b	$4A,$03		; Offset to sequence #74: 842
	dc.b	$4B,$03		; Offset to sequence #75: 843
	dc.b	$4C,$03		; Offset to sequence #76: 844
	dc.b	$4D,$03		; Offset to sequence #77: 845
	dc.b	$4E,$03		; Offset to sequence #78: 846
	dc.b	$4F,$03		; Offset to sequence #79: 847
	dc.b	$53,$03		; Offset to sequence #80: 851
	dc.b	$57,$03		; Offset to sequence #81: 855
	dc.b	$5B,$03		; Offset to sequence #82: 859
	dc.b	$5F,$03		; Offset to sequence #83: 863
	dc.b	$63,$03		; Offset to sequence #84: 867
	dc.b	$67,$03		; Offset to sequence #85: 871
	dc.b	$6B,$03		; Offset to sequence #86: 875
	dc.b	$6F,$03		; Offset to sequence #87: 879
	dc.b	$73,$03		; Offset to sequence #88: 883
	dc.b	$77,$03		; Offset to sequence #89: 887
	dc.b	$7B,$03		; Offset to sequence #90: 891
	dc.b	$7F,$03		; Offset to sequence #91: 895
	dc.b	$83,$03		; Offset to sequence #92: 899
	dc.b	$87,$03		; Offset to sequence #93: 903
	dc.b	$8B,$03		; Offset to sequence #94: 907
	dc.b	$8F,$03		; Offset to sequence #95: 911
	dc.b	$93,$03		; Offset to sequence #96: 915
	dc.b	$97,$03		; Offset to sequence #97: 919
	dc.b	$9B,$03		; Offset to sequence #98: 923
	dc.b	$9F,$03		; Offset to sequence #99: 927
	dc.b	$A3,$03		; Offset to sequence #100: 931
	dc.b	$A7,$03		; Offset to sequence #101: 935
	dc.b	$AB,$03		; Offset to sequence #102: 939
	dc.b	$AF,$03		; Offset to sequence #103: 943
	dc.b	$B3,$03		; Offset to sequence #104: 947
	dc.b	$B7,$03		; Offset to sequence #105: 951
	dc.b	$BB,$03		; Offset to sequence #106: 955
	dc.b	$BF,$03		; Offset to sequence #107: 959
	dc.b	$C3,$03		; Offset to sequence #108: 963
	dc.b	$C7,$03		; Offset to sequence #109: 967
	dc.b	$CB,$03		; Offset to sequence #110: 971
	dc.b	$CF,$03		; Offset to sequence #111: 975
	dc.b	$D3,$03		; Offset to sequence #112: 979
	dc.b	$D7,$03		; Offset to sequence #113: 983
	dc.b	$DB,$03		; Offset to sequence #114: 987
	dc.b	$DF,$03		; Offset to sequence #115: 991
	dc.b	$E3,$03		; Offset to sequence #116: 995
	dc.b	$E7,$03		; Offset to sequence #117: 999
	dc.b	$EB,$03		; Offset to sequence #118: 1003
	dc.b	$EF,$03		; Offset to sequence #119: 1007
	dc.b	$F3,$03		; Offset to sequence #120: 1011
	dc.b	$F7,$03		; Offset to sequence #121: 1015
	dc.b	$FB,$03		; Offset to sequence #122: 1019
	dc.b	$FF,$03		; Offset to sequence #123: 1023
	dc.b	$03,$04		; Offset to sequence #124: 1027
	dc.b	$07,$04		; Offset to sequence #125: 1031
*
* Sequence Descriptors
*

* Sequence 0 "Arrow fall"
	dc.b	$01			; channel count = 1
	dc.b	$0B,$04,$00		; offset to channel 0 = 1035
* Sequence 1 "Flaming rock"
	dc.b	$01			; channel count = 1
	dc.b	$2F,$04,$00		; offset to channel 0 = 1071
* Sequence 2 "Iris Open"
	dc.b	$01			; channel count = 1
	dc.b	$3D,$04,$00		; offset to channel 0 = 1085
* Sequence 3 "Iris close"
	dc.b	$01			; channel count = 1
	dc.b	$4E,$04,$00		; offset to channel 0 = 1102
* Sequence 4 "Power up"
	dc.b	$01			; channel count = 1
	dc.b	$5F,$04,$00		; offset to channel 0 = 1119
* Sequence 5 "Goliath Wing Flap .FM"
	dc.b	$01			; channel count = 1
	dc.b	$84,$04,$00		; offset to channel 0 = 1156
* Sequence 6 "Smash wood door"
	dc.b	$01			; channel count = 1
	dc.b	$8E,$04,$00		; offset to channel 0 = 1166
* Sequence 7 "Robot Footstep"
	dc.b	$01			; channel count = 1
	dc.b	$A2,$04,$00		; offset to channel 0 = 1186
* Sequence 8 "Hound of hell"
	dc.b	$01			; channel count = 1
	dc.b	$AF,$04,$00		; offset to channel 0 = 1199
* Sequence 9 "Robot Tracking 1"
	dc.b	$01			; channel count = 1
	dc.b	$C1,$04,$00		; offset to channel 0 = 1217
* Sequence 10 "Robot Tracking 2"
	dc.b	$01			; channel count = 1
	dc.b	$D6,$04,$00		; offset to channel 0 = 1238
* Sequence 11 "Big thing fling"
	dc.b	$02			; channel count = 2
	dc.b	$EB,$04,$00		; offset to channel 0 = 1259
	dc.b	$FA,$04,$00		; offset to channel 1 = 1274
* Sequence 12 "Cable Snapper"
	dc.b	$01			; channel count = 1
	dc.b	$09,$05,$00		; offset to channel 0 = 1289
* Sequence 13 "Platform Movement .MBOX"
	dc.b	$01			; channel count = 1
	dc.b	$1D,$05,$00		; offset to channel 0 = 1309
* Sequence 14 "Electricity surge"
	dc.b	$01			; channel count = 1
	dc.b	$30,$05,$00		; offset to channel 0 = 1328
* Sequence 15 "Goliath Burp"
	dc.b	$01			; channel count = 1
	dc.b	$50,$05,$00		; offset to channel 0 = 1360
* Sequence 16 "Goliath Damage"
	dc.b	$01			; channel count = 1
	dc.b	$5A,$05,$00		; offset to channel 0 = 1370
* Sequence 17 "Goliath Death"
	dc.b	$01			; channel count = 1
	dc.b	$64,$05,$00		; offset to channel 0 = 1380
* Sequence 18 "Goliath Wing Flap .SMP"
	dc.b	$01			; channel count = 1
	dc.b	$6E,$05,$00		; offset to channel 0 = 1390
* Sequence 19 "Goliath Dive"
	dc.b	$01			; channel count = 1
	dc.b	$78,$05,$00		; offset to channel 0 = 1400
* Sequence 20 "Viking Grunt"
	dc.b	$01			; channel count = 1
	dc.b	$82,$05,$00		; offset to channel 0 = 1410
* Sequence 21 "Goliath Swing"
	dc.b	$01			; channel count = 1
	dc.b	$8C,$05,$00		; offset to channel 0 = 1420
* Sequence 22 "Goliath Throw"
	dc.b	$01			; channel count = 1
	dc.b	$96,$05,$00		; offset to channel 0 = 1430
* Sequence 23 "Valkyrie Damage"
	dc.b	$01			; channel count = 1
	dc.b	$A0,$05,$00		; offset to channel 0 = 1440
* Sequence 24 "Robot Scream"
	dc.b	$01			; channel count = 1
	dc.b	$AA,$05,$00		; offset to channel 0 = 1450
* Sequence 25 "Robot Walk"
	dc.b	$01			; channel count = 1
	dc.b	$B4,$05,$00		; offset to channel 0 = 1460
* Sequence 26 "Fire Jets"
	dc.b	$01			; channel count = 1
	dc.b	$BE,$05,$00		; offset to channel 0 = 1470
* Sequence 27 "Big Rocks falling "
	dc.b	$01			; channel count = 1
	dc.b	$C8,$05,$00		; offset to channel 0 = 1480
* Sequence 28 "Small Rocks Falling"
	dc.b	$01			; channel count = 1
	dc.b	$D4,$05,$00		; offset to channel 0 = 1492
* Sequence 29 "Metal Hit"
	dc.b	$01			; channel count = 1
	dc.b	$E0,$05,$00		; offset to channel 0 = 1504
* Sequence 30 "Lightning"
	dc.b	$01			; channel count = 1
	dc.b	$EA,$05,$00		; offset to channel 0 = 1514
* Sequence 31 "Castle Boss Disappear"
	dc.b	$01			; channel count = 1
	dc.b	$F4,$05,$00		; offset to channel 0 = 1524
* Sequence 32 "Throw Axe"
	dc.b	$01			; channel count = 1
	dc.b	$FE,$05,$00		; offset to channel 0 = 1534
* Sequence 33 "Swing Axe"
	dc.b	$01			; channel count = 1
	dc.b	$08,$06,$00		; offset to channel 0 = 1544
* Sequence 34 "Wall Smash"
	dc.b	$01			; channel count = 1
	dc.b	$12,$06,$00		; offset to channel 0 = 1554
* Sequence 35 "Flaming Logs"
	dc.b	$01			; channel count = 1
	dc.b	$1F,$06,$00		; offset to channel 0 = 1567
* Sequence 36 "Chains"
	dc.b	$01			; channel count = 1
	dc.b	$29,$06,$00		; offset to channel 0 = 1577
* Sequence 37 "Crumbling rocks"
	dc.b	$01			; channel count = 1
	dc.b	$46,$06,$00		; offset to channel 0 = 1606
* Sequence 38 "Climbing wall"
	dc.b	$01			; channel count = 1
	dc.b	$50,$06,$00		; offset to channel 0 = 1616
* Sequence 39 "Sliding down wall"
	dc.b	$01			; channel count = 1
	dc.b	$5A,$06,$00		; offset to channel 0 = 1626
* Sequence 40 "Morning Star&chain"
	dc.b	$01			; channel count = 1
	dc.b	$68,$06,$00		; offset to channel 0 = 1640
* Sequence 41 "Cauldron spits"
	dc.b	$01			; channel count = 1
	dc.b	$7F,$06,$00		; offset to channel 0 = 1663
* Sequence 42 "Cauldron spits 2"
	dc.b	$01			; channel count = 1
	dc.b	$89,$06,$00		; offset to channel 0 = 1673
* Sequence 43 "Cauldron spits 3"
	dc.b	$01			; channel count = 1
	dc.b	$93,$06,$00		; offset to channel 0 = 1683
* Sequence 44 "Viking Scream"
	dc.b	$01			; channel count = 1
	dc.b	$9D,$06,$00		; offset to channel 0 = 1693
* Sequence 45 "Viking Death"
	dc.b	$01			; channel count = 1
	dc.b	$A7,$06,$00		; offset to channel 0 = 1703
* Sequence 46 "Laser"
	dc.b	$01			; channel count = 1
	dc.b	$B1,$06,$00		; offset to channel 0 = 1713
* Sequence 47 "Laser Blast 2"
	dc.b	$01			; channel count = 1
	dc.b	$BB,$06,$00		; offset to channel 0 = 1723
* Sequence 48 "Whip 1st"
	dc.b	$01			; channel count = 1
	dc.b	$C7,$06,$00		; offset to channel 0 = 1735
* Sequence 49 "Glass"
	dc.b	$01			; channel count = 1
	dc.b	$D1,$06,$00		; offset to channel 0 = 1745
* Sequence 50 "Explosion"
	dc.b	$01			; channel count = 1
	dc.b	$DB,$06,$00		; offset to channel 0 = 1755
* Sequence 51 "Rookery Claw open"
	dc.b	$01			; channel count = 1
	dc.b	$E5,$06,$00		; offset to channel 0 = 1765
* Sequence 52 "Rookery Claw close"
	dc.b	$01			; channel count = 1
	dc.b	$F3,$06,$00		; offset to channel 0 = 1779
* Sequence 53 "Oil spills"
	dc.b	$01			; channel count = 1
	dc.b	$01,$07,$00		; offset to channel 0 = 1793
* Sequence 54 "Oil splats"
	dc.b	$01			; channel count = 1
	dc.b	$0B,$07,$00		; offset to channel 0 = 1803
* Sequence 55 "Circling circle"
	dc.b	$01			; channel count = 1
	dc.b	$18,$07,$00		; offset to channel 0 = 1816
* Sequence 56 "Metal Rods"
	dc.b	$01			; channel count = 1
	dc.b	$28,$07,$00		; offset to channel 0 = 1832
* Sequence 57 "Explosion FM"
	dc.b	$01			; channel count = 1
	dc.b	$32,$07,$00		; offset to channel 0 = 1842
* Sequence 58 "Goliath Lands"
	dc.b	$01			; channel count = 1
	dc.b	$3C,$07,$00		; offset to channel 0 = 1852
* Sequence 59 "Goliath Tumble"
	dc.b	$01			; channel count = 1
	dc.b	$4B,$07,$00		; offset to channel 0 = 1867
* Sequence 60 "Castle 1"
	dc.b	$0A			; channel count = 10
	dc.b	$5A,$07,$00		; offset to channel 0 = 1882
	dc.b	$55,$0A,$00		; offset to channel 1 = 2645
	dc.b	$8F,$0B,$00		; offset to channel 2 = 2959
	dc.b	$40,$0D,$00		; offset to channel 3 = 3392
	dc.b	$7D,$0E,$00		; offset to channel 4 = 3709
	dc.b	$6F,$11,$00		; offset to channel 5 = 4463
	dc.b	$FC,$13,$00		; offset to channel 6 = 5116
	dc.b	$3F,$15,$00		; offset to channel 7 = 5439
	dc.b	$DE,$15,$00		; offset to channel 8 = 5598
	dc.b	$06,$16,$00		; offset to channel 9 = 5638
* Sequence 61 "Castle 2"
	dc.b	$08			; channel count = 8
	dc.b	$F5,$16,$00		; offset to channel 0 = 5877
	dc.b	$36,$19,$00		; offset to channel 1 = 6454
	dc.b	$3D,$1A,$00		; offset to channel 2 = 6717
	dc.b	$34,$1B,$00		; offset to channel 3 = 6964
	dc.b	$C0,$1B,$00		; offset to channel 4 = 7104
	dc.b	$A8,$1C,$00		; offset to channel 5 = 7336
	dc.b	$4B,$20,$00		; offset to channel 6 = 8267
	dc.b	$3A,$21,$00		; offset to channel 7 = 8506
* Sequence 62 "Rookery 1"
	dc.b	$0A			; channel count = 10
	dc.b	$D6,$23,$00		; offset to channel 0 = 9174
	dc.b	$4C,$24,$00		; offset to channel 1 = 9292
	dc.b	$64,$24,$00		; offset to channel 2 = 9316
	dc.b	$8F,$24,$00		; offset to channel 3 = 9359
	dc.b	$EB,$24,$00		; offset to channel 4 = 9451
	dc.b	$D1,$2B,$00		; offset to channel 5 = 11217
	dc.b	$F9,$2B,$00		; offset to channel 6 = 11257
	dc.b	$8C,$2C,$00		; offset to channel 7 = 11404
	dc.b	$15,$2F,$00		; offset to channel 8 = 12053
	dc.b	$CE,$2F,$00		; offset to channel 9 = 12238
* Sequence 63 "Rookery 2"
	dc.b	$0A			; channel count = 10
	dc.b	$2B,$30,$00		; offset to channel 0 = 12331
	dc.b	$BA,$30,$00		; offset to channel 1 = 12474
	dc.b	$E7,$30,$00		; offset to channel 2 = 12519
	dc.b	$24,$32,$00		; offset to channel 3 = 12836
	dc.b	$D1,$32,$00		; offset to channel 4 = 13009
	dc.b	$17,$39,$00		; offset to channel 5 = 14615
	dc.b	$48,$39,$00		; offset to channel 6 = 14664
	dc.b	$DA,$39,$00		; offset to channel 7 = 14810
	dc.b	$5B,$3A,$00		; offset to channel 8 = 14939
	dc.b	$16,$3B,$00		; offset to channel 9 = 15126
* Sequence 64 "The Subway"
	dc.b	$0A			; channel count = 10
	dc.b	$9C,$3B,$00		; offset to channel 0 = 15260
	dc.b	$17,$3C,$00		; offset to channel 1 = 15383
	dc.b	$F9,$3C,$00		; offset to channel 2 = 15609
	dc.b	$4B,$3D,$00		; offset to channel 3 = 15691
	dc.b	$EA,$3D,$00		; offset to channel 4 = 15850
	dc.b	$53,$3E,$00		; offset to channel 5 = 15955
	dc.b	$A7,$3F,$00		; offset to channel 6 = 16295
	dc.b	$F6,$3F,$00		; offset to channel 7 = 16374
	dc.b	$36,$41,$00		; offset to channel 8 = 16694
	dc.b	$85,$42,$00		; offset to channel 9 = 17029
* Sequence 65 "Title Theme"
	dc.b	$0A			; channel count = 10
	dc.b	$AA,$43,$00		; offset to channel 0 = 17322
	dc.b	$4A,$44,$00		; offset to channel 1 = 17482
	dc.b	$BB,$44,$00		; offset to channel 2 = 17595
	dc.b	$01,$45,$00		; offset to channel 3 = 17665
	dc.b	$19,$45,$00		; offset to channel 4 = 17689
	dc.b	$A8,$45,$00		; offset to channel 5 = 17832
	dc.b	$07,$46,$00		; offset to channel 6 = 17927
	dc.b	$3F,$46,$00		; offset to channel 7 = 17983
	dc.b	$A8,$47,$00		; offset to channel 8 = 18344
	dc.b	$53,$48,$00		; offset to channel 9 = 18515
* Sequence 66 "Museum"
	dc.b	$0A			; channel count = 10
	dc.b	$29,$49,$00		; offset to channel 0 = 18729
	dc.b	$5E,$4A,$00		; offset to channel 1 = 19038
	dc.b	$4C,$4B,$00		; offset to channel 2 = 19276
	dc.b	$31,$4C,$00		; offset to channel 3 = 19505
	dc.b	$09,$4F,$00		; offset to channel 4 = 20233
	dc.b	$6F,$4F,$00		; offset to channel 5 = 20335
	dc.b	$FC,$52,$00		; offset to channel 6 = 21244
	dc.b	$C9,$53,$00		; offset to channel 7 = 21449
	dc.b	$F9,$54,$00		; offset to channel 8 = 21753
	dc.b	$F9,$56,$00		; offset to channel 9 = 22265
* Sequence 67 "Story Screen"
	dc.b	$03			; channel count = 3
	dc.b	$C5,$57,$00		; offset to channel 0 = 22469
	dc.b	$08,$58,$00		; offset to channel 1 = 22536
	dc.b	$43,$58,$00		; offset to channel 2 = 22595
* Sequence 68 "The Forge"
	dc.b	$08			; channel count = 8
	dc.b	$5C,$58,$00		; offset to channel 0 = 22620
	dc.b	$76,$58,$00		; offset to channel 1 = 22646
	dc.b	$0D,$59,$00		; offset to channel 2 = 22797
	dc.b	$74,$5A,$00		; offset to channel 3 = 23156
	dc.b	$B0,$5A,$00		; offset to channel 4 = 23216
	dc.b	$D4,$5C,$00		; offset to channel 5 = 23764
	dc.b	$BA,$5D,$00		; offset to channel 6 = 23994
	dc.b	$53,$5E,$00		; offset to channel 7 = 24147
* Sequence 69 "Boss Music"
	dc.b	$07			; channel count = 7
	dc.b	$86,$5E,$00		; offset to channel 0 = 24198
	dc.b	$1C,$5F,$00		; offset to channel 1 = 24348
	dc.b	$7D,$62,$00		; offset to channel 2 = 25213
	dc.b	$37,$64,$00		; offset to channel 3 = 25655
	dc.b	$C8,$65,$00		; offset to channel 4 = 26056
	dc.b	$2E,$66,$00		; offset to channel 5 = 26158
	dc.b	$DA,$66,$00		; offset to channel 6 = 26330
* Sequence 70 "Game Over"
	dc.b	$04			; channel count = 4
	dc.b	$15,$67,$00		; offset to channel 0 = 26389
	dc.b	$37,$67,$00		; offset to channel 1 = 26423
	dc.b	$57,$67,$00		; offset to channel 2 = 26455
	dc.b	$7A,$67,$00		; offset to channel 3 = 26490
* Sequence 71 "Hammer Time!"
	dc.b	$06			; channel count = 6
	dc.b	$AF,$67,$00		; offset to channel 0 = 26543
	dc.b	$DC,$67,$00		; offset to channel 1 = 26588
	dc.b	$06,$68,$00		; offset to channel 2 = 26630
	dc.b	$21,$68,$00		; offset to channel 3 = 26657
	dc.b	$4F,$68,$00		; offset to channel 4 = 26703
	dc.b	$E3,$68,$00		; offset to channel 5 = 26851
* Sequence 72 "Real Screen Music"
	dc.b	$05			; channel count = 5
	dc.b	$18,$69,$00		; offset to channel 0 = 26904
	dc.b	$3A,$69,$00		; offset to channel 1 = 26938
	dc.b	$6C,$6A,$00		; offset to channel 2 = 27244
	dc.b	$A0,$6A,$00		; offset to channel 3 = 27296
	dc.b	$F6,$6B,$00		; offset to channel 4 = 27638
* Sequence 73 "Techno"
	dc.b	$0A			; channel count = 10
	dc.b	$DE,$6E,$00		; offset to channel 0 = 28382
	dc.b	$C7,$6F,$00		; offset to channel 1 = 28615
	dc.b	$1B,$70,$00		; offset to channel 2 = 28699
	dc.b	$7A,$70,$00		; offset to channel 3 = 28794
	dc.b	$0F,$72,$00		; offset to channel 4 = 29199
	dc.b	$8E,$72,$00		; offset to channel 5 = 29326
	dc.b	$5C,$73,$00		; offset to channel 6 = 29532
	dc.b	$A3,$73,$00		; offset to channel 7 = 29603
	dc.b	$39,$74,$00		; offset to channel 8 = 29753
	dc.b	$85,$75,$00		; offset to channel 9 = 30085
* Sequence 74 "<Unused #74>"
	dc.b	$00			; channel count = 0
* Sequence 75 "<Unused #75>"
	dc.b	$00			; channel count = 0
* Sequence 76 "<Unused #76>"
	dc.b	$00			; channel count = 0
* Sequence 77 "<Unused #77>"
	dc.b	$00			; channel count = 0
* Sequence 78 "<Unused #78>"
	dc.b	$00			; channel count = 0
* Sequence 79 "Blob"
	dc.b	$01			; channel count = 1
	dc.b	$16,$78,$00		; offset to channel 0 = 30742
* Sequence 80 "Elevator Surge?"
	dc.b	$01			; channel count = 1
	dc.b	$22,$78,$00		; offset to channel 0 = 30754
* Sequence 81 "Pause"
	dc.b	$01			; channel count = 1
	dc.b	$30,$78,$00		; offset to channel 0 = 30768
* Sequence 82 "Rookery Flame"
	dc.b	$01			; channel count = 1
	dc.b	$59,$78,$00		; offset to channel 0 = 30809
* Sequence 83 "Electronic Zap 1"
	dc.b	$01			; channel count = 1
	dc.b	$81,$78,$00		; offset to channel 0 = 30849
* Sequence 84 "Some kind of Robot nois"
	dc.b	$01			; channel count = 1
	dc.b	$A1,$78,$00		; offset to channel 0 = 30881
* Sequence 85 "Rocket Punch"
	dc.b	$01			; channel count = 1
	dc.b	$AB,$78,$00		; offset to channel 0 = 30891
* Sequence 86 "Energizer"
	dc.b	$01			; channel count = 1
	dc.b	$B5,$78,$00		; offset to channel 0 = 30901
* Sequence 87 "Fire Hydrant"
	dc.b	$01			; channel count = 1
	dc.b	$C4,$78,$00		; offset to channel 0 = 30916
* Sequence 88 "Robot Leap"
	dc.b	$01			; channel count = 1
	dc.b	$D3,$78,$00		; offset to channel 0 = 30931
* Sequence 89 "Chime 1"
	dc.b	$01			; channel count = 1
	dc.b	$DD,$78,$00		; offset to channel 0 = 30941
* Sequence 90 "Goliath Damage 1"
	dc.b	$01			; channel count = 1
	dc.b	$EC,$78,$00		; offset to channel 0 = 30956
* Sequence 91 "Goliath Damage 2"
	dc.b	$01			; channel count = 1
	dc.b	$F6,$78,$00		; offset to channel 0 = 30966
* Sequence 92 "Goliath Damage 3"
	dc.b	$01			; channel count = 1
	dc.b	$00,$79,$00		; offset to channel 0 = 30976
* Sequence 93 "Electric Elevator"
	dc.b	$01			; channel count = 1
	dc.b	$0A,$79,$00		; offset to channel 0 = 30986
* Sequence 94 "Chime"
	dc.b	$01			; channel count = 1
	dc.b	$14,$79,$00		; offset to channel 0 = 30996
* Sequence 95 "Explosion 1"
	dc.b	$01			; channel count = 1
	dc.b	$1E,$79,$00		; offset to channel 0 = 31006
* Sequence 96 "Explosion 2"
	dc.b	$01			; channel count = 1
	dc.b	$28,$79,$00		; offset to channel 0 = 31016
* Sequence 97 "Explosion 3"
	dc.b	$01			; channel count = 1
	dc.b	$32,$79,$00		; offset to channel 0 = 31026
* Sequence 98 "Explosion Loop"
	dc.b	$01			; channel count = 1
	dc.b	$3C,$79,$00		; offset to channel 0 = 31036
* Sequence 99 "Female Scream"
	dc.b	$01			; channel count = 1
	dc.b	$48,$79,$00		; offset to channel 0 = 31048
* Sequence 100 "Goliath Roar"
	dc.b	$01			; channel count = 1
	dc.b	$52,$79,$00		; offset to channel 0 = 31058
* Sequence 101 "Green Energy Ball"
	dc.b	$01			; channel count = 1
	dc.b	$5C,$79,$00		; offset to channel 0 = 31068
* Sequence 102 "Subway Horn"
	dc.b	$01			; channel count = 1
	dc.b	$66,$79,$00		; offset to channel 0 = 31078
* Sequence 103 "Land SFX"
	dc.b	$01			; channel count = 1
	dc.b	$70,$79,$00		; offset to channel 0 = 31088
* Sequence 104 "Metal Clang 1"
	dc.b	$01			; channel count = 1
	dc.b	$7A,$79,$00		; offset to channel 0 = 31098
* Sequence 105 "Rook Claw Close"
	dc.b	$01			; channel count = 1
	dc.b	$84,$79,$00		; offset to channel 0 = 31108
* Sequence 106 "Rook Claw open"
	dc.b	$01			; channel count = 1
	dc.b	$8E,$79,$00		; offset to channel 0 = 31118
* Sequence 107 "Metal Clang 2"
	dc.b	$01			; channel count = 1
	dc.b	$98,$79,$00		; offset to channel 0 = 31128
* Sequence 108 "Robot Start"
	dc.b	$01			; channel count = 1
	dc.b	$A2,$79,$00		; offset to channel 0 = 31138
* Sequence 109 "SEGA!!!"
	dc.b	$01			; channel count = 1
	dc.b	$AC,$79,$00		; offset to channel 0 = 31148
* Sequence 110 "Small Laser Blast"
	dc.b	$01			; channel count = 1
	dc.b	$B6,$79,$00		; offset to channel 0 = 31158
* Sequence 111 "Subway Clang"
	dc.b	$01			; channel count = 1
	dc.b	$C0,$79,$00		; offset to channel 0 = 31168
* Sequence 112 "Arrow 1"
	dc.b	$01			; channel count = 1
	dc.b	$CA,$79,$00		; offset to channel 0 = 31178
* Sequence 113 "Goliath Swipe #2"
	dc.b	$01			; channel count = 1
	dc.b	$D4,$79,$00		; offset to channel 0 = 31188
* Sequence 114 "Vent open/close"
	dc.b	$01			; channel count = 1
	dc.b	$DE,$79,$00		; offset to channel 0 = 31198
* Sequence 115 "GOLIATH SWIPE 3"
	dc.b	$01			; channel count = 1
	dc.b	$E8,$79,$00		; offset to channel 0 = 31208
* Sequence 116 "GOLIATH SWIPE 4"
	dc.b	$01			; channel count = 1
	dc.b	$F4,$79,$00		; offset to channel 0 = 31220
* Sequence 117 "evil scream"
	dc.b	$01			; channel count = 1
	dc.b	$00,$7A,$00		; offset to channel 0 = 31232
* Sequence 118 "Whip 2nd"
	dc.b	$01			; channel count = 1
	dc.b	$12,$7A,$00		; offset to channel 0 = 31250
* Sequence 119 "Goliath Roar"
	dc.b	$01			; channel count = 1
	dc.b	$1C,$7A,$00		; offset to channel 0 = 31260
* Sequence 120 "Bronx Growl"
	dc.b	$01			; channel count = 1
	dc.b	$26,$7A,$00		; offset to channel 0 = 31270
* Sequence 121 "Gate open fast"
	dc.b	$01			; channel count = 1
	dc.b	$30,$7A,$00		; offset to channel 0 = 31280
* Sequence 122 "Gate close fast"
	dc.b	$01			; channel count = 1
	dc.b	$3A,$7A,$00		; offset to channel 0 = 31290
* Sequence 123 "Low Freq rumble"
	dc.b	$01			; channel count = 1
	dc.b	$44,$7A,$00		; offset to channel 0 = 31300
* Sequence 124 "Subtle flames"
	dc.b	$01			; channel count = 1
	dc.b	$54,$7A,$00		; offset to channel 0 = 31316
* Sequence 125 "Castle Boss Appear"
	dc.b	$01			; channel count = 1
	dc.b	$68,$7A,$00		; offset to channel 0 = 31336
*
* Sequence Channel Data
*

* Sequence 0, Channel 0:
	dc.b	$C0,$72,$05,$00,$71,$00,$00,$01
	dc.b	$04,$C0,$6F,$11,$00,$C0,$63,$70
	dc.b	$00,$01,$6D,$6A,$78,$61,$00,$88
	dc.b	$54,$61,$02,$87,$D8,$30,$C0,$63
	dc.b	$70,$00,$00,$60
* Sequence 1, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$66,$01,$62,$06
	dc.b	$61,$03,$98,$D8,$46,$60
* Sequence 2, Channel 0:
	dc.b	$C0,$6A,$5A,$6D,$72,$05,$07,$61
	dc.b	$0D,$62,$07,$66,$01,$98,$D8,$39
	dc.b	$60
* Sequence 3, Channel 0:
	dc.b	$C0,$6D,$6A,$5A,$72,$05,$07,$61
	dc.b	$0D,$66,$01,$62,$08,$98,$D8,$30
	dc.b	$60
* Sequence 4, Channel 0:
	dc.b	$71,$01,$00,$01,$04,$C0,$6F,$15
	dc.b	$00,$C0,$63,$70,$01,$01,$6A,$7F
	dc.b	$61,$04,$6D,$66,$01,$62,$09,$85
	dc.b	$C5,$2D,$2E,$30,$E1,$30,$C1,$63
	dc.b	$C0,$70,$01,$00,$60
* Sequence 5, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$0C,$98,$D8
	dc.b	$30,$60
* Sequence 6, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$05,$72,$05
	dc.b	$0B,$84,$C7,$30,$C0,$72,$05,$00
	dc.b	$98,$D8,$30,$60
* Sequence 7, Channel 0:
	dc.b	$C0,$6A,$7F,$72,$05,$07,$6D,$61
	dc.b	$0A,$98,$D8,$30,$60
* Sequence 8, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$06,$82,$90
	dc.b	$30,$61,$0F,$6E,$0A,$98,$C2,$D0
	dc.b	$43,$60
* Sequence 9, Channel 0:
	dc.b	$C0,$72,$05,$11,$6A,$7F,$6D,$61
	dc.b	$10,$64,$7F,$C0,$63,$81,$B8,$C1
	dc.b	$F8,$5F,$C0,$65,$60
* Sequence 10, Channel 0:
	dc.b	$C0,$72,$05,$11,$6D,$6A,$7F,$61
	dc.b	$10,$64,$7F,$C0,$63,$81,$B8,$C1
	dc.b	$F8,$54,$C0,$65,$60
* Sequence 11, Channel 0:
	dc.b	$C0,$72,$05,$07,$6D,$6A,$73,$61
	dc.b	$12,$62,$0B,$94,$D4,$18,$60
* Sequence 11, Channel 1:
	dc.b	$C0,$62,$04,$6D,$6A,$73,$61,$16
	dc.b	$72,$05,$09,$88,$C8,$0B,$60
* Sequence 12, Channel 0:
	dc.b	$C0,$6D,$72,$05,$05,$6A,$76,$61
	dc.b	$13,$88,$02,$72,$05,$0C,$61,$15
	dc.b	$8C,$CC,$1A,$60
* Sequence 13, Channel 0:
	dc.b	$C0,$6A,$73,$6D,$72,$05,$16,$61
	dc.b	$14,$64,$7F,$C0,$63,$98,$D8,$05
	dc.b	$C0,$65,$60
* Sequence 14, Channel 0:
	dc.b	$71,$05,$00,$01,$04,$C0,$6F,$10
	dc.b	$00,$C0,$63,$70,$05,$01,$6D,$6A
	dc.b	$7F,$61,$11,$72,$05,$11,$B0,$F0
	dc.b	$22,$C1,$63,$C0,$70,$05,$00,$60
* Sequence 15, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$41,$60
* Sequence 16, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$0F,$98,$D8
	dc.b	$32,$60
* Sequence 17, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$0F,$98,$D8
	dc.b	$43,$60
* Sequence 18, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$0F,$98,$D8
	dc.b	$34,$60
* Sequence 19, Channel 0:
	dc.b	$C0,$6D,$6A,$7E,$61,$0F,$98,$D8
	dc.b	$44,$60
* Sequence 20, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$0F,$98,$D8
	dc.b	$36,$60
* Sequence 21, Channel 0:
	dc.b	$C0,$6D,$6A,$7E,$61,$0F,$98,$D8
	dc.b	$45,$60
* Sequence 22, Channel 0:
	dc.b	$C0,$6D,$6A,$7E,$61,$0F,$98,$D8
	dc.b	$38,$60
* Sequence 23, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$0F,$98,$D8
	dc.b	$39,$60
* Sequence 24, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$0F,$98,$D8
	dc.b	$3A,$60
* Sequence 25, Channel 0:
	dc.b	$C0,$6D,$6A,$78,$61,$0F,$98,$D8
	dc.b	$3D,$60
* Sequence 26, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$4D,$B6,$F6
	dc.b	$30,$60
* Sequence 27, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$12,$83,$C4
	dc.b	$11,$84,$05,$60
* Sequence 28, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$12,$81,$C3
	dc.b	$11,$C1,$13,$60
* Sequence 29, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$1F,$81,$C1
	dc.b	$18,$60
* Sequence 30, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$20,$98,$D8
	dc.b	$00,$60
* Sequence 31, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$5F,$B0,$F0
	dc.b	$55,$60
* Sequence 32, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$19,$B0,$F0
	dc.b	$5D,$60
* Sequence 33, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$1B,$98,$D8
	dc.b	$5A,$60
* Sequence 34, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$26,$72,$05
	dc.b	$00,$98,$D8,$30,$60
* Sequence 35, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$27,$98,$D8
	dc.b	$30,$60
* Sequence 36, Channel 0:
	dc.b	$71,$09,$00,$01,$04,$C0,$6F,$11
	dc.b	$00,$C0,$63,$70,$09,$01,$6A,$7F
	dc.b	$6D,$61,$18,$8C,$CC,$5A,$C0,$70
	dc.b	$09,$00,$C0,$63,$60
* Sequence 37, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$25,$98,$D8
	dc.b	$30,$60
* Sequence 38, Channel 0:
	dc.b	$C0,$6D,$6A,$78,$61,$24,$8C,$CC
	dc.b	$30,$60
* Sequence 39, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$24,$98,$30
	dc.b	$C6,$61,$28,$D8,$5A,$60
* Sequence 40, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$18,$83,$5A
	dc.b	$C3,$61,$12,$84,$C0,$05,$C2,$61
	dc.b	$1A,$82,$5A,$81,$C1,$5A,$60
* Sequence 41, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$29,$8C,$CC
	dc.b	$30,$60
* Sequence 42, Channel 0:
	dc.b	$C0,$6A,$7C,$6D,$61,$2A,$8C,$CC
	dc.b	$30,$60
* Sequence 43, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$2B,$8C,$CC
	dc.b	$30,$60
* Sequence 44, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$3F,$60
* Sequence 45, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$0F,$98,$D8
	dc.b	$3E,$60
* Sequence 46, Channel 0:
	dc.b	$C0,$6A,$78,$6D,$61,$0F,$98,$D8
	dc.b	$3C,$60
* Sequence 47, Channel 0:
	dc.b	$C0,$6A,$78,$6D,$61,$0F,$6E,$06
	dc.b	$98,$D8,$3C,$60
* Sequence 48, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$40,$60
* Sequence 49, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$0F,$98,$D8
	dc.b	$3B,$60
* Sequence 50, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$0F,$98,$D8
	dc.b	$42,$60
* Sequence 51, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$66,$01,$62,$07
	dc.b	$61,$05,$90,$D0,$30,$60
* Sequence 52, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$66,$01,$62,$08
	dc.b	$61,$05,$90,$D0,$24,$60
* Sequence 53, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$2E,$98,$D8
	dc.b	$30,$60
* Sequence 54, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$2D,$72,$05
	dc.b	$05,$98,$D8,$30,$60
* Sequence 55, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$1E,$64,$7F
	dc.b	$C0,$63,$B0,$F0,$00,$C0,$65,$60
* Sequence 56, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$28,$98,$D8
	dc.b	$5A,$60
* Sequence 57, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$30,$BE,$FE
	dc.b	$30,$60
* Sequence 58, Channel 0:
	dc.b	$C0,$72,$05,$0A,$6A,$7F,$6D,$61
	dc.b	$31,$81,$C3,$00,$83,$0D,$60
* Sequence 59, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$32,$84,$C5
	dc.b	$31,$32,$30,$87,$C7,$34,$60
* Sequence 60, Channel 0:
	dc.b	$C0,$72,$00,$3D,$68,$74,$61,$81
	dc.b	$6A,$40,$C1,$EC,$72,$05,$07,$85
	dc.b	$C6,$32,$30,$D8,$2E,$C6,$30,$2E
	dc.b	$F0,$2D,$C6,$2B,$2D,$D8,$2E,$CC
	dc.b	$30,$F0,$2D,$C6,$2B,$2D,$D8,$2E
	dc.b	$CC,$30,$D8,$32,$CC,$2E,$D8,$30
	dc.b	$CC,$2D,$D8,$2E,$CC,$2B,$81,$B6
	dc.b	$C2,$C4,$2D,$85,$C6,$32,$30,$D8
	dc.b	$2E,$C6,$30,$2E,$F0,$2D,$C6,$2B
	dc.b	$2D,$D8,$2E,$CC,$30,$F0,$2D,$C6
	dc.b	$2B,$2D,$D8,$2E,$CC,$30,$D8,$32
	dc.b	$CC,$2E,$D8,$30,$CC,$2D,$D8,$2E
	dc.b	$C9,$2B,$81,$B8,$C4,$CA,$39,$C0
	dc.b	$72,$05,$0C,$83,$C1,$30,$C0,$72
	dc.b	$05,$1D,$C2,$72,$05,$21,$C1,$32
	dc.b	$C2,$72,$05,$1F,$C0,$72,$05,$1D
	dc.b	$C3,$33,$C0,$72,$05,$1A,$C3,$35
	dc.b	$C0,$72,$05,$18,$C3,$37,$C0,$72
	dc.b	$05,$15,$C2,$38,$C1,$72,$05,$13
	dc.b	$C2,$3A,$C1,$72,$05,$10,$C2,$3B
	dc.b	$C1,$72,$05,$0E,$C2,$3C,$C1,$72
	dc.b	$05,$0B,$3E,$C2,$72,$05,$09,$C1
	dc.b	$3F,$C2,$72,$05,$06,$C1,$41,$C2
	dc.b	$72,$05,$04,$C0,$72,$05,$01,$C3
	dc.b	$43,$C0,$72,$05,$06,$C3,$44,$C1
	dc.b	$46,$C2,$72,$05,$05,$C1,$47,$C2
	dc.b	$72,$05,$03,$C1,$4A,$C2,$CF,$72
	dc.b	$05,$01,$C0,$72,$05,$15,$C3,$36
	dc.b	$C0,$72,$05,$14,$C2,$37,$C1,$72
	dc.b	$05,$12,$C2,$39,$C1,$72,$05,$10
	dc.b	$C2,$3B,$C1,$72,$05,$0E,$3D,$C2
	dc.b	$72,$05,$0C,$C1,$3E,$C2,$72,$05
	dc.b	$0A,$C1,$40,$C2,$72,$05,$08,$C1
	dc.b	$43,$C2,$72,$05,$06,$C0,$72,$05
	dc.b	$11,$C2,$42,$C1,$72,$05,$10,$C2
	dc.b	$43,$C1,$72,$05,$0E,$C2,$45,$C1
	dc.b	$72,$05,$0C,$47,$C2,$72,$05,$0A
	dc.b	$C1,$49,$C2,$72,$05,$08,$C1,$4A
	dc.b	$C2,$72,$05,$06,$C1,$4C,$C2,$72
	dc.b	$05,$04,$C0,$72,$05,$02,$C3,$4E
	dc.b	$C0,$72,$05,$00,$C1,$4F,$CB,$72
	dc.b	$05,$0D,$86,$C6,$3E,$3C,$D8,$3A
	dc.b	$C6,$3C,$3A,$F0,$39,$C6,$37,$39
	dc.b	$D8,$3A,$CC,$3C,$F0,$39,$C6,$37
	dc.b	$39,$D8,$3A,$CC,$3C,$D8,$3E,$CC
	dc.b	$3A,$D8,$3C,$CC,$39,$D8,$3A,$CC
	dc.b	$37,$81,$B7,$C2,$C4,$39,$86,$C6
	dc.b	$3E,$3C,$D8,$3A,$C6,$3C,$3A,$F0
	dc.b	$39,$C6,$37,$39,$D8,$3A,$CC,$3C
	dc.b	$F0,$39,$C6,$37,$39,$D8,$3A,$CC
	dc.b	$3C,$D8,$3E,$CC,$3A,$D8,$3C,$CC
	dc.b	$39,$D8,$3A,$CC,$37,$81,$B7,$C4
	dc.b	$C7,$39,$C1,$72,$05,$0F,$83,$C2
	dc.b	$30,$C1,$72,$05,$0F,$C2,$32,$C1
	dc.b	$72,$05,$0E,$33,$C2,$72,$05,$0D
	dc.b	$C1,$35,$C2,$72,$05,$0C,$C1,$37
	dc.b	$C2,$72,$05,$0B,$C0,$72,$05,$0A
	dc.b	$C3,$38,$C0,$72,$05,$09,$C3,$3A
	dc.b	$C0,$72,$05,$08,$C2,$3B,$C1,$72
	dc.b	$05,$07,$C2,$3C,$C1,$72,$05,$06
	dc.b	$C2,$3E,$C1,$72,$05,$05,$3F,$C2
	dc.b	$72,$05,$04,$C1,$41,$C2,$72,$05
	dc.b	$03,$C1,$43,$C2,$72,$05,$02,$C0
	dc.b	$72,$05,$00,$C3,$44,$46,$C0,$72
	dc.b	$05,$00,$C3,$47,$C2,$D0,$4A,$C0
	dc.b	$72,$05,$0D,$C3,$36,$C0,$72,$05
	dc.b	$0C,$C3,$37,$C0,$72,$05,$0A,$C3
	dc.b	$39,$C0,$72,$05,$09,$C2,$3B,$C1
	dc.b	$72,$05,$07,$C2,$3D,$C1,$72,$05
	dc.b	$05,$C2,$3E,$C1,$72,$05,$04,$C2
	dc.b	$40,$C1,$72,$05,$02,$C2,$43,$C1
	dc.b	$72,$05,$0B,$C2,$42,$C1,$72,$05
	dc.b	$0A,$43,$C2,$72,$05,$09,$C1,$45
	dc.b	$C2,$72,$05,$08,$C1,$47,$C2,$72
	dc.b	$05,$07,$C1,$49,$C2,$72,$05,$05
	dc.b	$C1,$4A,$C2,$72,$05,$04,$C0,$72
	dc.b	$05,$03,$C3,$4C,$C0,$72,$05,$02
	dc.b	$C3,$4E,$C0,$72,$05,$00,$CC,$4F
	dc.b	$C0,$72,$05,$07,$87,$C6,$3E,$86
	dc.b	$C7,$3C,$85,$D7,$3A,$86,$C6,$3C
	dc.b	$3A,$87,$F0,$39,$86,$C6,$37,$39
	dc.b	$D8,$3A,$CC,$3C,$85,$F0,$39,$87
	dc.b	$C6,$37,$86,$39,$87,$D8,$3A,$85
	dc.b	$CC,$41,$C0,$3E,$86,$CC,$37,$85
	dc.b	$37,$C0,$43,$86,$CC,$37,$85,$C0
	dc.b	$3E,$86,$CC,$37,$85,$37,$C0,$45
	dc.b	$CC,$37,$C0,$3E,$CC,$37,$37,$C0
	dc.b	$45,$CC,$37,$97,$C0,$3E,$85,$CC
	dc.b	$37,$C1,$F8,$37,$87,$C6,$3E,$86
	dc.b	$C7,$3C,$85,$D7,$3A,$86,$C6,$3C
	dc.b	$3A,$87,$F0,$39,$86,$C6,$37,$39
	dc.b	$D8,$3A,$CC,$3C,$85,$F0,$39,$87
	dc.b	$C6,$37,$86,$39,$87,$D8,$3A,$85
	dc.b	$CC,$41,$3E,$37,$43,$3E,$37,$39
	dc.b	$3E,$37,$39,$97,$C1,$F9,$3E,$C0
	dc.b	$6B,$3D,$60
* Sequence 60, Channel 1:
	dc.b	$C0,$61,$82,$6A,$28,$C9,$CC,$72
	dc.b	$05,$11,$86,$C6,$3E,$3C,$D8,$3A
	dc.b	$C6,$3C,$3A,$F0,$39,$C6,$37,$39
	dc.b	$D8,$3A,$CC,$3C,$F0,$39,$C6,$37
	dc.b	$39,$D8,$3A,$CC,$3C,$D8,$3E,$CC
	dc.b	$3A,$D8,$3C,$CC,$39,$D8,$3A,$CC
	dc.b	$37,$81,$B6,$C1,$F7,$39,$C1,$72
	dc.b	$05,$11,$84,$CC,$37,$37,$37,$37
	dc.b	$37,$37,$37,$37,$37,$37,$37,$37
	dc.b	$37,$37,$37,$CB,$37,$C1,$72,$05
	dc.b	$07,$CC,$39,$39,$39,$39,$39,$39
	dc.b	$39,$39,$39,$39,$39,$39,$39,$39
	dc.b	$D2,$39,$39,$85,$C6,$3E,$3C,$D8
	dc.b	$3A,$C6,$3C,$3A,$F0,$39,$C6,$37
	dc.b	$39,$D8,$3A,$CC,$3C,$F0,$39,$C6
	dc.b	$37,$39,$D8,$3A,$CC,$3C,$D8,$3E
	dc.b	$CC,$3A,$D8,$3C,$CC,$39,$D8,$3A
	dc.b	$CC,$37,$81,$B6,$C2,$C4,$39,$85
	dc.b	$C6,$3E,$3C,$D8,$3A,$C6,$3C,$3A
	dc.b	$F0,$39,$C6,$37,$39,$D8,$3A,$CC
	dc.b	$3C,$F0,$39,$C6,$37,$39,$D8,$3A
	dc.b	$CC,$3C,$D8,$3E,$CC,$3A,$D8,$3C
	dc.b	$CC,$39,$D8,$3A,$CC,$37,$81,$B6
	dc.b	$C1,$F7,$39,$C1,$72,$05,$0C,$85
	dc.b	$CC,$3C,$3C,$3C,$3C,$3C,$3C,$3C
	dc.b	$3C,$3C,$3C,$3C,$3C,$3C,$3C,$3C
	dc.b	$3C,$3E,$3E,$3E,$3E,$3E,$3E,$3E
	dc.b	$3E,$3E,$3E,$3E,$3E,$3E,$3E,$D2
	dc.b	$3E,$3E,$C6,$3E,$3C,$D8,$3A,$C6
	dc.b	$3C,$3A,$F0,$39,$C6,$37,$39,$D8
	dc.b	$3A,$CC,$3C,$F0,$39,$C6,$37,$39
	dc.b	$D8,$3A,$CC,$3C,$D8,$3E,$CC,$3A
	dc.b	$D8,$3C,$CC,$39,$D8,$3A,$CC,$37
	dc.b	$81,$B6,$C2,$C4,$39,$85,$C6,$3E
	dc.b	$3C,$D8,$3A,$C6,$3C,$3A,$F0,$39
	dc.b	$C6,$37,$39,$D8,$3A,$CC,$3C,$F0
	dc.b	$39,$C6,$37,$39,$D8,$3A,$CC,$3C
	dc.b	$D8,$3E,$CC,$3A,$D8,$3C,$CC,$39
	dc.b	$D8,$3A,$CC,$37,$81,$B6,$C1,$F6
	dc.b	$39,$60
* Sequence 60, Channel 2:
	dc.b	$C0,$72,$05,$0B,$6A,$40,$C9,$CC
	dc.b	$61,$83,$86,$C6,$3A,$85,$39,$88
	dc.b	$D8,$37,$86,$C6,$39,$37,$89,$F0
	dc.b	$36,$86,$C6,$34,$36,$89,$D8,$37
	dc.b	$87,$CC,$39,$F0,$36,$84,$C6,$34
	dc.b	$86,$36,$89,$D8,$37,$86,$CC,$39
	dc.b	$8A,$D8,$3A,$87,$CC,$37,$89,$D8
	dc.b	$39,$86,$CC,$36,$88,$D8,$37,$CC
	dc.b	$34,$81,$B7,$C1,$F7,$36,$C1,$72
	dc.b	$05,$11,$84,$CC,$33,$33,$33,$33
	dc.b	$33,$33,$33,$33,$33,$33,$33,$33
	dc.b	$33,$33,$33,$CB,$33,$C1,$72,$05
	dc.b	$07,$CC,$36,$36,$36,$36,$36,$36
	dc.b	$36,$36,$36,$36,$36,$36,$36,$36
	dc.b	$36,$D8,$36,$86,$C6,$3A,$85,$39
	dc.b	$88,$D8,$37,$86,$C6,$39,$37,$89
	dc.b	$F0,$36,$86,$C6,$34,$36,$89,$D8
	dc.b	$37,$87,$CC,$39,$F0,$36,$84,$C6
	dc.b	$34,$86,$36,$89,$D8,$37,$86,$CC
	dc.b	$39,$8A,$D8,$3A,$87,$CC,$37,$89
	dc.b	$D8,$39,$86,$CC,$36,$88,$D8,$37
	dc.b	$CC,$34,$81,$B7,$C2,$C4,$36,$86
	dc.b	$C6,$3A,$85,$39,$88,$D8,$37,$86
	dc.b	$C6,$39,$37,$89,$F0,$36,$86,$C6
	dc.b	$34,$36,$89,$D8,$37,$87,$CC,$39
	dc.b	$F0,$36,$84,$C6,$34,$86,$36,$89
	dc.b	$D8,$37,$86,$CC,$39,$8A,$D8,$3A
	dc.b	$87,$CC,$37,$89,$D8,$39,$86,$CC
	dc.b	$36,$88,$D8,$37,$CC,$34,$81,$B7
	dc.b	$C1,$F9,$36,$C0,$72,$05,$00,$84
	dc.b	$CC,$33,$83,$CA,$33,$85,$CC,$33
	dc.b	$33,$84,$33,$85,$CD,$33,$84,$CB
	dc.b	$33,$CD,$33,$CC,$33,$33,$33,$33
	dc.b	$85,$33,$84,$33,$85,$CD,$33,$84
	dc.b	$CB,$33,$85,$CC,$36,$84,$36,$36
	dc.b	$CB,$36,$CC,$36,$CB,$36,$85,$CC
	dc.b	$36,$84,$36,$85,$36,$36,$CD,$36
	dc.b	$84,$CC,$36,$36,$CD,$36,$85,$CE
	dc.b	$36,$84,$D5,$36,$C1,$72,$05,$11
	dc.b	$86,$C6,$3A,$85,$39,$88,$D8,$37
	dc.b	$86,$C6,$39,$37,$89,$F0,$36,$86
	dc.b	$C6,$34,$36,$89,$D8,$37,$87,$CC
	dc.b	$39,$F0,$36,$84,$C6,$34,$86,$36
	dc.b	$89,$D8,$37,$86,$CC,$39,$8A,$D8
	dc.b	$3A,$87,$CC,$37,$89,$D8,$39,$86
	dc.b	$CC,$36,$88,$D8,$37,$CC,$34,$81
	dc.b	$B7,$C2,$C4,$36,$86,$C6,$3A,$85
	dc.b	$39,$88,$D8,$37,$86,$C6,$39,$37
	dc.b	$89,$F0,$36,$86,$C6,$34,$36,$89
	dc.b	$D8,$37,$87,$CC,$39,$F0,$36,$84
	dc.b	$C6,$34,$86,$36,$89,$D8,$37,$86
	dc.b	$CC,$39,$8A,$D8,$3A,$87,$CC,$37
	dc.b	$89,$D8,$39,$86,$CC,$36,$88,$D8
	dc.b	$37,$CC,$34,$81,$B7,$C1,$F7,$36
	dc.b	$60
* Sequence 60, Channel 3:
	dc.b	$C0,$61,$8C,$72,$05,$07,$D1,$E8
	dc.b	$6A,$40,$95,$D8,$37,$AF,$F0,$30
	dc.b	$B2,$C1,$F8,$33,$97,$D9,$37,$AE
	dc.b	$EF,$39,$AA,$F0,$36,$90,$C7,$EC
	dc.b	$37,$86,$C6,$32,$85,$30,$88,$D8
	dc.b	$2E,$86,$C6,$30,$2E,$89,$F0,$2D
	dc.b	$86,$C6,$2B,$2D,$89,$D8,$2E,$87
	dc.b	$CC,$30,$F0,$2D,$84,$C6,$2B,$86
	dc.b	$2D,$89,$D8,$2E,$86,$CC,$30,$8A
	dc.b	$D8,$32,$87,$CC,$2E,$89,$D8,$30
	dc.b	$86,$CC,$2D,$88,$D8,$2E,$CC,$2B
	dc.b	$81,$B7,$C1,$F8,$2D,$C0,$61,$84
	dc.b	$C1,$C8,$72,$05,$07,$95,$C0,$33
	dc.b	$D8,$37,$AF,$C0,$2B,$F0,$30,$C0
	dc.b	$30,$C1,$F8,$33,$95,$C0,$32,$D7
	dc.b	$37,$C1,$6A,$50,$AE,$C0,$36,$F0
	dc.b	$39,$C0,$6A,$40,$AA,$32,$F0,$36
	dc.b	$8A,$CB,$37,$C0,$61,$80,$C1,$72
	dc.b	$05,$0C,$86,$C6,$2E,$85,$2D,$88
	dc.b	$D8,$2B,$86,$C6,$2D,$2B,$89,$F0
	dc.b	$2A,$86,$C6,$28,$2A,$89,$D8,$2B
	dc.b	$87,$CC,$2D,$F0,$2A,$84,$C6,$28
	dc.b	$86,$2A,$89,$D8,$2B,$86,$CC,$2D
	dc.b	$8A,$D8,$2E,$87,$CC,$2B,$89,$D8
	dc.b	$2D,$86,$CC,$2A,$88,$D8,$2B,$CC
	dc.b	$28,$81,$B7,$C2,$C3,$2A,$C1,$72
	dc.b	$05,$0A,$86,$C0,$2E,$C6,$32,$85
	dc.b	$C0,$2D,$C6,$30,$88,$C0,$2B,$D8
	dc.b	$2E,$86,$C0,$2D,$C6,$30,$C0,$2B
	dc.b	$C6,$2E,$89,$C0,$2A,$F0,$2D,$86
	dc.b	$C0,$28,$C6,$2B,$C0,$2A,$C6,$2D
	dc.b	$89,$C0,$2B,$D8,$2E,$87,$C0,$2D
	dc.b	$CC,$30,$C0,$2A,$F0,$2D,$84,$C0
	dc.b	$28,$C6,$2B,$86,$C0,$2A,$C6,$2D
	dc.b	$89,$C0,$2B,$D8,$2E,$86,$C0,$2D
	dc.b	$CC,$30,$8A,$C0,$2E,$D8,$32,$87
	dc.b	$C0,$2B,$CC,$2E,$89,$C0,$2D,$D8
	dc.b	$30,$86,$C0,$2A,$CC,$2D,$88,$C0
	dc.b	$2B,$D8,$2E,$C0,$28,$CC,$2B,$81
	dc.b	$B7,$C1,$F7,$2A,$60
* Sequence 60, Channel 4:
	dc.b	$C0,$61,$89,$6A,$32,$72,$05,$08
	dc.b	$84,$CB,$13,$C1,$72,$05,$0C,$CB
	dc.b	$13,$C1,$72,$05,$0A,$CB,$13,$C1
	dc.b	$72,$05,$0F,$CB,$13,$C1,$72,$05
	dc.b	$0D,$CB,$13,$C1,$72,$05,$09,$CB
	dc.b	$13,$C1,$72,$05,$0B,$CB,$13,$C1
	dc.b	$72,$05,$09,$CC,$13,$C0,$72,$05
	dc.b	$08,$CB,$13,$C1,$72,$05,$0C,$CB
	dc.b	$13,$C1,$72,$05,$0A,$CB,$13,$C1
	dc.b	$72,$05,$0F,$CB,$13,$C1,$72,$05
	dc.b	$0D,$CB,$13,$C1,$72,$05,$09,$CB
	dc.b	$13,$C1,$72,$05,$0B,$CB,$13,$C1
	dc.b	$72,$05,$09,$CC,$13,$C0,$72,$05
	dc.b	$08,$CB,$13,$C1,$72,$05,$0C,$CB
	dc.b	$13,$C1,$72,$05,$0A,$CB,$13,$C1
	dc.b	$72,$05,$0F,$CB,$13,$C1,$72,$05
	dc.b	$0D,$CB,$13,$C1,$72,$05,$09,$CB
	dc.b	$13,$C1,$72,$05,$0B,$CB,$13,$C1
	dc.b	$72,$05,$09,$CC,$13,$C0,$72,$05
	dc.b	$08,$CB,$13,$C1,$72,$05,$0C,$CB
	dc.b	$13,$C1,$72,$05,$0A,$CB,$13,$C1
	dc.b	$72,$05,$0F,$CB,$13,$C1,$72,$05
	dc.b	$0D,$CB,$13,$C1,$72,$05,$09,$CB
	dc.b	$13,$C1,$72,$05,$0B,$CB,$13,$C1
	dc.b	$72,$05,$09,$CC,$13,$C0,$72,$05
	dc.b	$08,$CB,$13,$C1,$72,$05,$0C,$CB
	dc.b	$13,$C1,$72,$05,$0A,$CB,$13,$C1
	dc.b	$72,$05,$0F,$CB,$13,$C1,$72,$05
	dc.b	$0D,$CB,$13,$C1,$72,$05,$09,$CB
	dc.b	$13,$C1,$72,$05,$0B,$CB,$13,$C1
	dc.b	$72,$05,$09,$CC,$13,$C0,$72,$05
	dc.b	$08,$CB,$13,$C1,$72,$05,$0C,$CB
	dc.b	$13,$C1,$72,$05,$0A,$CB,$13,$C1
	dc.b	$72,$05,$0F,$CB,$13,$C1,$72,$05
	dc.b	$0D,$CB,$13,$C1,$72,$05,$09,$CB
	dc.b	$13,$C1,$72,$05,$0B,$CB,$13,$C1
	dc.b	$72,$05,$09,$CC,$13,$C0,$72,$05
	dc.b	$08,$CB,$13,$C1,$72,$05,$0C,$CB
	dc.b	$13,$C1,$72,$05,$0A,$CB,$13,$C1
	dc.b	$72,$05,$0F,$CB,$13,$C1,$72,$05
	dc.b	$0D,$CB,$13,$C1,$72,$05,$09,$CB
	dc.b	$13,$C1,$72,$05,$0B,$CB,$13,$C1
	dc.b	$72,$05,$09,$CC,$13,$C0,$72,$05
	dc.b	$08,$CB,$13,$C1,$72,$05,$0C,$CB
	dc.b	$13,$C1,$72,$05,$0A,$CB,$13,$C1
	dc.b	$72,$05,$0F,$CB,$13,$C1,$72,$05
	dc.b	$0D,$CB,$13,$C1,$72,$05,$09,$CB
	dc.b	$13,$C1,$72,$05,$0B,$CB,$13,$C1
	dc.b	$72,$05,$09,$CC,$13,$C0,$72,$05
	dc.b	$08,$CB,$13,$C1,$72,$05,$0C,$CB
	dc.b	$13,$C1,$72,$05,$0A,$CB,$13,$C1
	dc.b	$72,$05,$0F,$CB,$13,$C1,$72,$05
	dc.b	$0D,$CB,$13,$C1,$72,$05,$09,$CB
	dc.b	$13,$C1,$72,$05,$0B,$CB,$13,$C1
	dc.b	$72,$05,$09,$CC,$13,$C0,$72,$05
	dc.b	$08,$CB,$13,$C1,$72,$05,$0C,$CB
	dc.b	$13,$C1,$72,$05,$0A,$CB,$13,$C1
	dc.b	$72,$05,$0F,$CB,$13,$C1,$72,$05
	dc.b	$0D,$CB,$13,$C1,$72,$05,$09,$CB
	dc.b	$13,$C1,$72,$05,$0B,$CB,$13,$C1
	dc.b	$72,$05,$09,$CB,$13,$C1,$72,$05
	dc.b	$07,$CB,$15,$C1,$72,$05,$0D,$CB
	dc.b	$15,$C1,$72,$05,$0A,$CB,$15,$C1
	dc.b	$72,$05,$0B,$CB,$15,$C1,$72,$05
	dc.b	$0E,$CB,$15,$C1,$72,$05,$09,$CB
	dc.b	$15,$C1,$72,$05,$0C,$CB,$15,$C1
	dc.b	$72,$05,$0E,$CB,$15,$C1,$72,$05
	dc.b	$07,$87,$E4,$0C,$84,$CC,$13,$87
	dc.b	$E4,$0C,$84,$CC,$13,$87,$E4,$0C
	dc.b	$85,$CC,$13,$87,$E4,$0C,$85,$CC
	dc.b	$13,$86,$E4,$0E,$84,$CC,$15,$87
	dc.b	$E4,$0E,$84,$CC,$15,$88,$E4,$0E
	dc.b	$85,$CC,$15,$87,$F0,$0E,$84,$CC
	dc.b	$13,$13,$13,$13,$13,$13,$13,$13
	dc.b	$13,$13,$13,$13,$13,$13,$13,$13
	dc.b	$13,$13,$13,$13,$13,$13,$13,$13
	dc.b	$13,$13,$13,$13,$13,$13,$15,$15
	dc.b	$15,$15,$15,$15,$15,$15,$15,$15
	dc.b	$13,$13,$13,$13,$13,$13,$13,$13
	dc.b	$13,$13,$13,$13,$13,$13,$13,$13
	dc.b	$13,$13,$13,$13,$13,$13,$13,$13
	dc.b	$13,$13,$13,$13,$13,$13,$15,$15
	dc.b	$15,$15,$15,$15,$15,$15,$15,$C4
	dc.b	$EC,$15,$C1,$E0,$61,$87,$83,$CC
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$21,$21
	dc.b	$21,$21,$21,$21,$21,$21,$21,$21
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$21,$21
	dc.b	$21,$21,$21,$21,$21,$21,$21,$C3
	dc.b	$21,$60
* Sequence 60, Channel 5:
	dc.b	$C0,$61,$90,$6A,$40,$72,$05,$0C
	dc.b	$84,$CB,$1F,$C1,$72,$05,$0D,$CB
	dc.b	$1F,$C1,$72,$05,$0A,$CB,$1F,$C1
	dc.b	$72,$05,$0C,$CB,$1F,$C1,$72,$05
	dc.b	$0A,$CB,$1F,$C1,$72,$05,$08,$CB
	dc.b	$1F,$C1,$72,$05,$0E,$CB,$1F,$C1
	dc.b	$72,$05,$07,$CC,$1F,$C0,$72,$05
	dc.b	$0C,$CB,$1F,$C1,$72,$05,$0D,$CB
	dc.b	$1F,$C1,$72,$05,$0A,$CB,$1F,$C1
	dc.b	$72,$05,$0C,$CB,$1F,$C1,$72,$05
	dc.b	$0A,$CB,$1F,$C1,$72,$05,$08,$CB
	dc.b	$1F,$C1,$72,$05,$0E,$CB,$1F,$C1
	dc.b	$72,$05,$07,$CC,$1F,$C0,$72,$05
	dc.b	$0C,$CB,$1F,$C1,$72,$05,$0D,$CB
	dc.b	$1F,$C1,$72,$05,$0A,$CB,$1F,$C1
	dc.b	$72,$05,$0C,$CB,$1F,$C1,$72,$05
	dc.b	$0A,$CB,$1F,$C1,$72,$05,$08,$CB
	dc.b	$1F,$C1,$72,$05,$0E,$CB,$1F,$C1
	dc.b	$72,$05,$07,$CC,$1F,$C0,$72,$05
	dc.b	$0C,$CB,$1F,$C1,$72,$05,$0D,$CB
	dc.b	$1F,$C1,$72,$05,$0A,$CB,$1F,$C1
	dc.b	$72,$05,$0C,$CB,$1F,$C1,$72,$05
	dc.b	$0A,$CB,$1F,$C1,$72,$05,$08,$CB
	dc.b	$1F,$C1,$72,$05,$0E,$CB,$1F,$C1
	dc.b	$72,$05,$07,$CC,$1F,$C0,$72,$05
	dc.b	$0C,$CB,$1F,$C1,$72,$05,$0D,$CB
	dc.b	$1F,$C1,$72,$05,$0A,$CB,$1F,$C1
	dc.b	$72,$05,$0C,$CB,$1F,$C1,$72,$05
	dc.b	$0A,$CB,$1F,$C1,$72,$05,$08,$CB
	dc.b	$1F,$C1,$72,$05,$0E,$CB,$1F,$C1
	dc.b	$72,$05,$07,$CC,$1F,$C0,$72,$05
	dc.b	$0C,$CB,$1F,$C1,$72,$05,$0D,$CB
	dc.b	$1F,$C1,$72,$05,$0A,$CB,$1F,$C1
	dc.b	$72,$05,$0C,$CB,$1F,$C1,$72,$05
	dc.b	$0A,$CB,$1F,$C1,$72,$05,$08,$CB
	dc.b	$1F,$C1,$72,$05,$0E,$CB,$1F,$C1
	dc.b	$72,$05,$07,$CC,$1F,$C0,$72,$05
	dc.b	$0C,$CB,$1F,$C1,$72,$05,$0D,$CB
	dc.b	$1F,$C1,$72,$05,$0A,$CB,$1F,$C1
	dc.b	$72,$05,$0C,$CB,$1F,$C1,$72,$05
	dc.b	$0A,$CB,$1F,$C1,$72,$05,$08,$CB
	dc.b	$1F,$C1,$72,$05,$0E,$CB,$1F,$C1
	dc.b	$72,$05,$07,$CC,$1F,$C0,$72,$05
	dc.b	$0C,$CB,$1F,$C1,$72,$05,$0D,$CB
	dc.b	$1F,$C1,$72,$05,$0A,$CB,$1F,$C1
	dc.b	$72,$05,$0C,$CB,$1F,$C1,$72,$05
	dc.b	$0A,$CB,$1F,$C1,$72,$05,$08,$CB
	dc.b	$1F,$C1,$72,$05,$0E,$CB,$1F,$C1
	dc.b	$72,$05,$07,$CC,$1F,$C0,$72,$05
	dc.b	$0C,$CB,$1F,$C1,$72,$05,$0D,$CB
	dc.b	$1F,$C1,$72,$05,$0A,$CB,$1F,$C1
	dc.b	$72,$05,$0C,$CB,$1F,$C1,$72,$05
	dc.b	$0A,$CB,$1F,$C1,$72,$05,$08,$CB
	dc.b	$1F,$C1,$72,$05,$0E,$CB,$1F,$C1
	dc.b	$72,$05,$07,$CC,$1F,$C0,$72,$05
	dc.b	$0C,$CB,$1F,$C1,$72,$05,$0D,$CB
	dc.b	$1F,$C1,$72,$05,$0A,$CB,$1F,$C1
	dc.b	$72,$05,$0C,$CB,$1F,$C1,$72,$05
	dc.b	$0A,$CB,$1F,$C1,$72,$05,$08,$CB
	dc.b	$1F,$C1,$72,$05,$0E,$CB,$1F,$C1
	dc.b	$72,$05,$07,$CB,$1F,$C1,$72,$05
	dc.b	$0A,$CB,$21,$C1,$72,$05,$0C,$CB
	dc.b	$21,$C1,$72,$05,$08,$CB,$21,$C1
	dc.b	$72,$05,$0D,$CB,$21,$C1,$72,$05
	dc.b	$07,$CB,$21,$C1,$72,$05,$0B,$CB
	dc.b	$21,$C1,$72,$05,$0D,$CB,$21,$C1
	dc.b	$72,$05,$0A,$C3,$C0,$21,$86,$CC
	dc.b	$1F,$E4,$1A,$CC,$21,$E4,$1A,$CC
	dc.b	$21,$E4,$1A,$CC,$21,$E4,$1A,$CC
	dc.b	$21,$84,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$21,$21,$21,$21,$21,$21,$21,$21
	dc.b	$21,$21,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$21,$21,$21,$21,$21,$21,$21,$21
	dc.b	$21,$21,$81,$9A,$C1,$E0,$24,$81
	dc.b	$99,$24,$AC,$F0,$26,$AA,$26,$AB
	dc.b	$26,$A9,$E9,$26,$60
* Sequence 60, Channel 6:
	dc.b	$D2,$EF,$61,$8A,$83,$C3,$30,$32
	dc.b	$33,$35,$37,$38,$3A,$3B,$3C,$3E
	dc.b	$3F,$41,$43,$44,$46,$47,$C2,$D0
	dc.b	$4A,$C3,$36,$37,$39,$3B,$3D,$3E
	dc.b	$40,$43,$42,$43,$45,$47,$49,$4A
	dc.b	$4C,$4E,$C1,$4F,$90,$C4,$C8,$37
	dc.b	$84,$CC,$3A,$3A,$85,$3C,$3C,$84
	dc.b	$39,$3A,$3A,$37,$39,$39,$39,$39
	dc.b	$39,$39,$39,$39,$39,$39,$C4,$C8
	dc.b	$39,$CC,$2E,$2E,$85,$30,$30,$84
	dc.b	$2D,$2E,$2E,$2B,$2D,$2D,$2D,$2D
	dc.b	$2D,$2D,$2D,$2D,$2D,$2D,$C1,$C8
	dc.b	$2D,$95,$C0,$37,$D8,$33,$AF,$C0
	dc.b	$30,$EF,$2B,$81,$C1,$30,$82,$C0
	dc.b	$33,$B2,$C2,$30,$83,$C3,$32,$AD
	dc.b	$33,$83,$35,$37,$38,$3A,$3B,$3C
	dc.b	$3E,$3F,$41,$43,$44,$46,$47,$C1
	dc.b	$C9,$4A,$98,$C0,$37,$D8,$32,$AE
	dc.b	$C0,$39,$EF,$36,$81,$C1,$36,$AA
	dc.b	$C0,$36,$C2,$32,$83,$C3,$37,$39
	dc.b	$3B,$3D,$3E,$40,$43,$42,$43,$45
	dc.b	$47,$49,$4A,$4C,$4E,$C1,$4F,$90
	dc.b	$C0,$37,$CB,$33,$87,$C1,$3E,$86
	dc.b	$C5,$3A,$C1,$3C,$85,$C6,$39,$C0
	dc.b	$3A,$88,$D7,$37,$86,$C1,$3C,$C5
	dc.b	$39,$C1,$3A,$C5,$37,$87,$C1,$39
	dc.b	$89,$EF,$36,$86,$C6,$37,$39,$D8
	dc.b	$3A,$CC,$3C,$85,$F1,$39,$86,$C6
	dc.b	$37,$39,$D8,$3A,$84,$CC,$41,$3E
	dc.b	$37,$43,$85,$3E,$84,$37,$45,$3E
	dc.b	$37,$45,$96,$D8,$3E,$85,$CC,$39
	dc.b	$34,$84,$34,$87,$D8,$39,$85,$CC
	dc.b	$34,$8A,$E4,$39,$86,$C6,$3E,$85
	dc.b	$3C,$D8,$3A,$86,$C6,$3C,$3A,$F0
	dc.b	$39,$C6,$37,$39,$85,$D8,$3A,$CC
	dc.b	$3C,$84,$F0,$39,$86,$C6,$37,$39
	dc.b	$D8,$3A,$84,$CC,$41,$3E,$37,$43
	dc.b	$85,$3E,$84,$37,$45,$3E,$37,$45
	dc.b	$96,$D8,$3E,$85,$CC,$39,$34,$84
	dc.b	$34,$87,$D8,$39,$85,$CC,$34,$8A
	dc.b	$CA,$39,$60
* Sequence 60, Channel 7:
	dc.b	$C0,$61,$0F,$6A,$46,$91,$C6,$C0
	dc.b	$30,$8B,$D8,$30,$8A,$CC,$31,$D8
	dc.b	$30,$CC,$31,$96,$D8,$30,$98,$C6
	dc.b	$C0,$30,$8B,$D8,$30,$8A,$CC,$31
	dc.b	$D8,$30,$CC,$31,$96,$C1,$F8,$30
	dc.b	$95,$C2,$E8,$33,$96,$D8,$33,$81
	dc.b	$93,$C1,$E0,$30,$81,$9F,$33,$9D
	dc.b	$C6,$C0,$35,$A2,$E4,$33,$96,$D8
	dc.b	$33,$8B,$CC,$30,$96,$D8,$33,$81
	dc.b	$9D,$C6,$C0,$33,$8A,$CC,$33,$8B
	dc.b	$30,$30,$95,$D8,$33,$8A,$CC,$30
	dc.b	$96,$D8,$33,$95,$C2,$E8,$30,$96
	dc.b	$D8,$33,$81,$93,$C1,$E0,$30,$8D
	dc.b	$C1,$DF,$32,$86,$C1,$D5,$30,$97
	dc.b	$C1,$E0,$35,$C3,$CC,$30,$89,$CC
	dc.b	$33,$30,$30,$97,$D8,$33,$88,$CC
	dc.b	$30,$95,$D8,$33,$81,$91,$C1,$D4
	dc.b	$35,$8B,$C1,$E0,$30,$C3,$CC,$35
	dc.b	$89,$CC,$33,$30,$30,$97,$D8,$33
	dc.b	$88,$CC,$30,$95,$D5,$33,$60
* Sequence 60, Channel 8:
	dc.b	$EC,$F4,$61,$8F,$C4,$EC,$6A,$32
	dc.b	$85,$CC,$39,$34,$84,$34,$87,$D8
	dc.b	$39,$85,$CC,$34,$8A,$C6,$D8,$39
	dc.b	$85,$CC,$39,$34,$84,$34,$87,$D8
	dc.b	$39,$85,$CC,$34,$8A,$CA,$39,$60
* Sequence 60, Channel 9:
	dc.b	$C0,$61,$89,$6A,$00,$C1,$EC,$72
	dc.b	$05,$0C,$86,$C6,$26,$85,$24,$D8
	dc.b	$22,$86,$C6,$24,$22,$F0,$21,$C6
	dc.b	$1F,$21,$85,$D8,$22,$CC,$24,$84
	dc.b	$F0,$21,$C6,$1F,$86,$21,$D8,$22
	dc.b	$84,$CC,$24,$86,$D8,$26,$84,$CC
	dc.b	$22,$85,$D8,$24,$84,$CC,$21,$D8
	dc.b	$22,$CC,$1F,$96,$C5,$C4,$21,$83
	dc.b	$C0,$2B,$C6,$28,$C0,$2D,$C6,$2A
	dc.b	$C0,$2E,$D8,$2B,$C0,$30,$CC,$2D
	dc.b	$C0,$32,$D8,$2E,$C0,$2E,$CC,$2B
	dc.b	$C0,$30,$D8,$2D,$C0,$2D,$CC,$2A
	dc.b	$C0,$2E,$D8,$2B,$C0,$2B,$E4,$28
	dc.b	$C0,$61,$87,$6A,$40,$C1,$E0,$72
	dc.b	$05,$1C,$87,$CC,$24,$24,$24,$84
	dc.b	$2B,$87,$24,$24,$24,$84,$2B,$87
	dc.b	$24,$24,$24,$85,$2B,$87,$24,$24
	dc.b	$24,$85,$2B,$26,$26,$26,$2D,$26
	dc.b	$26,$26,$2D,$26,$26,$C8,$26,$C4
	dc.b	$72,$05,$1B,$CC,$2D,$83,$C3,$12
	dc.b	$13,$15,$17,$19,$1A,$1C,$1F,$1E
	dc.b	$1F,$21,$23,$25,$26,$28,$E6,$2A
	dc.b	$CE,$DD,$72,$05,$11,$85,$CC,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$21
	dc.b	$21,$21,$21,$21,$21,$21,$21,$21
	dc.b	$21,$21,$21,$C0,$72,$05,$09,$81
	dc.b	$C3,$12,$13,$15,$17,$19,$1A,$1C
	dc.b	$1F,$1E,$1F,$21,$23,$25,$26,$28
	dc.b	$C4,$2A,$C0,$72,$05,$09,$60
* Sequence 61, Channel 0:
	dc.b	$C0,$72,$00,$3C,$72,$05,$19,$61
	dc.b	$81,$83,$C2,$37,$C1,$39,$C2,$72
	dc.b	$05,$19,$3A,$C1,$72,$05,$18,$C3
	dc.b	$3C,$C0,$72,$05,$17,$C3,$3E,$C1
	dc.b	$3A,$C2,$72,$05,$16,$3C,$C1,$72
	dc.b	$05,$15,$C2,$3E,$C1,$72,$05,$14
	dc.b	$C3,$41,$C0,$72,$05,$13,$C3,$40
	dc.b	$C1,$3E,$C2,$72,$05,$12,$40,$C1
	dc.b	$72,$05,$11,$C3,$41,$C0,$72,$05
	dc.b	$10,$C3,$43,$C0,$72,$05,$0F,$C3
	dc.b	$45,$C1,$46,$C2,$72,$05,$0E,$45
	dc.b	$C1,$72,$05,$0D,$C3,$43,$C0,$72
	dc.b	$05,$0C,$C3,$45,$C1,$46,$C2,$72
	dc.b	$05,$0B,$C1,$48,$C2,$72,$05,$0A
	dc.b	$4A,$C1,$72,$05,$09,$C3,$48,$C0
	dc.b	$72,$05,$08,$C3,$46,$C1,$45,$C2
	dc.b	$72,$05,$07,$46,$C1,$72,$05,$06
	dc.b	$C2,$48,$C1,$72,$05,$05,$C3,$4A
	dc.b	$C0,$72,$05,$04,$C3,$48,$C1,$4C
	dc.b	$C2,$72,$05,$03,$4A,$C1,$72,$05
	dc.b	$02,$C3,$4D,$C4,$DE,$72,$05,$0C
	dc.b	$C2,$72,$05,$0D,$85,$CC,$45,$C1
	dc.b	$72,$05,$0C,$86,$C6,$43,$C0,$45
	dc.b	$C6,$72,$05,$0B,$C1,$47,$C7,$72
	dc.b	$05,$0A,$C4,$72,$05,$09,$C3,$43
	dc.b	$72,$05,$08,$C5,$45,$C1,$72,$05
	dc.b	$07,$C6,$47,$72,$05,$06,$C1,$43
	dc.b	$C5,$72,$05,$05,$C2,$45,$C4,$72
	dc.b	$05,$04,$C3,$47,$C7,$72,$05,$03
	dc.b	$C1,$72,$05,$02,$87,$C6,$43,$F7
	dc.b	$72,$05,$11,$83,$C3,$3C,$3C,$3B
	dc.b	$3B,$39,$39,$37,$37,$40,$40,$3C
	dc.b	$3C,$3B,$3B,$39,$F3,$39,$C3,$3C
	dc.b	$3C,$3B,$3B,$39,$39,$37,$37,$39
	dc.b	$39,$3B,$3B,$3C,$3C,$40,$F3,$40
	dc.b	$C3,$37,$37,$39,$39,$3B,$3B,$3C
	dc.b	$3C,$39,$39,$3B,$3B,$3C,$3C,$40
	dc.b	$C2,$40,$85,$C1,$45,$CC,$72,$05
	dc.b	$0D,$86,$C2,$43,$C4,$72,$05,$0C
	dc.b	$45,$C2,$72,$05,$0B,$C5,$47,$C7
	dc.b	$72,$05,$0A,$C0,$43,$C6,$72,$05
	dc.b	$09,$C2,$45,$C4,$72,$05,$08,$C3
	dc.b	$47,$C9,$72,$05,$07,$C6,$43,$C0
	dc.b	$45,$C6,$72,$05,$05,$C9,$47,$C2
	dc.b	$72,$05,$03,$87,$C5,$43,$C7,$72
	dc.b	$05,$02,$C4,$E0,$72,$05,$00,$85
	dc.b	$C5,$45,$C7,$72,$05,$0D,$C1,$72
	dc.b	$05,$0C,$86,$C6,$43,$C0,$45,$C6
	dc.b	$72,$05,$0B,$C1,$47,$C7,$72,$05
	dc.b	$0A,$C4,$72,$05,$09,$C3,$43,$72
	dc.b	$05,$08,$C5,$45,$C1,$72,$05,$07
	dc.b	$C6,$47,$72,$05,$06,$C1,$43,$C5
	dc.b	$72,$05,$05,$C2,$45,$C4,$72,$05
	dc.b	$04,$C3,$47,$C7,$72,$05,$03,$C1
	dc.b	$72,$05,$02,$87,$C6,$43,$C4,$DB
	dc.b	$72,$05,$00,$CB,$72,$05,$0D,$85
	dc.b	$C2,$45,$CB,$72,$05,$0D,$86,$C3
	dc.b	$43,$72,$05,$0C,$C6,$45,$C4,$47
	dc.b	$C8,$72,$05,$0B,$C6,$43,$C0,$72
	dc.b	$05,$0A,$C6,$45,$C7,$47,$C5,$72
	dc.b	$05,$09,$C6,$43,$C3,$45,$72,$05
	dc.b	$08,$CA,$47,$C1,$72,$05,$07,$87
	dc.b	$CC,$43,$C3,$C0,$72,$05,$05,$CC
	dc.b	$3E,$86,$D8,$3D,$87,$CC,$3E,$85
	dc.b	$D8,$3D,$86,$CC,$3E,$85,$D8,$3D
	dc.b	$86,$CC,$3E,$85,$D8,$3D,$86,$CC
	dc.b	$3E,$84,$3D,$86,$3E,$85,$3D,$87
	dc.b	$C1,$43,$CB,$72,$05,$0F,$86,$D8
	dc.b	$42,$87,$CC,$43,$85,$D8,$42,$86
	dc.b	$CC,$43,$85,$D8,$42,$86,$CC,$43
	dc.b	$85,$D8,$42,$86,$CC,$43,$84,$42
	dc.b	$86,$43,$85,$CD,$42,$C0,$6B,$3C
	dc.b	$60
* Sequence 61, Channel 1:
	dc.b	$C0,$72,$05,$0F,$61,$87,$83,$C3
	dc.b	$29,$26,$28,$24,$26,$24,$22,$21
	dc.b	$22,$24,$26,$24,$22,$21,$1F,$21
	dc.b	$22,$21,$1F,$1D,$1C,$1A,$1C,$1D
	dc.b	$1A,$18,$16,$1A,$18,$16,$15,$D6
	dc.b	$E3,$13,$C0,$61,$83,$C1,$E0,$72
	dc.b	$05,$0C,$8C,$C0,$3A,$CC,$37,$86
	dc.b	$C0,$39,$D8,$36,$8C,$C0,$3A,$CC
	dc.b	$37,$86,$C0,$39,$D8,$36,$8C,$C0
	dc.b	$3A,$CC,$37,$86,$C0,$39,$D8,$36
	dc.b	$8C,$C0,$37,$CC,$3A,$86,$C0,$39
	dc.b	$D8,$36,$8C,$C0,$37,$CC,$3A,$86
	dc.b	$C0,$39,$CC,$36,$8C,$C0,$3A,$CC
	dc.b	$37,$86,$C0,$36,$CC,$39,$8C,$C0
	dc.b	$3A,$CC,$37,$86,$C0,$39,$CC,$36
	dc.b	$C0,$39,$CC,$36,$8C,$C0,$3A,$CC
	dc.b	$37,$86,$C0,$39,$CC,$36,$C0,$39
	dc.b	$CC,$36,$8C,$C0,$37,$CC,$3A,$86
	dc.b	$C0,$39,$CC,$36,$C0,$39,$CC,$36
	dc.b	$8C,$C0,$3A,$CC,$37,$86,$C0,$39
	dc.b	$CC,$36,$C0,$39,$CC,$36,$8C,$C0
	dc.b	$3A,$CC,$37,$86,$C0,$39,$CC,$36
	dc.b	$8C,$C0,$3A,$CC,$37,$86,$C0,$39
	dc.b	$CC,$36,$8C,$C0,$3A,$CC,$37,$86
	dc.b	$C0,$39,$CC,$36,$C0,$39,$CC,$36
	dc.b	$8C,$C0,$3A,$CC,$37,$86,$C0,$39
	dc.b	$CC,$36,$C0,$39,$CC,$36,$8C,$C0
	dc.b	$37,$CC,$3A,$86,$C0,$39,$CC,$36
	dc.b	$C0,$39,$CC,$36,$8C,$C0,$3A,$CC
	dc.b	$37,$86,$C0,$39,$CC,$36,$C0,$39
	dc.b	$CC,$36,$8C,$C0,$3A,$CC,$37,$86
	dc.b	$C0,$39,$CC,$36,$8C,$C0,$3A,$CC
	dc.b	$37,$86,$C0,$39,$C6,$36,$60
* Sequence 61, Channel 2:
	dc.b	$C0,$61,$80,$72,$05,$1F,$83,$34
	dc.b	$39,$C5,$45,$C1,$72,$05,$1D,$C0
	dc.b	$34,$39,$C4,$45,$C2,$72,$05,$1B
	dc.b	$C0,$34,$45,$C4,$39,$C2,$72,$05
	dc.b	$19,$C0,$34,$45,$C3,$39,$72,$05
	dc.b	$17,$C0,$34,$39,$C6,$45,$C0,$72
	dc.b	$05,$15,$34,$39,$C5,$45,$C1,$72
	dc.b	$05,$13,$C0,$34,$45,$C4,$39,$C2
	dc.b	$72,$05,$11,$C0,$34,$45,$C4,$39
	dc.b	$C2,$72,$05,$0F,$C0,$34,$45,$C3
	dc.b	$39,$72,$05,$0D,$C0,$34,$45,$C3
	dc.b	$39,$72,$05,$0B,$C0,$34,$39,$C5
	dc.b	$45,$C1,$72,$05,$09,$C0,$34,$39
	dc.b	$C5,$45,$C1,$72,$05,$07,$C0,$34
	dc.b	$45,$C4,$39,$C2,$72,$05,$05,$C0
	dc.b	$34,$45,$C3,$39,$72,$05,$03,$C0
	dc.b	$34,$39,$C3,$45,$72,$05,$00,$C0
	dc.b	$34,$39,$CC,$C6,$45,$81,$88,$C1
	dc.b	$C8,$2D,$98,$D8,$30,$81,$88,$C1
	dc.b	$C8,$2F,$98,$D8,$34,$B0,$F0,$35
	dc.b	$82,$8D,$C2,$D0,$34,$81,$88,$C1
	dc.b	$C8,$2D,$98,$D8,$30,$81,$88,$C1
	dc.b	$C8,$2F,$98,$D8,$28,$B0,$F0,$29
	dc.b	$82,$8D,$C2,$D0,$2D,$82,$BF,$C4
	dc.b	$C8,$39,$81,$9D,$C1,$E0,$39,$C0
	dc.b	$6A,$50,$72,$05,$07,$85,$C6,$3B
	dc.b	$86,$3C,$3D,$85,$3C,$89,$CC,$37
	dc.b	$88,$D8,$36,$85,$CC,$37,$89,$D8
	dc.b	$36,$85,$CC,$37,$87,$D8,$36,$84
	dc.b	$CC,$37,$86,$D8,$36,$84,$CC,$37
	dc.b	$36,$85,$37,$36,$C0,$63,$60
* Sequence 61, Channel 3:
	dc.b	$C0,$61,$87,$C1,$E0,$72,$05,$07
	dc.b	$84,$CC,$1C,$1B,$1D,$1C,$1E,$1C
	dc.b	$1F,$85,$1E,$84,$1C,$1B,$1D,$1C
	dc.b	$1E,$1C,$1F,$85,$1E,$84,$1C,$1B
	dc.b	$1D,$1C,$1E,$1C,$1F,$85,$C1,$EC
	dc.b	$1E,$84,$CC,$1C,$1B,$1D,$1C,$1E
	dc.b	$1C,$1F,$85,$1E,$84,$1C,$1B,$1D
	dc.b	$1C,$1E,$1C,$1F,$85,$1E,$84,$1C
	dc.b	$1B,$1D,$1C,$1E,$1C,$1F,$85,$C1
	dc.b	$EC,$1E,$84,$CC,$1C,$1B,$1D,$1C
	dc.b	$1E,$1C,$1F,$85,$1E,$84,$1C,$1B
	dc.b	$1D,$1C,$1E,$1C,$1F,$85,$1E,$84
	dc.b	$1C,$1B,$1D,$1C,$1E,$1C,$1F,$85
	dc.b	$C1,$EC,$1E,$84,$CC,$1C,$1B,$1D
	dc.b	$1C,$1E,$1C,$1F,$85,$1E,$84,$1C
	dc.b	$1B,$1D,$1C,$1E,$1C,$1F,$85,$1E
	dc.b	$84,$1C,$1B,$1D,$1C,$1E,$1C,$1F
	dc.b	$85,$C5,$1E,$60
* Sequence 61, Channel 4:
	dc.b	$C0,$61,$90,$C1,$E0,$72,$05,$0C
	dc.b	$84,$CC,$21,$21,$21,$21,$21,$21
	dc.b	$21,$1F,$21,$21,$21,$21,$21,$21
	dc.b	$21,$1F,$94,$D8,$21,$95,$21,$93
	dc.b	$21,$8A,$CC,$21,$82,$1F,$86,$21
	dc.b	$C6,$1F,$21,$CC,$23,$C6,$1F,$21
	dc.b	$CC,$23,$C6,$1F,$21,$CC,$23,$1F
	dc.b	$84,$21,$21,$21,$21,$21,$21,$21
	dc.b	$1F,$21,$21,$21,$21,$21,$21,$21
	dc.b	$1F,$94,$D8,$21,$95,$21,$93,$21
	dc.b	$8A,$CC,$21,$82,$1F,$86,$21,$C6
	dc.b	$1F,$21,$CC,$23,$C6,$1F,$21,$CC
	dc.b	$23,$C6,$1F,$21,$CC,$23,$1F,$84
	dc.b	$21,$21,$21,$21,$21,$21,$21,$1F
	dc.b	$21,$21,$21,$21,$21,$21,$21,$1F
	dc.b	$94,$D8,$21,$95,$21,$93,$21,$8A
	dc.b	$CC,$21,$82,$1F,$86,$21,$C6,$1F
	dc.b	$21,$CC,$23,$C6,$1F,$21,$CC,$23
	dc.b	$C6,$1F,$21,$CC,$23,$1F,$84,$21
	dc.b	$21,$21,$21,$21,$21,$21,$1F,$21
	dc.b	$21,$21,$21,$21,$21,$21,$1F,$94
	dc.b	$D8,$21,$95,$21,$93,$21,$8A,$CC
	dc.b	$21,$82,$1F,$86,$21,$C6,$1F,$21
	dc.b	$CC,$23,$C6,$1F,$21,$CC,$23,$C6
	dc.b	$1F,$21,$CC,$23,$C5,$F4,$1F,$C6
	dc.b	$23,$24,$25,$24,$84,$CC,$22,$D8
	dc.b	$21,$CC,$22,$85,$D8,$21,$84,$CC
	dc.b	$22,$D8,$21,$CC,$22,$D8,$21,$CC
	dc.b	$22,$21,$85,$22,$84,$C4,$21,$60
* Sequence 61, Channel 5:
	dc.b	$C0,$61,$8A,$83,$C2,$37,$C3,$39
	dc.b	$3A,$3C,$3E,$3A,$3C,$3E,$41,$40
	dc.b	$3E,$40,$41,$43,$45,$46,$45,$43
	dc.b	$45,$46,$48,$4A,$48,$46,$45,$46
	dc.b	$48,$4A,$48,$4C,$4A,$C4,$4D,$84
	dc.b	$C0,$2D,$CC,$30,$C0,$2D,$CC,$30
	dc.b	$C0,$2D,$CC,$30,$C0,$2D,$CC,$30
	dc.b	$C0,$2D,$CC,$30,$C0,$2D,$CC,$30
	dc.b	$C0,$2D,$CC,$30,$C0,$2D,$CC,$30
	dc.b	$C0,$2D,$CC,$30,$C0,$2D,$CC,$30
	dc.b	$C0,$2D,$CC,$30,$C0,$2D,$CC,$30
	dc.b	$C0,$2D,$CC,$30,$C0,$2D,$CC,$30
	dc.b	$C0,$2D,$CC,$30,$C0,$2D,$CC,$30
	dc.b	$C0,$2D,$CC,$30,$C0,$2D,$CC,$30
	dc.b	$C0,$2D,$CC,$30,$C0,$2D,$CC,$30
	dc.b	$C0,$2D,$CC,$30,$C0,$2D,$CC,$30
	dc.b	$C0,$2D,$CC,$30,$C0,$30,$D8,$2D
	dc.b	$86,$C6,$2B,$2D,$CC,$2F,$C6,$2B
	dc.b	$2D,$CC,$2F,$C6,$2B,$2D,$CC,$2F
	dc.b	$2B,$84,$C0,$2D,$CC,$30,$C0,$2D
	dc.b	$CC,$30,$C0,$2D,$CC,$30,$C0,$2D
	dc.b	$CC,$30,$C0,$2D,$30,$82,$C3,$3C
	dc.b	$3C,$3B,$3B,$84,$C0,$2D,$30,$82
	dc.b	$C3,$39,$39,$37,$37,$84,$C0,$2D
	dc.b	$30,$82,$C3,$40,$40,$3C,$3C,$84
	dc.b	$C0,$2D,$30,$82,$C3,$3B,$3B,$39
	dc.b	$39,$84,$C0,$2D,$CC,$30,$C0,$2D
	dc.b	$CC,$30,$C0,$2D,$CC,$30,$C0,$2D
	dc.b	$CC,$30,$C0,$2D,$30,$82,$C3,$3C
	dc.b	$3C,$3B,$3B,$84,$C0,$2D,$30,$82
	dc.b	$C3,$39,$39,$37,$37,$84,$C0,$2D
	dc.b	$30,$82,$C3,$39,$39,$3B,$3B,$84
	dc.b	$C0,$2D,$30,$82,$C3,$3C,$3C,$40
	dc.b	$40,$84,$C0,$2D,$CC,$30,$C0,$2D
	dc.b	$CC,$30,$C0,$2D,$CC,$30,$C0,$2D
	dc.b	$CC,$30,$C0,$2D,$30,$82,$C3,$37
	dc.b	$37,$39,$39,$84,$C0,$2D,$30,$82
	dc.b	$C3,$3B,$3B,$3C,$3C,$84,$C0,$2D
	dc.b	$30,$82,$C3,$39,$39,$3B,$3B,$84
	dc.b	$C0,$30,$2D,$82,$C3,$3C,$3C,$40
	dc.b	$40,$84,$CB,$45,$87,$C1,$43,$86
	dc.b	$C5,$2B,$87,$C1,$45,$86,$C5,$2D
	dc.b	$C1,$47,$CB,$2F,$87,$C1,$43,$86
	dc.b	$C5,$2B,$87,$C1,$45,$86,$C5,$2D
	dc.b	$C1,$47,$CB,$2F,$87,$C1,$43,$86
	dc.b	$C5,$2B,$87,$C1,$45,$86,$C5,$2D
	dc.b	$C1,$47,$CB,$2F,$87,$C1,$43,$86
	dc.b	$CC,$2B,$84,$C0,$2D,$CC,$30,$C0
	dc.b	$2D,$CC,$30,$C0,$2D,$CC,$30,$C0
	dc.b	$2D,$CC,$30,$C0,$2D,$CC,$30,$C0
	dc.b	$2D,$CC,$30,$C0,$2D,$CC,$30,$C0
	dc.b	$2D,$CC,$30,$C0,$2D,$CC,$30,$C0
	dc.b	$2D,$CC,$30,$C0,$2D,$CC,$30,$C0
	dc.b	$2D,$CC,$30,$C0,$2D,$CC,$30,$C0
	dc.b	$2D,$CC,$30,$C0,$2D,$CC,$30,$C0
	dc.b	$2D,$CC,$30,$C0,$2D,$CC,$30,$C0
	dc.b	$2D,$CC,$30,$C0,$2D,$CC,$30,$C0
	dc.b	$2D,$CC,$30,$C0,$2D,$CC,$30,$C0
	dc.b	$2D,$CC,$30,$C0,$2D,$CC,$30,$C0
	dc.b	$30,$CB,$2D,$85,$CC,$45,$87,$C1
	dc.b	$43,$86,$C5,$2B,$87,$C1,$45,$86
	dc.b	$C5,$2D,$C1,$47,$CB,$2F,$87,$C1
	dc.b	$43,$86,$C5,$2B,$87,$C1,$45,$86
	dc.b	$C5,$2D,$C1,$47,$CB,$2F,$87,$C1
	dc.b	$43,$86,$C5,$2B,$87,$C1,$45,$86
	dc.b	$C5,$2D,$C1,$47,$CB,$2F,$87,$C1
	dc.b	$43,$86,$CC,$2B,$84,$C0,$2D,$CC
	dc.b	$30,$C0,$2D,$CC,$30,$C0,$2D,$CC
	dc.b	$30,$C0,$2D,$CC,$30,$C0,$2D,$CC
	dc.b	$30,$C0,$2D,$CC,$30,$C0,$2D,$CC
	dc.b	$30,$C0,$2D,$CC,$30,$C0,$2D,$CC
	dc.b	$30,$C0,$2D,$CC,$30,$C0,$2D,$CC
	dc.b	$30,$C0,$2D,$CC,$30,$C0,$2D,$CC
	dc.b	$30,$C0,$2D,$CC,$30,$C0,$2D,$CC
	dc.b	$30,$C0,$2D,$CC,$30,$C0,$2D,$CC
	dc.b	$30,$C0,$2D,$CC,$30,$C0,$2D,$CC
	dc.b	$30,$C0,$2D,$CC,$30,$C0,$2D,$CC
	dc.b	$30,$C0,$2D,$CC,$30,$C0,$2D,$CC
	dc.b	$30,$C0,$30,$CB,$2D,$85,$CC,$45
	dc.b	$87,$C1,$43,$86,$C5,$2B,$87,$C1
	dc.b	$45,$86,$C5,$2D,$C1,$47,$CB,$2F
	dc.b	$87,$C1,$43,$86,$C5,$2B,$87,$C1
	dc.b	$45,$86,$C5,$2D,$C1,$47,$CB,$2F
	dc.b	$87,$C1,$43,$86,$C5,$2B,$87,$C1
	dc.b	$45,$86,$C5,$2D,$C1,$47,$CB,$2F
	dc.b	$87,$C1,$43,$86,$CC,$2B,$8B,$C0
	dc.b	$2E,$CC,$2B,$86,$C0,$2D,$D8,$2A
	dc.b	$8B,$C0,$2E,$CC,$2B,$86,$C0,$2D
	dc.b	$D8,$2A,$8B,$C0,$2E,$CC,$2B,$86
	dc.b	$C0,$2D,$D8,$2A,$8B,$C0,$2B,$CC
	dc.b	$2E,$86,$C0,$2D,$D8,$2A,$8B,$C0
	dc.b	$2B,$CC,$2E,$86,$C0,$2D,$CC,$2A
	dc.b	$8B,$C0,$2E,$CC,$2B,$86,$C0,$2A
	dc.b	$CC,$2D,$8B,$C0,$2E,$2B,$86,$CC
	dc.b	$3E,$C0,$2D,$2A,$CC,$3D,$C0,$2D
	dc.b	$2A,$CC,$3D,$8B,$C0,$2E,$2B,$86
	dc.b	$CC,$3E,$C0,$2D,$2A,$CC,$3D,$C0
	dc.b	$2D,$2A,$CC,$3D,$8B,$C0,$2B,$2E
	dc.b	$86,$CC,$3E,$C0,$2D,$2A,$CC,$3D
	dc.b	$C0,$2D,$2A,$CC,$3D,$8B,$C0,$2E
	dc.b	$2B,$86,$CC,$3E,$C0,$2D,$2A,$CC
	dc.b	$3D,$C0,$2D,$2A,$CC,$3D,$8B,$C0
	dc.b	$2E,$2B,$86,$CC,$3E,$C0,$2D,$2A
	dc.b	$CC,$3D,$8B,$C0,$2E,$2B,$86,$CC
	dc.b	$3E,$C0,$2D,$2A,$CC,$3D,$8B,$C0
	dc.b	$2E,$2B,$86,$CC,$43,$C0,$2D,$2A
	dc.b	$CC,$42,$C0,$2D,$2A,$CC,$42,$8B
	dc.b	$C0,$2E,$2B,$86,$CC,$43,$C0,$2D
	dc.b	$2A,$CC,$42,$C0,$2D,$2A,$CC,$42
	dc.b	$8B,$C0,$2B,$2E,$86,$CC,$43,$C0
	dc.b	$2D,$2A,$CC,$42,$C0,$2D,$2A,$CC
	dc.b	$42,$8B,$C0,$2E,$2B,$86,$CC,$43
	dc.b	$C0,$2D,$2A,$CC,$42,$C0,$2D,$2A
	dc.b	$CC,$42,$8B,$C0,$2E,$2B,$86,$CC
	dc.b	$43,$C0,$2D,$2A,$CC,$42,$8B,$C0
	dc.b	$2E,$2B,$86,$CC,$43,$C0,$2D,$2A
	dc.b	$C6,$42,$60
* Sequence 61, Channel 6:
	dc.b	$C0,$61,$0F,$90,$C1,$E0,$35,$82
	dc.b	$C1,$D4,$30,$84,$CC,$33,$83,$C1
	dc.b	$D4,$30,$84,$CC,$33,$83,$D8,$30
	dc.b	$30,$30,$CC,$30,$84,$33,$83,$33
	dc.b	$82,$C6,$31,$83,$31,$82,$CC,$33
	dc.b	$C6,$31,$83,$31,$CC,$33,$82,$C6
	dc.b	$31,$83,$31,$CC,$33,$82,$31,$C1
	dc.b	$D4,$30,$84,$CC,$33,$83,$C1,$D4
	dc.b	$30,$84,$CC,$33,$83,$D8,$30,$30
	dc.b	$30,$CC,$30,$84,$33,$83,$33,$82
	dc.b	$C6,$31,$83,$31,$82,$CC,$33,$C6
	dc.b	$31,$83,$31,$CC,$33,$82,$C6,$31
	dc.b	$83,$31,$CC,$33,$82,$31,$C1,$D4
	dc.b	$30,$84,$CC,$33,$83,$C1,$D4,$30
	dc.b	$84,$CC,$33,$83,$C1,$D4,$30,$84
	dc.b	$CC,$33,$83,$33,$82,$C6,$31,$83
	dc.b	$31,$82,$CC,$33,$C6,$31,$83,$31
	dc.b	$CC,$33,$82,$C6,$31,$83,$31,$CC
	dc.b	$33,$82,$31,$84,$D8,$33,$97,$FC
	dc.b	$30,$84,$CC,$33,$83,$D8,$31,$9A
	dc.b	$FC,$30,$84,$CC,$33,$33,$86,$30
	dc.b	$33,$88,$30,$83,$33,$85,$30,$82
	dc.b	$33,$83,$30,$33,$82,$C6,$31,$83
	dc.b	$31,$82,$CC,$33,$C6,$31,$83,$31
	dc.b	$CC,$33,$82,$C6,$31,$83,$31,$CC
	dc.b	$33,$82,$31,$AF,$C6,$CC,$35,$85
	dc.b	$D8,$30,$83,$CC,$33,$84,$D8,$30
	dc.b	$83,$CC,$33,$84,$D8,$30,$83,$CC
	dc.b	$33,$84,$D8,$30,$83,$CC,$33,$84
	dc.b	$30,$83,$33,$84,$C4,$30,$60
* Sequence 61, Channel 7:
	dc.b	$C0,$61,$8F,$72,$05,$07,$83,$C3
	dc.b	$37,$39,$3A,$3C,$3E,$3A,$3C,$3E
	dc.b	$41,$40,$3E,$40,$41,$43,$45,$46
	dc.b	$45,$43,$45,$46,$48,$4A,$48,$46
	dc.b	$45,$46,$48,$4A,$48,$4C,$4A,$4D
	dc.b	$C0,$39,$82,$CC,$3C,$84,$C0,$39
	dc.b	$83,$CC,$3C,$84,$C0,$39,$83,$CC
	dc.b	$3C,$84,$C0,$39,$83,$CC,$3C,$85
	dc.b	$C0,$39,$83,$CC,$3C,$85,$C0,$39
	dc.b	$84,$CC,$3C,$85,$C0,$39,$84,$CC
	dc.b	$3C,$85,$C0,$39,$CC,$3C,$84,$C0
	dc.b	$39,$CC,$3C,$C0,$39,$CC,$3C,$C0
	dc.b	$39,$CC,$3C,$C0,$39,$CC,$3C,$C0
	dc.b	$39,$CC,$3C,$C0,$39,$CC,$3C,$85
	dc.b	$C0,$39,$84,$CC,$3C,$C0,$39,$CC
	dc.b	$3C,$C0,$39,$CC,$3C,$C0,$39,$CC
	dc.b	$3C,$C0,$39,$CC,$3C,$C0,$39,$CC
	dc.b	$3C,$C0,$39,$85,$CC,$3C,$84,$C0
	dc.b	$39,$CC,$3C,$C0,$39,$CC,$3C,$85
	dc.b	$C0,$3C,$84,$D8,$39,$86,$C6,$37
	dc.b	$39,$CC,$3B,$C6,$37,$39,$CC,$3B
	dc.b	$C6,$37,$39,$CC,$3B,$37,$83,$C0
	dc.b	$39,$82,$CC,$3C,$84,$C0,$39,$83
	dc.b	$CC,$3C,$84,$C0,$39,$83,$CC,$3C
	dc.b	$84,$C0,$39,$83,$CC,$3C,$85,$C0
	dc.b	$39,$83,$CC,$3C,$85,$C0,$39,$84
	dc.b	$CC,$3C,$85,$C0,$39,$84,$CC,$3C
	dc.b	$85,$C0,$39,$CC,$3C,$84,$C0,$39
	dc.b	$CC,$3C,$C0,$39,$CC,$3C,$C0,$39
	dc.b	$CC,$3C,$C0,$39,$CC,$3C,$C0,$39
	dc.b	$CC,$3C,$C0,$39,$CC,$3C,$85,$C0
	dc.b	$39,$84,$CC,$3C,$C0,$39,$CC,$3C
	dc.b	$C0,$39,$CC,$3C,$C0,$39,$CC,$3C
	dc.b	$C0,$39,$CC,$3C,$C0,$39,$CC,$3C
	dc.b	$C0,$39,$85,$CC,$3C,$84,$C0,$39
	dc.b	$CC,$3C,$C0,$39,$CC,$3C,$85,$C0
	dc.b	$3C,$84,$D8,$39,$86,$C6,$37,$39
	dc.b	$CC,$3B,$C6,$37,$39,$CC,$3B,$C6
	dc.b	$37,$39,$CC,$3B,$37,$83,$C0,$39
	dc.b	$82,$CC,$3C,$84,$C0,$39,$83,$CC
	dc.b	$3C,$84,$C0,$39,$83,$CC,$3C,$84
	dc.b	$C0,$39,$83,$CC,$3C,$85,$C0,$39
	dc.b	$83,$CC,$3C,$85,$C0,$39,$84,$CC
	dc.b	$3C,$85,$C0,$39,$84,$CC,$3C,$85
	dc.b	$C0,$39,$CC,$3C,$84,$C0,$39,$CC
	dc.b	$3C,$C0,$39,$CC,$3C,$C0,$39,$CC
	dc.b	$3C,$C0,$39,$CC,$3C,$C0,$39,$CC
	dc.b	$3C,$C0,$39,$CC,$3C,$85,$C0,$39
	dc.b	$84,$CC,$3C,$C0,$39,$CC,$3C,$C0
	dc.b	$39,$CC,$3C,$C0,$39,$CC,$3C,$C0
	dc.b	$39,$CC,$3C,$C0,$39,$CC,$3C,$C0
	dc.b	$39,$85,$CC,$3C,$84,$C0,$39,$CC
	dc.b	$3C,$C0,$39,$CC,$3C,$85,$C0,$3C
	dc.b	$84,$D8,$39,$86,$C6,$37,$39,$CC
	dc.b	$3B,$C6,$37,$39,$CC,$3B,$C6,$37
	dc.b	$39,$CC,$3B,$37,$83,$C0,$39,$82
	dc.b	$CC,$3C,$84,$C0,$39,$83,$CC,$3C
	dc.b	$84,$C0,$39,$83,$CC,$3C,$84,$C0
	dc.b	$39,$83,$CC,$3C,$85,$C0,$39,$83
	dc.b	$CC,$3C,$85,$C0,$39,$84,$CC,$3C
	dc.b	$85,$C0,$39,$84,$CC,$3C,$85,$C0
	dc.b	$39,$CC,$3C,$84,$C0,$39,$CC,$3C
	dc.b	$C0,$39,$CC,$3C,$C0,$39,$CC,$3C
	dc.b	$C0,$39,$CC,$3C,$C0,$39,$CC,$3C
	dc.b	$C0,$39,$CC,$3C,$85,$C0,$39,$84
	dc.b	$CC,$3C,$C0,$39,$CC,$3C,$C0,$39
	dc.b	$CC,$3C,$C0,$39,$CC,$3C,$C0,$39
	dc.b	$CC,$3C,$C0,$39,$CC,$3C,$C0,$39
	dc.b	$85,$CC,$3C,$84,$C0,$39,$CC,$3C
	dc.b	$C0,$39,$CC,$3C,$85,$C0,$3C,$84
	dc.b	$D8,$39,$86,$C6,$37,$39,$CC,$3B
	dc.b	$C6,$37,$39,$CC,$3B,$C6,$37,$39
	dc.b	$CC,$3B,$C2,$F4,$37,$C6,$47,$48
	dc.b	$49,$48,$CC,$4A,$49,$49,$4A,$49
	dc.b	$49,$4A,$49,$49,$4A,$49,$49,$4A
	dc.b	$49,$4A,$49,$C0,$4A,$CC,$4F,$C0
	dc.b	$49,$CC,$4E,$C0,$49,$CC,$4E,$C0
	dc.b	$4A,$CC,$4F,$C0,$49,$CC,$4E,$C0
	dc.b	$49,$CC,$4E,$C0,$4A,$CC,$4F,$C0
	dc.b	$49,$CC,$4E,$C0,$49,$CC,$4E,$C0
	dc.b	$4A,$CC,$4F,$C0,$49,$CC,$4E,$C0
	dc.b	$49,$CC,$4E,$C0,$4A,$CC,$4F,$C0
	dc.b	$49,$CC,$4E,$C0,$4A,$CC,$4F,$C0
	dc.b	$49,$C6,$4E,$60
* Sequence 62, Channel 0:
	dc.b	$C0,$68,$6E,$72,$00,$3F,$61,$86
	dc.b	$6A,$40,$C9,$C0,$72,$05,$1B,$82
	dc.b	$BF,$C3,$C0,$32,$82,$BA,$2F,$82
	dc.b	$BC,$32,$82,$BB,$C1,$E0,$2F,$61
	dc.b	$8B,$81,$9F,$C0,$3E,$C1,$E0,$3A
	dc.b	$81,$9E,$C0,$39,$C1,$E0,$35,$82
	dc.b	$BE,$C0,$38,$C3,$C0,$34,$81,$9F
	dc.b	$C0,$3E,$C1,$E0,$3A,$C0,$39,$81
	dc.b	$9E,$C1,$E0,$35,$81,$9F,$C0,$38
	dc.b	$82,$BF,$CD,$E0,$34,$81,$9B,$C1
	dc.b	$E0,$3D,$82,$BE,$C0,$32,$37,$C3
	dc.b	$C0,$3A,$C0,$36,$32,$C3,$C0,$39
	dc.b	$82,$BF,$C0,$32,$82,$BE,$37,$C3
	dc.b	$C0,$3A,$C0,$36,$32,$82,$BD,$C3
	dc.b	$C0,$39,$C0,$6B,$3F,$60
* Sequence 62, Channel 1:
	dc.b	$C0,$72,$05,$07,$6A,$40,$CF,$C0
	dc.b	$61,$81,$81,$9E,$C1,$E0,$32,$81
	dc.b	$9D,$39,$82,$BA,$C2,$FA,$38,$60
* Sequence 62, Channel 2:
	dc.b	$C0,$61,$8E,$6A,$40,$CF,$C0,$72
	dc.b	$05,$16,$81,$A2,$C1,$E0,$32,$81
	dc.b	$9F,$39,$82,$BF,$CD,$E0,$38,$81
	dc.b	$9F,$C1,$E0,$3B,$81,$9E,$3C,$3A
	dc.b	$3D,$39,$3C,$3A,$39,$81,$9F,$C1
	dc.b	$DF,$39,$60
* Sequence 62, Channel 3:
	dc.b	$C0,$61,$90,$6A,$40,$72,$05,$07
	dc.b	$8E,$B9,$CF,$C0,$1A,$81,$9E,$C1
	dc.b	$E0,$22,$21,$20,$C2,$C4,$1C,$8A
	dc.b	$CC,$26,$95,$D8,$2B,$97,$2E,$AE
	dc.b	$F0,$2D,$AD,$26,$83,$80,$C3,$E4
	dc.b	$28,$8A,$CC,$26,$97,$D8,$2B,$2E
	dc.b	$AE,$F0,$2D,$AD,$26,$82,$BF,$C3
	dc.b	$E4,$28,$8A,$CC,$2B,$95,$D8,$30
	dc.b	$97,$33,$AD,$F0,$32,$2B,$82,$BF
	dc.b	$C3,$E4,$2D,$8A,$CC,$2B,$97,$D8
	dc.b	$30,$33,$AE,$F0,$32,$2B,$82,$BF
	dc.b	$C2,$FF,$2D,$60
* Sequence 62, Channel 4:
	dc.b	$C0,$72,$05,$07,$6A,$00,$61,$88
	dc.b	$83,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$07,$CB,$48,$C1,$72,$05,$29,$CB
	dc.b	$48,$C1,$72,$05,$15,$CB,$48,$C1
	dc.b	$72,$05,$06,$CB,$48,$C1,$72,$05
	dc.b	$2F,$CB,$48,$C1,$72,$05,$1A,$CB
	dc.b	$48,$C1,$72,$05,$07,$CB,$48,$C1
	dc.b	$72,$05,$13,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$C3,$48,$60
* Sequence 62, Channel 5:
	dc.b	$C0,$6A,$19,$C3,$C0,$61,$85,$B3
	dc.b	$C1,$E0,$37,$37,$37,$37,$37,$37
	dc.b	$37,$D6,$E0,$37,$C1,$E0,$37,$C4
	dc.b	$E0,$37,$C1,$E0,$37,$37,$37,$37
	dc.b	$37,$37,$37,$37,$37,$F3,$37,$60
* Sequence 62, Channel 6:
	dc.b	$C0,$6A,$46,$C5,$E8,$61,$0F,$A0
	dc.b	$C1,$E0,$37,$9D,$37,$A0,$37,$9D
	dc.b	$37,$A0,$37,$9D,$37,$A0,$CC,$FC
	dc.b	$37,$83,$D8,$31,$CC,$31,$FC,$30
	dc.b	$D8,$31,$CC,$31,$FC,$30,$D8,$31
	dc.b	$CC,$31,$C1,$F8,$30,$E4,$35,$D8
	dc.b	$33,$CC,$33,$D8,$31,$E4,$35,$D8
	dc.b	$33,$CC,$33,$FC,$31,$D8,$33,$CC
	dc.b	$33,$FC,$31,$D8,$33,$CC,$33,$D8
	dc.b	$31,$E4,$35,$D8,$33,$CC,$33,$D8
	dc.b	$31,$E4,$35,$D8,$33,$CC,$33,$FC
	dc.b	$31,$D8,$33,$CC,$33,$C1,$F8,$31
	dc.b	$E4,$35,$D8,$31,$CC,$31,$FC,$30
	dc.b	$D8,$31,$CC,$31,$FC,$30,$D8,$31
	dc.b	$CC,$31,$FC,$30,$D8,$31,$CC,$31
	dc.b	$FC,$30,$D8,$31,$CC,$31,$FC,$30
	dc.b	$D8,$31,$CC,$31,$FC,$30,$D8,$31
	dc.b	$CC,$31,$FC,$30,$D8,$31,$CC,$31
	dc.b	$C3,$30,$60
* Sequence 62, Channel 7:
	dc.b	$C0,$6A,$00,$61,$77,$72,$05,$1B
	dc.b	$84,$CC,$28,$28,$CB,$28,$C1,$61
	dc.b	$78,$CB,$2B,$C1,$61,$77,$CB,$28
	dc.b	$C1,$61,$78,$CB,$2B,$C1,$61,$77
	dc.b	$CB,$26,$C1,$61,$78,$CC,$28,$28
	dc.b	$28,$CB,$28,$C1,$61,$77,$CB,$2B
	dc.b	$C1,$61,$78,$CB,$28,$C1,$61,$77
	dc.b	$CB,$2B,$C1,$61,$78,$CB,$26,$C1
	dc.b	$61,$77,$CC,$28,$28,$28,$CB,$28
	dc.b	$C1,$61,$78,$CB,$2B,$C1,$61,$77
	dc.b	$CB,$28,$C1,$61,$78,$CB,$2B,$C1
	dc.b	$61,$77,$CB,$26,$C1,$61,$78,$CC
	dc.b	$28,$28,$28,$CB,$28,$C1,$61,$77
	dc.b	$CB,$2B,$C1,$61,$78,$CB,$28,$C1
	dc.b	$61,$77,$CB,$2B,$C1,$61,$78,$CB
	dc.b	$26,$C1,$61,$77,$CC,$28,$28,$28
	dc.b	$CB,$28,$C1,$61,$78,$CB,$2B,$C1
	dc.b	$61,$77,$CB,$28,$C1,$61,$78,$CB
	dc.b	$2B,$C1,$61,$77,$CB,$26,$C1,$61
	dc.b	$78,$CC,$28,$28,$28,$CB,$28,$C1
	dc.b	$61,$77,$CB,$2B,$C1,$61,$78,$CB
	dc.b	$28,$C1,$61,$77,$CB,$2B,$C1,$61
	dc.b	$78,$CB,$26,$C1,$61,$77,$CC,$28
	dc.b	$28,$28,$CB,$28,$C1,$61,$78,$CB
	dc.b	$2B,$C1,$61,$77,$CB,$28,$C1,$61
	dc.b	$78,$CB,$2B,$C1,$61,$77,$CB,$26
	dc.b	$C1,$61,$78,$CC,$28,$28,$28,$CB
	dc.b	$28,$C1,$61,$77,$CB,$2B,$C1,$61
	dc.b	$78,$CB,$28,$C1,$61,$77,$CB,$2B
	dc.b	$C1,$61,$78,$CB,$26,$C1,$61,$77
	dc.b	$CC,$28,$28,$28,$CB,$28,$C1,$61
	dc.b	$78,$CB,$2B,$C1,$61,$77,$CB,$28
	dc.b	$C1,$61,$78,$CB,$2B,$C1,$61,$77
	dc.b	$CB,$26,$C1,$61,$78,$CC,$28,$28
	dc.b	$28,$CB,$28,$C1,$61,$77,$CB,$2B
	dc.b	$C1,$61,$78,$CB,$28,$C1,$61,$77
	dc.b	$CB,$2B,$C1,$61,$78,$CB,$26,$C1
	dc.b	$61,$77,$CC,$28,$28,$28,$CB,$28
	dc.b	$C1,$61,$78,$CB,$2B,$C1,$61,$77
	dc.b	$CB,$28,$C1,$61,$78,$CB,$2B,$C1
	dc.b	$61,$77,$CB,$26,$C1,$61,$78,$CC
	dc.b	$28,$28,$28,$CB,$28,$C1,$61,$77
	dc.b	$CB,$2B,$C1,$61,$78,$CB,$28,$C1
	dc.b	$61,$77,$CB,$2B,$C1,$61,$78,$CB
	dc.b	$26,$C1,$61,$77,$CC,$28,$28,$28
	dc.b	$CB,$28,$C1,$61,$78,$CB,$2B,$C1
	dc.b	$61,$77,$CB,$28,$C1,$61,$78,$CB
	dc.b	$2B,$C1,$61,$77,$CB,$26,$C1,$61
	dc.b	$78,$CC,$28,$28,$28,$CB,$28,$C1
	dc.b	$61,$77,$CB,$2B,$C1,$61,$78,$CB
	dc.b	$28,$C1,$61,$77,$CB,$2B,$C1,$61
	dc.b	$78,$CB,$26,$C1,$61,$77,$CC,$28
	dc.b	$28,$28,$CB,$28,$C1,$61,$78,$CB
	dc.b	$2B,$C1,$61,$77,$CB,$28,$C1,$61
	dc.b	$78,$CB,$2B,$C1,$61,$77,$CB,$26
	dc.b	$C1,$61,$78,$CC,$28,$28,$28,$CB
	dc.b	$28,$C1,$61,$77,$CB,$2B,$C1,$61
	dc.b	$78,$CB,$28,$C1,$61,$77,$CB,$2B
	dc.b	$C1,$61,$78,$CB,$26,$C1,$61,$77
	dc.b	$CC,$28,$28,$28,$CB,$28,$C1,$61
	dc.b	$78,$CB,$2B,$C1,$61,$77,$CB,$28
	dc.b	$C1,$61,$78,$CB,$2B,$C1,$61,$77
	dc.b	$CB,$26,$C1,$61,$78,$CC,$28,$28
	dc.b	$28,$CB,$28,$C1,$61,$77,$CB,$2B
	dc.b	$C1,$61,$78,$CB,$28,$C1,$61,$77
	dc.b	$CB,$2B,$C1,$61,$78,$CB,$26,$C1
	dc.b	$61,$77,$CC,$28,$28,$28,$CB,$28
	dc.b	$C1,$61,$78,$CB,$2B,$C1,$61,$77
	dc.b	$CB,$28,$C1,$61,$78,$CB,$2B,$C1
	dc.b	$61,$77,$CB,$26,$C1,$61,$78,$CC
	dc.b	$28,$28,$28,$CB,$28,$C1,$61,$77
	dc.b	$CB,$2B,$C1,$61,$78,$CB,$28,$C1
	dc.b	$61,$77,$CB,$2B,$C1,$61,$78,$CB
	dc.b	$26,$C1,$61,$77,$CC,$28,$28,$28
	dc.b	$CB,$28,$C1,$61,$78,$CB,$2B,$C1
	dc.b	$61,$77,$CB,$28,$C1,$61,$78,$CB
	dc.b	$2B,$C1,$61,$77,$CB,$26,$C1,$61
	dc.b	$78,$CC,$28,$28,$28,$CB,$28,$C1
	dc.b	$61,$77,$CB,$2B,$C1,$61,$78,$CB
	dc.b	$28,$C1,$61,$77,$CB,$2B,$C1,$61
	dc.b	$78,$CB,$26,$C1,$61,$77,$C4,$28
	dc.b	$60
* Sequence 62, Channel 8:
	dc.b	$C9,$C0,$61,$8A,$81,$9E,$C0,$2B
	dc.b	$2E,$C1,$E0,$32,$C0,$2D,$29,$C1
	dc.b	$E0,$32,$82,$BD,$C0,$2F,$28,$C3
	dc.b	$C0,$2C,$81,$9E,$C0,$2B,$2E,$C1
	dc.b	$E0,$32,$C0,$2D,$29,$C1,$E0,$32
	dc.b	$82,$BD,$C0,$2F,$28,$C3,$C0,$2C
	dc.b	$81,$9E,$C0,$2B,$2E,$C1,$E0,$32
	dc.b	$C0,$2D,$29,$C1,$E0,$32,$82,$BE
	dc.b	$C0,$2F,$28,$C3,$C0,$2C,$81,$9E
	dc.b	$C0,$2B,$2E,$C1,$E0,$32,$C0,$2D
	dc.b	$29,$C1,$E0,$32,$82,$BE,$C0,$2F
	dc.b	$28,$C3,$C0,$2C,$81,$9E,$C0,$30
	dc.b	$33,$C1,$E0,$2B,$81,$9A,$C0,$2B
	dc.b	$32,$C1,$E0,$2E,$82,$BB,$C0,$34
	dc.b	$2D,$C3,$C0,$31,$81,$9C,$C0,$30
	dc.b	$33,$C1,$E0,$2B,$81,$9E,$C0,$32
	dc.b	$2E,$C1,$E0,$2B,$82,$BC,$C0,$34
	dc.b	$2D,$C3,$C0,$31,$82,$BD,$C0,$32
	dc.b	$82,$BE,$37,$C3,$C0,$3A,$82,$BB
	dc.b	$C0,$36,$82,$BC,$32,$82,$BD,$C3
	dc.b	$C0,$39,$82,$BB,$C0,$32,$82,$BA
	dc.b	$37,$82,$BB,$C3,$C0,$3A,$82,$BE
	dc.b	$C0,$36,$82,$BD,$32,$C2,$FE,$39
	dc.b	$60
* Sequence 62, Channel 9:
	dc.b	$C0,$6A,$40,$61,$8E,$D5,$E4,$72
	dc.b	$05,$07,$8C,$CC,$32,$98,$D8,$37
	dc.b	$3A,$B0,$F0,$39,$32,$81,$A0,$C1
	dc.b	$E0,$34,$81,$9F,$C2,$C4,$38,$8C
	dc.b	$CC,$32,$98,$D8,$37,$3A,$B0,$F0
	dc.b	$39,$32,$81,$A0,$C1,$E0,$34,$81
	dc.b	$9F,$C2,$C4,$40,$8C,$CC,$37,$98
	dc.b	$D8,$3C,$3F,$B0,$F0,$3E,$37,$81
	dc.b	$9F,$C1,$E0,$39,$C2,$C4,$3D,$8C
	dc.b	$CC,$37,$98,$D8,$3C,$3F,$B0,$F0
	dc.b	$3E,$37,$81,$A0,$C1,$E0,$39,$81
	dc.b	$9F,$C1,$DF,$45,$60
* Sequence 63, Channel 0:
	dc.b	$C0,$72,$00,$3E,$6A,$40,$61,$8B
	dc.b	$CC,$C0,$72,$05,$1B,$82,$BC,$C0
	dc.b	$3A,$82,$BB,$C3,$C0,$32,$C0,$39
	dc.b	$82,$BD,$C3,$C0,$32,$82,$BE,$C0
	dc.b	$32,$82,$BC,$C3,$C0,$3A,$82,$BD
	dc.b	$C0,$39,$C3,$C0,$32,$C0,$38,$C3
	dc.b	$C0,$30,$82,$BE,$C0,$37,$82,$BD
	dc.b	$C3,$C0,$30,$C0,$38,$C3,$C0,$30
	dc.b	$82,$BB,$C0,$37,$82,$BA,$C3,$C0
	dc.b	$30,$81,$9E,$C0,$37,$3A,$C1,$E0
	dc.b	$3E,$C0,$39,$35,$C1,$E0,$3E,$82
	dc.b	$BE,$C0,$3B,$34,$C3,$C0,$38,$81
	dc.b	$9E,$C0,$37,$3A,$C1,$E0,$3E,$C0
	dc.b	$39,$35,$C1,$E0,$3E,$82,$BC,$C0
	dc.b	$3B,$34,$C3,$C0,$38,$81,$9E,$C0
	dc.b	$37,$3A,$C1,$E0,$3E,$C0,$39,$35
	dc.b	$C1,$E0,$3E,$82,$BD,$C0,$3B,$34
	dc.b	$C9,$C0,$38,$C0,$6B,$3E,$60
* Sequence 63, Channel 1:
	dc.b	$C0,$6A,$40,$61,$81,$E4,$E4,$72
	dc.b	$05,$07,$8B,$CC,$26,$97,$D8,$2B
	dc.b	$2E,$81,$9E,$C1,$E0,$32,$82,$BE
	dc.b	$C3,$E4,$34,$8B,$CC,$26,$97,$D8
	dc.b	$2B,$2E,$81,$9E,$C1,$E0,$32,$82
	dc.b	$BE,$C2,$FE,$34,$60
* Sequence 63, Channel 2:
	dc.b	$C0,$6A,$40,$61,$8D,$72,$05,$0E
	dc.b	$82,$BF,$34,$C3,$C0,$39,$82,$BD
	dc.b	$C0,$34,$82,$BF,$C3,$C0,$3B,$82
	dc.b	$BC,$C0,$39,$82,$BE,$C3,$C0,$34
	dc.b	$82,$BC,$C0,$3B,$D9,$F8,$34,$98
	dc.b	$D8,$32,$37,$97,$3A,$81,$9F,$C1
	dc.b	$E0,$3E,$81,$A0,$3E,$40,$81,$9F
	dc.b	$C7,$E0,$34,$86,$C0,$40,$CC,$4C
	dc.b	$C0,$40,$CC,$4C,$C0,$40,$CA,$4C
	dc.b	$C2,$4F,$CC,$43,$C0,$40,$CB,$4C
	dc.b	$C1,$4F,$CC,$43,$C0,$4A,$CC,$3E
	dc.b	$C0,$4C,$CC,$40,$C0,$4C,$CC,$40
	dc.b	$C0,$40,$CC,$4C,$C0,$40,$CC,$4C
	dc.b	$C1,$43,$CB,$4F,$C0,$40,$CC,$4C
	dc.b	$C0,$43,$CC,$4F,$C0,$3E,$CC,$4A
	dc.b	$C0,$4C,$CC,$40,$C0,$40,$CC,$4C
	dc.b	$C0,$40,$CC,$4C,$C0,$40,$CC,$4C
	dc.b	$C1,$43,$CB,$4F,$C0,$40,$CC,$4C
	dc.b	$C0,$43,$CC,$4F,$C0,$4A,$CC,$3E
	dc.b	$C0,$40,$CC,$4C,$C0,$40,$CC,$4C
	dc.b	$C0,$40,$CC,$4C,$C0,$40,$CC,$4C
	dc.b	$C0,$43,$CC,$4F,$C0,$40,$CC,$4C
	dc.b	$C0,$43,$CC,$4F,$C0,$4A,$CC,$3E
	dc.b	$C0,$4C,$CC,$40,$C0,$4C,$CC,$40
	dc.b	$C0,$40,$CC,$4C,$C0,$40,$CC,$4C
	dc.b	$C0,$43,$CC,$4F,$C0,$40,$CC,$4C
	dc.b	$C0,$43,$CC,$4F,$C0,$4A,$CC,$3E
	dc.b	$C0,$4C,$CC,$40,$C0,$40,$CC,$4C
	dc.b	$C0,$40,$CC,$4C,$C0,$40,$CC,$4C
	dc.b	$C1,$43,$CB,$4F,$C0,$40,$CC,$4C
	dc.b	$C1,$43,$CB,$4F,$C0,$4A,$CC,$3E
	dc.b	$C0,$40,$CC,$4C,$C0,$4C,$CC,$40
	dc.b	$C0,$40,$CC,$4C,$C0,$40,$CC,$4C
	dc.b	$C0,$43,$CC,$4F,$C0,$40,$CC,$4C
	dc.b	$C0,$43,$CC,$4F,$C0,$4A,$CC,$3E
	dc.b	$C0,$4C,$CC,$40,$C0,$40,$CC,$4C
	dc.b	$C0,$40,$CC,$4C,$C0,$40,$CC,$4C
	dc.b	$C1,$43,$CB,$4F,$C0,$40,$CC,$4C
	dc.b	$C1,$43,$CB,$4F,$C0,$4A,$CC,$3E
	dc.b	$C0,$40,$C6,$4C,$60
* Sequence 63, Channel 3:
	dc.b	$C0,$6A,$40,$72,$05,$07,$C4,$C8
	dc.b	$61,$90,$96,$D8,$1C,$AE,$F0,$20
	dc.b	$1C,$81,$86,$C1,$C8,$21,$96,$D8
	dc.b	$23,$AE,$F0,$24,$AF,$21,$81,$87
	dc.b	$C1,$C8,$20,$97,$D8,$21,$AE,$F0
	dc.b	$23,$1C,$81,$86,$C1,$C8,$1F,$96
	dc.b	$D8,$21,$B0,$F0,$22,$AF,$1A,$81
	dc.b	$87,$C1,$C8,$21,$96,$D8,$1A,$AE
	dc.b	$F0,$1E,$1A,$81,$86,$C1,$C8,$1F
	dc.b	$96,$D8,$21,$AE,$F0,$22,$AF,$1F
	dc.b	$81,$86,$C1,$C8,$1E,$97,$D8,$1F
	dc.b	$AE,$F0,$21,$1A,$81,$86,$C1,$C8
	dc.b	$1D,$96,$D8,$1F,$AE,$F0,$20,$AF
	dc.b	$24,$81,$87,$C1,$C8,$1F,$96,$D8
	dc.b	$24,$AE,$F0,$28,$24,$81,$86,$C1
	dc.b	$C8,$1D,$96,$D8,$1F,$AE,$F0,$20
	dc.b	$1D,$81,$86,$C1,$C8,$1C,$97,$D8
	dc.b	$1D,$AE,$F0,$1F,$C6,$F0,$18,$82
	dc.b	$B7,$C3,$C0,$26,$81,$9D,$C1,$E0
	dc.b	$28,$81,$9F,$C7,$E0,$1C,$81,$A0
	dc.b	$C1,$E0,$22,$81,$9C,$21,$81,$9F
	dc.b	$20,$C1,$DF,$1C,$60
* Sequence 63, Channel 4:
	dc.b	$C0,$6A,$15,$61,$88,$72,$05,$04
	dc.b	$83,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$CC,$48,$C0,$72,$05
	dc.b	$04,$CB,$48,$C1,$72,$05,$0C,$CC
	dc.b	$48,$CB,$48,$C1,$72,$05,$03,$CB
	dc.b	$48,$C1,$72,$05,$0C,$CC,$48,$CB
	dc.b	$48,$C1,$72,$05,$06,$CB,$48,$C1
	dc.b	$72,$05,$0D,$C3,$48,$60
* Sequence 63, Channel 5:
	dc.b	$C0,$6A,$14,$61,$85,$72,$05,$07
	dc.b	$B3,$C1,$E0,$37,$37,$37,$37,$37
	dc.b	$37,$37,$37,$37,$37,$37,$37,$37
	dc.b	$37,$37,$37,$37,$37,$37,$37,$37
	dc.b	$37,$37,$37,$37,$37,$37,$C7,$E0
	dc.b	$37,$C1,$E0,$37,$37,$37,$F3,$37
	dc.b	$60
* Sequence 63, Channel 6:
	dc.b	$C0,$6A,$46,$E4,$61,$0F,$83,$D8
	dc.b	$33,$CC,$33,$FC,$31,$D8,$33,$CC
	dc.b	$33,$FC,$31,$D8,$33,$CC,$33,$FC
	dc.b	$31,$D8,$33,$CC,$33,$FC,$31,$D8
	dc.b	$33,$CC,$33,$FC,$31,$D8,$33,$CC
	dc.b	$33,$FC,$31,$D8,$33,$CC,$33,$FC
	dc.b	$31,$D8,$33,$CC,$33,$FC,$31,$D8
	dc.b	$33,$CC,$33,$FC,$31,$D8,$33,$CC
	dc.b	$33,$FC,$31,$D8,$33,$CC,$33,$FC
	dc.b	$31,$D8,$33,$CC,$33,$FC,$31,$D8
	dc.b	$33,$CC,$33,$FC,$31,$D8,$33,$CC
	dc.b	$33,$FC,$31,$D8,$33,$CC,$33,$FC
	dc.b	$31,$D8,$33,$CC,$33,$FC,$31,$D8
	dc.b	$31,$CC,$31,$FC,$30,$D8,$31,$CC
	dc.b	$31,$FC,$30,$D8,$31,$CC,$31,$FC
	dc.b	$30,$D8,$31,$CC,$31,$FC,$30,$D8
	dc.b	$31,$CC,$31,$FC,$30,$D8,$31,$CC
	dc.b	$31,$FC,$30,$D8,$31,$CC,$31,$C3
	dc.b	$30,$60
* Sequence 63, Channel 7:
	dc.b	$C0,$6A,$00,$61,$77,$F6,$C0,$72
	dc.b	$05,$1B,$84,$CC,$28,$28,$CB,$28
	dc.b	$C1,$61,$78,$CB,$2B,$C1,$61,$77
	dc.b	$CB,$28,$C1,$61,$78,$CB,$2B,$C1
	dc.b	$61,$77,$CB,$26,$C1,$61,$78,$CC
	dc.b	$28,$28,$28,$CB,$28,$C1,$61,$77
	dc.b	$CB,$2B,$C1,$61,$78,$CB,$28,$C1
	dc.b	$61,$77,$CB,$2B,$C1,$61,$78,$CB
	dc.b	$26,$C1,$61,$77,$CC,$28,$28,$28
	dc.b	$CB,$28,$C1,$61,$78,$CB,$2B,$C1
	dc.b	$61,$77,$CB,$28,$C1,$61,$78,$CB
	dc.b	$2B,$C1,$61,$77,$CB,$26,$C1,$61
	dc.b	$78,$CC,$28,$28,$28,$CB,$28,$C1
	dc.b	$61,$77,$CB,$2B,$C1,$61,$78,$CB
	dc.b	$28,$C1,$61,$77,$CB,$2B,$C1,$61
	dc.b	$78,$CB,$26,$C1,$61,$77,$C4,$28
	dc.b	$60
* Sequence 63, Channel 8:
	dc.b	$C0,$61,$8A,$82,$BF,$39,$82,$BD
	dc.b	$C3,$C0,$34,$82,$BC,$C0,$34,$82
	dc.b	$BB,$C3,$C0,$3B,$82,$BC,$C0,$39
	dc.b	$82,$BE,$C3,$C0,$34,$82,$BC,$C0
	dc.b	$3B,$C3,$C0,$34,$C0,$3A,$82,$BF
	dc.b	$C3,$C0,$32,$C0,$39,$82,$BD,$C3
	dc.b	$C0,$32,$82,$B9,$C0,$32,$82,$BC
	dc.b	$C3,$C0,$3A,$82,$BD,$C0,$39,$C3
	dc.b	$C0,$32,$82,$BF,$C0,$38,$C3,$C0
	dc.b	$30,$82,$BA,$C0,$37,$82,$B9,$C3
	dc.b	$C0,$30,$82,$BA,$C0,$38,$C3,$C0
	dc.b	$30,$82,$BD,$C0,$37,$82,$BB,$C3
	dc.b	$C0,$30,$81,$9E,$C0,$2B,$2E,$C1
	dc.b	$E0,$32,$C0,$2D,$29,$C1,$E0,$32
	dc.b	$82,$BE,$C0,$2F,$28,$C3,$C0,$2C
	dc.b	$81,$9E,$C0,$2B,$2E,$C1,$E0,$32
	dc.b	$C0,$2D,$29,$C1,$E0,$32,$82,$BF
	dc.b	$C0,$2F,$28,$C3,$C0,$2C,$81,$9E
	dc.b	$C0,$2B,$2E,$C1,$E0,$32,$C0,$2D
	dc.b	$29,$C1,$E0,$32,$82,$BD,$C0,$2F
	dc.b	$28,$C3,$C0,$2C,$81,$9E,$C0,$2B
	dc.b	$2E,$C1,$E0,$32,$C0,$2D,$29,$C1
	dc.b	$E0,$32,$82,$B5,$C0,$2F,$28,$C2
	dc.b	$F5,$2C,$60
* Sequence 63, Channel 9:
	dc.b	$C0,$6A,$40,$61,$8E,$E4,$72,$05
	dc.b	$07,$8B,$CC,$34,$97,$D8,$39,$3C
	dc.b	$AF,$F0,$40,$39,$81,$9E,$C1,$E0
	dc.b	$3B,$81,$A0,$C2,$C4,$38,$8B,$CC
	dc.b	$34,$97,$D8,$39,$3C,$AF,$F0,$40
	dc.b	$39,$82,$BE,$C3,$C0,$3B,$E4,$61
	dc.b	$8D,$8B,$CC,$32,$97,$D8,$37,$3A
	dc.b	$AF,$F0,$3E,$37,$81,$9E,$C1,$E0
	dc.b	$39,$81,$A0,$C2,$C4,$36,$8B,$CC
	dc.b	$32,$97,$D8,$37,$3A,$AF,$F0,$3E
	dc.b	$37,$81,$9E,$C1,$E0,$39,$81,$A0
	dc.b	$C2,$C4,$3E,$8B,$CC,$30,$97,$D8
	dc.b	$35,$38,$AF,$F0,$3C,$35,$81,$9E
	dc.b	$C1,$E0,$37,$81,$A0,$C2,$C4,$34
	dc.b	$8B,$CC,$30,$97,$D8,$35,$38,$AF
	dc.b	$F0,$3C,$35,$81,$9E,$C1,$E0,$37
	dc.b	$81,$9F,$C1,$DF,$3C,$60
* Sequence 64, Channel 0:
	dc.b	$C0,$68,$3E,$64,$7F,$C0,$63,$72
	dc.b	$05,$11,$6A,$40,$C3,$C0,$61,$86
	dc.b	$B0,$F0,$21,$1F,$81,$A0,$1C,$C0
	dc.b	$72,$05,$0C,$F0,$61,$8E,$97,$D8
	dc.b	$2D,$85,$2B,$98,$2E,$85,$28,$98
	dc.b	$26,$29,$A6,$F0,$28,$99,$D8,$39
	dc.b	$86,$37,$99,$3A,$85,$34,$99,$3C
	dc.b	$97,$3A,$81,$9D,$CD,$E0,$39,$97
	dc.b	$D8,$2D,$85,$2B,$98,$2E,$85,$28
	dc.b	$98,$26,$97,$29,$A6,$F0,$28,$95
	dc.b	$C0,$39,$D8,$2D,$88,$C0,$37,$89
	dc.b	$D8,$2B,$96,$C0,$2E,$D8,$3A,$8B
	dc.b	$C0,$40,$D8,$34,$95,$C0,$45,$D8
	dc.b	$39,$94,$C0,$46,$95,$D8,$3A,$81
	dc.b	$9E,$C0,$4C,$81,$9F,$C7,$E0,$40
	dc.b	$C0,$65,$60
* Sequence 64, Channel 1:
	dc.b	$64,$7F,$C0,$63,$72,$05,$11,$6A
	dc.b	$40,$61,$8D,$B0,$F0,$39,$37,$81
	dc.b	$A0,$C1,$E0,$34,$B0,$F0,$2D,$2B
	dc.b	$81,$A0,$C1,$E0,$28,$82,$C6,$39
	dc.b	$39,$34,$34,$3A,$83,$3A,$82,$34
	dc.b	$34,$39,$39,$34,$34,$37,$37,$34
	dc.b	$34,$39,$39,$34,$34,$3A,$83,$3A
	dc.b	$82,$34,$34,$39,$39,$34,$34,$34
	dc.b	$D2,$34,$C6,$39,$39,$34,$34,$3A
	dc.b	$83,$3A,$82,$34,$34,$39,$39,$34
	dc.b	$34,$37,$37,$34,$34,$39,$39,$34
	dc.b	$34,$3A,$83,$3A,$82,$34,$34,$39
	dc.b	$39,$34,$34,$3A,$3A,$34,$34,$39
	dc.b	$39,$34,$34,$3A,$3A,$34,$C8,$D6
	dc.b	$34,$C0,$72,$05,$0C,$F0,$61,$91
	dc.b	$C6,$45,$45,$40,$40,$46,$83,$46
	dc.b	$82,$40,$40,$45,$45,$40,$40,$43
	dc.b	$43,$40,$40,$45,$45,$40,$40,$46
	dc.b	$83,$46,$82,$40,$40,$45,$45,$40
	dc.b	$40,$40,$D2,$40,$C6,$45,$45,$40
	dc.b	$40,$46,$83,$46,$82,$40,$40,$45
	dc.b	$45,$40,$40,$43,$43,$40,$40,$45
	dc.b	$45,$40,$40,$46,$83,$46,$82,$40
	dc.b	$40,$45,$45,$40,$40,$40,$C4,$C2
	dc.b	$40,$AE,$F0,$3C,$3A,$81,$9B,$C1
	dc.b	$E0,$39,$AE,$C0,$3C,$AD,$F0,$37
	dc.b	$AE,$C0,$3A,$AD,$F0,$35,$81,$9B
	dc.b	$C0,$39,$81,$9E,$C1,$E0,$34,$C0
	dc.b	$65,$60
* Sequence 64, Channel 2:
	dc.b	$64,$7F,$C0,$63,$72,$05,$0C,$6A
	dc.b	$00,$CC,$F0,$61,$85,$98,$EA,$1D
	dc.b	$82,$C6,$1D,$98,$F0,$1D,$97,$EA
	dc.b	$1D,$82,$C6,$1D,$98,$F0,$1D,$1D
	dc.b	$1D,$97,$EA,$1D,$82,$C6,$1D,$98
	dc.b	$F0,$1D,$97,$EA,$1D,$82,$C6,$1D
	dc.b	$98,$F0,$1D,$97,$EA,$1D,$82,$C6
	dc.b	$1D,$98,$F0,$1D,$97,$EA,$1D,$82
	dc.b	$C6,$1D,$98,$F0,$1D,$97,$EA,$1D
	dc.b	$82,$C6,$1D,$98,$CD,$E0,$1D,$C0
	dc.b	$65,$60
* Sequence 64, Channel 3:
	dc.b	$64,$7F,$C0,$63,$72,$05,$07,$6A
	dc.b	$40,$C3,$C0,$61,$80,$B0,$C0,$2D
	dc.b	$F0,$21,$C0,$2B,$F0,$1F,$81,$97
	dc.b	$C0,$28,$81,$94,$C4,$E0,$1C,$96
	dc.b	$D8,$2D,$87,$2B,$97,$D7,$2E,$C1
	dc.b	$72,$05,$00,$86,$C0,$28,$85,$D7
	dc.b	$1C,$C1,$72,$05,$07,$97,$D8,$30
	dc.b	$96,$2E,$81,$9F,$C1,$E0,$2D,$AE
	dc.b	$F0,$21,$22,$81,$9A,$C1,$E0,$21
	dc.b	$AE,$F0,$1C,$1D,$28,$C6,$F0,$25
	dc.b	$97,$D8,$21,$85,$1F,$98,$22,$85
	dc.b	$1C,$98,$1A,$97,$1D,$A6,$F0,$1C
	dc.b	$99,$C0,$2D,$D8,$21,$86,$C0,$2B
	dc.b	$85,$D8,$1F,$99,$C0,$2E,$9A,$D8
	dc.b	$22,$85,$C0,$28,$D8,$1C,$99,$C0
	dc.b	$30,$98,$D8,$24,$97,$C0,$2E,$96
	dc.b	$D8,$22,$81,$9A,$C0,$21,$81,$9D
	dc.b	$C1,$E0,$2D,$AC,$F0,$21,$AE,$22
	dc.b	$81,$9A,$C1,$E0,$21,$B0,$F0,$1C
	dc.b	$1D,$28,$AE,$25,$C0,$65,$60
* Sequence 64, Channel 4:
	dc.b	$64,$7F,$C0,$63,$72,$05,$07,$6A
	dc.b	$40,$CC,$F0,$61,$81,$82,$C6,$2D
	dc.b	$2D,$28,$28,$2E,$83,$2E,$82,$28
	dc.b	$28,$2D,$2D,$28,$28,$2B,$2B,$28
	dc.b	$28,$2D,$2D,$28,$28,$2E,$83,$2E
	dc.b	$82,$28,$28,$2D,$2D,$28,$28,$28
	dc.b	$CF,$28,$82,$94,$C2,$D3,$34,$AD
	dc.b	$CD,$E0,$3D,$82,$C6,$2D,$2D,$28
	dc.b	$28,$2E,$83,$2E,$82,$28,$28,$2D
	dc.b	$2D,$28,$28,$2B,$2B,$28,$28,$2D
	dc.b	$2D,$28,$28,$2E,$83,$2E,$82,$28
	dc.b	$28,$2D,$2D,$28,$28,$28,$D2,$28
	dc.b	$AD,$F0,$34,$35,$40,$3D,$C0,$65
	dc.b	$60
* Sequence 64, Channel 5:
	dc.b	$64,$7F,$C0,$63,$C6,$C0,$61,$8A
	dc.b	$97,$D8,$39,$85,$37,$98,$3A,$85
	dc.b	$34,$98,$32,$35,$A6,$F0,$34,$82
	dc.b	$C0,$45,$99,$C6,$39,$82,$45,$40
	dc.b	$40,$C0,$46,$86,$C6,$37,$83,$46
	dc.b	$82,$40,$40,$C0,$45,$99,$C6,$3A
	dc.b	$82,$45,$40,$40,$C0,$43,$85,$C6
	dc.b	$34,$82,$43,$40,$40,$C0,$45,$99
	dc.b	$C6,$3C,$82,$45,$40,$40,$C0,$46
	dc.b	$97,$C6,$3A,$83,$46,$82,$40,$40
	dc.b	$C0,$45,$81,$9D,$C6,$39,$82,$45
	dc.b	$40,$40,$46,$46,$40,$40,$45,$45
	dc.b	$40,$40,$46,$46,$40,$40,$C0,$37
	dc.b	$AE,$C6,$30,$82,$37,$37,$37,$37
	dc.b	$37,$37,$37,$C0,$35,$AE,$C6,$2E
	dc.b	$82,$35,$35,$35,$35,$35,$35,$35
	dc.b	$C0,$34,$81,$9B,$C6,$2D,$82,$34
	dc.b	$34,$34,$34,$34,$34,$34,$34,$34
	dc.b	$34,$34,$34,$34,$34,$34,$C0,$37
	dc.b	$AE,$C6,$30,$82,$37,$37,$37,$37
	dc.b	$37,$37,$37,$C0,$35,$AE,$C6,$2E
	dc.b	$82,$35,$35,$35,$35,$35,$35,$35
	dc.b	$C0,$34,$81,$9B,$C6,$2D,$82,$34
	dc.b	$34,$34,$34,$34,$34,$34,$34,$34
	dc.b	$34,$34,$34,$34,$34,$C9,$C6,$34
	dc.b	$C6,$39,$39,$34,$34,$3A,$3A,$34
	dc.b	$34,$39,$39,$34,$34,$37,$37,$34
	dc.b	$34,$39,$39,$34,$34,$3A,$3A,$34
	dc.b	$34,$39,$39,$34,$34,$3A,$3A,$34
	dc.b	$34,$39,$39,$34,$34,$3A,$3A,$34
	dc.b	$34,$C0,$37,$AE,$C6,$3C,$82,$37
	dc.b	$37,$37,$37,$37,$37,$37,$C0,$35
	dc.b	$AE,$C6,$3A,$82,$35,$35,$35,$35
	dc.b	$35,$35,$35,$C0,$34,$81,$9B,$C6
	dc.b	$39,$82,$34,$34,$34,$34,$34,$34
	dc.b	$34,$34,$34,$34,$34,$34,$34,$34
	dc.b	$34,$AE,$C0,$3C,$82,$C6,$37,$37
	dc.b	$37,$37,$37,$37,$37,$37,$AE,$C0
	dc.b	$3A,$82,$C6,$35,$35,$35,$35,$35
	dc.b	$35,$35,$35,$81,$9B,$C0,$39,$82
	dc.b	$C6,$34,$34,$34,$34,$34,$34,$34
	dc.b	$34,$34,$34,$34,$34,$34,$34,$34
	dc.b	$34,$C0,$65,$60
* Sequence 64, Channel 6:
	dc.b	$64,$7F,$C0,$63,$72,$05,$07,$6A
	dc.b	$40,$CC,$F0,$61,$90,$81,$9D,$C1
	dc.b	$E0,$1F,$84,$A4,$C9,$C0,$1C,$C0
	dc.b	$6A,$46,$C1,$D4,$61,$0F,$87,$EA
	dc.b	$35,$83,$C6,$31,$87,$EA,$30,$83
	dc.b	$C6,$33,$8D,$C2,$CA,$30,$83,$C6
	dc.b	$33,$86,$EA,$30,$82,$C6,$33,$88
	dc.b	$FC,$35,$C0,$72,$05,$07,$6A,$40
	dc.b	$C1,$E0,$61,$90,$81,$9E,$1F,$84
	dc.b	$A4,$C4,$E0,$1C,$C4,$65,$60
* Sequence 64, Channel 7:
	dc.b	$64,$7F,$C0,$63,$C3,$C0,$61,$8A
	dc.b	$82,$C6,$2D,$2D,$28,$28,$2E,$83
	dc.b	$2E,$82,$28,$28,$2D,$2D,$28,$28
	dc.b	$2B,$2B,$28,$28,$2D,$2D,$28,$28
	dc.b	$2E,$83,$2E,$82,$28,$28,$2D,$2D
	dc.b	$28,$28,$28,$D2,$28,$C6,$2D,$2D
	dc.b	$28,$28,$2E,$83,$2E,$82,$28,$28
	dc.b	$2D,$2D,$28,$28,$2B,$2B,$28,$28
	dc.b	$2D,$2D,$28,$28,$2E,$83,$2E,$82
	dc.b	$28,$28,$2D,$2D,$28,$28,$28,$D2
	dc.b	$28,$C6,$2D,$2D,$28,$28,$2E,$83
	dc.b	$2E,$82,$28,$28,$2D,$2D,$28,$28
	dc.b	$2B,$2B,$28,$28,$2D,$2D,$28,$28
	dc.b	$2E,$83,$2E,$82,$28,$28,$2D,$2D
	dc.b	$28,$28,$2E,$2E,$28,$28,$2D,$2D
	dc.b	$28,$28,$2E,$2E,$28,$C3,$C6,$28
	dc.b	$C6,$2B,$2B,$2B,$2B,$2B,$2B,$2B
	dc.b	$2B,$29,$29,$29,$29,$29,$29,$29
	dc.b	$29,$28,$28,$28,$28,$28,$28,$28
	dc.b	$28,$28,$28,$28,$28,$28,$28,$28
	dc.b	$28,$2D,$2D,$28,$28,$2E,$83,$2E
	dc.b	$82,$28,$28,$2D,$2D,$28,$28,$2B
	dc.b	$2B,$28,$28,$2D,$2D,$28,$28,$2E
	dc.b	$83,$2E,$82,$28,$28,$2D,$2D,$28
	dc.b	$28,$28,$D2,$28,$C6,$2D,$2D,$28
	dc.b	$28,$2E,$83,$2E,$82,$28,$28,$2D
	dc.b	$2D,$28,$28,$2B,$2B,$28,$28,$2D
	dc.b	$2D,$28,$28,$2E,$83,$2E,$82,$28
	dc.b	$28,$2D,$2D,$28,$28,$28,$D2,$28
	dc.b	$C6,$2D,$2D,$28,$28,$2E,$83,$2E
	dc.b	$82,$28,$28,$2D,$2D,$28,$28,$2B
	dc.b	$2B,$28,$28,$2D,$2D,$28,$28,$2E
	dc.b	$83,$2E,$82,$28,$28,$2D,$2D,$28
	dc.b	$28,$28,$D2,$28,$C6,$2D,$2D,$28
	dc.b	$28,$2E,$83,$2E,$82,$28,$28,$2D
	dc.b	$2D,$28,$28,$2B,$2B,$28,$28,$2D
	dc.b	$2D,$28,$28,$2E,$83,$2E,$82,$28
	dc.b	$28,$2D,$2D,$28,$28,$2E,$2E,$28
	dc.b	$28,$2D,$2D,$28,$28,$2E,$83,$2E
	dc.b	$82,$28,$C6,$C6,$28,$C0,$65,$60
* Sequence 64, Channel 8:
	dc.b	$64,$7F,$C0,$63,$72,$05,$07,$6A
	dc.b	$40,$61,$92,$82,$C6,$21,$21,$1C
	dc.b	$1C,$22,$83,$22,$82,$1C,$1C,$21
	dc.b	$21,$1C,$1C,$1F,$1F,$1C,$1C,$21
	dc.b	$21,$1C,$1C,$22,$22,$1C,$1C,$21
	dc.b	$21,$1C,$1C,$1C,$D2,$1C,$C6,$21
	dc.b	$21,$1C,$1C,$22,$83,$22,$82,$1C
	dc.b	$1C,$21,$21,$1C,$1C,$1F,$1F,$1C
	dc.b	$1C,$21,$21,$1C,$1C,$22,$22,$1C
	dc.b	$1C,$21,$21,$1C,$1C,$22,$22,$1C
	dc.b	$1C,$21,$21,$1C,$1C,$22,$22,$1C
	dc.b	$1C,$21,$21,$1C,$1C,$1F,$1F,$1C
	dc.b	$1C,$21,$21,$1C,$1C,$22,$22,$1C
	dc.b	$1C,$21,$21,$1C,$1C,$1C,$D2,$1C
	dc.b	$C6,$21,$21,$1C,$1C,$22,$83,$22
	dc.b	$82,$1C,$1C,$21,$21,$1C,$1C,$1F
	dc.b	$1F,$1C,$1C,$21,$21,$1C,$1C,$22
	dc.b	$22,$1C,$1C,$21,$21,$1C,$1C,$22
	dc.b	$22,$1C,$1C,$21,$21,$1C,$1C,$22
	dc.b	$22,$1C,$C3,$C6,$1C,$C6,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1D,$1D
	dc.b	$1D,$1D,$1D,$1D,$1D,$1D,$1C,$1C
	dc.b	$1C,$1C,$1C,$1C,$1C,$1C,$1C,$1C
	dc.b	$1C,$1C,$1C,$1C,$1C,$1C,$21,$21
	dc.b	$1C,$1C,$22,$83,$22,$82,$1C,$1C
	dc.b	$21,$21,$1C,$1C,$1F,$1F,$1C,$1C
	dc.b	$21,$21,$1C,$1C,$22,$83,$22,$82
	dc.b	$1C,$1C,$21,$21,$1C,$1C,$1C,$D2
	dc.b	$1C,$C6,$21,$21,$1C,$1C,$22,$22
	dc.b	$1C,$1C,$21,$21,$1C,$1C,$1F,$1F
	dc.b	$1C,$1C,$21,$21,$1C,$1C,$22,$22
	dc.b	$1C,$1C,$21,$21,$1C,$1C,$1C,$D2
	dc.b	$1C,$C6,$21,$21,$1C,$1C,$22,$22
	dc.b	$1C,$1C,$21,$21,$1C,$1C,$1F,$1F
	dc.b	$1C,$1C,$21,$21,$1C,$1C,$22,$22
	dc.b	$1C,$1C,$21,$21,$1C,$1C,$1C,$D2
	dc.b	$1C,$C6,$21,$21,$1C,$1C,$22,$22
	dc.b	$1C,$1C,$21,$21,$1C,$1C,$1F,$1F
	dc.b	$1C,$1C,$21,$21,$1C,$1C,$22,$22
	dc.b	$1C,$1C,$21,$21,$1C,$1C,$22,$22
	dc.b	$1C,$1C,$21,$21,$1C,$1C,$22,$22
	dc.b	$1C,$C6,$C6,$1C,$C0,$65,$60
* Sequence 64, Channel 9:
	dc.b	$64,$7F,$C0,$63,$72,$05,$11,$6A
	dc.b	$40,$61,$89,$82,$C6,$21,$21,$1C
	dc.b	$1C,$22,$22,$1C,$1C,$21,$21,$1C
	dc.b	$1C,$1F,$1F,$1C,$1C,$21,$21,$1C
	dc.b	$1C,$22,$22,$1C,$1C,$21,$21,$1C
	dc.b	$1C,$1C,$D2,$1C,$C6,$21,$21,$1C
	dc.b	$1C,$22,$22,$1C,$1C,$21,$21,$1C
	dc.b	$1C,$1F,$1F,$1C,$1C,$21,$21,$1C
	dc.b	$1C,$22,$22,$1C,$1C,$21,$21,$1C
	dc.b	$1C,$1C,$D2,$1C,$C6,$21,$21,$1C
	dc.b	$1C,$22,$22,$1C,$1C,$21,$21,$1C
	dc.b	$1C,$1F,$1F,$1C,$1C,$21,$21,$1C
	dc.b	$1C,$22,$22,$1C,$1C,$21,$21,$1C
	dc.b	$1C,$1C,$D2,$1C,$C6,$21,$21,$1C
	dc.b	$1C,$22,$22,$1C,$1C,$21,$21,$1C
	dc.b	$1C,$1F,$1F,$1C,$1C,$21,$21,$1C
	dc.b	$1C,$22,$22,$1C,$1C,$21,$21,$1C
	dc.b	$1C,$22,$22,$1C,$1C,$21,$21,$1C
	dc.b	$1C,$22,$22,$1C,$C6,$C6,$1C,$C6
	dc.b	$21,$21,$1C,$1C,$22,$22,$1C,$1C
	dc.b	$21,$21,$1C,$1C,$1F,$1F,$1C,$1C
	dc.b	$21,$21,$1C,$1C,$22,$22,$1C,$1C
	dc.b	$21,$21,$1C,$1C,$1C,$D2,$1C,$C6
	dc.b	$21,$21,$1C,$1C,$22,$22,$1C,$1C
	dc.b	$21,$21,$1C,$1C,$1F,$1F,$1C,$1C
	dc.b	$21,$21,$1C,$1C,$22,$22,$1C,$1C
	dc.b	$21,$21,$1C,$1C,$1C,$D2,$1C,$C6
	dc.b	$21,$21,$1C,$1C,$22,$22,$1C,$1C
	dc.b	$21,$21,$1C,$1C,$1F,$1F,$1C,$1C
	dc.b	$21,$21,$1C,$1C,$22,$22,$1C,$1C
	dc.b	$21,$21,$1C,$1C,$1C,$D2,$1C,$C6
	dc.b	$21,$21,$1C,$1C,$22,$22,$1C,$1C
	dc.b	$21,$21,$1C,$1C,$1F,$1F,$1C,$1C
	dc.b	$21,$21,$1C,$1C,$22,$22,$1C,$1C
	dc.b	$21,$21,$1C,$1C,$22,$22,$1C,$1C
	dc.b	$21,$21,$1C,$1C,$22,$22,$1C,$C6
	dc.b	$C6,$1C,$C0,$65,$60
* Sequence 65, Channel 0:
	dc.b	$C0,$68,$38,$64,$7F,$C0,$63,$61
	dc.b	$6F,$72,$05,$07,$C3,$C0,$6A,$40
	dc.b	$B0,$F0,$41,$86,$CC,$3F,$3D,$3C
	dc.b	$3A,$A4,$E4,$42,$86,$C6,$41,$3F
	dc.b	$AD,$F0,$3C,$B0,$41,$86,$CC,$3D
	dc.b	$3F,$41,$3D,$98,$D8,$3F,$42,$B0
	dc.b	$C6,$F0,$45,$F0,$41,$86,$CC,$3F
	dc.b	$3D,$3C,$3A,$A4,$E4,$42,$86,$C6
	dc.b	$41,$3F,$B0,$F0,$3C,$41,$86,$CC
	dc.b	$3D,$3F,$41,$3D,$98,$D8,$3F,$42
	dc.b	$B0,$F0,$45,$B9,$C0,$46,$F0,$3A
	dc.b	$CC,$72,$05,$0C,$84,$C0,$46,$C3
	dc.b	$3A,$C1,$72,$05,$0A,$C0,$46,$C3
	dc.b	$3A,$C1,$72,$05,$07,$C0,$46,$C4
	dc.b	$3A,$B9,$C0,$46,$FC,$3A,$84,$C0
	dc.b	$46,$C4,$3A,$C0,$46,$C4,$3A,$C0
	dc.b	$46,$C4,$3A,$8C,$C0,$46,$89,$C4
	dc.b	$3A,$C2,$72,$05,$2F,$C1,$72,$05
	dc.b	$38,$C2,$72,$05,$42,$C1,$72,$05
	dc.b	$50,$C2,$72,$05,$61,$C0,$65,$60
* Sequence 65, Channel 1:
	dc.b	$64,$7F,$C0,$63,$72,$05,$00,$61
	dc.b	$70,$C3,$C0,$6A,$40,$B0,$F0,$29
	dc.b	$86,$CC,$27,$25,$24,$22,$A4,$E4
	dc.b	$2A,$86,$C6,$29,$27,$B0,$F0,$24
	dc.b	$29,$86,$CC,$25,$27,$29,$25,$98
	dc.b	$D8,$27,$2A,$AA,$F0,$2D,$82,$BC
	dc.b	$C3,$C0,$22,$81,$A0,$C1,$E0,$26
	dc.b	$B0,$F0,$26,$AA,$1D,$B0,$29,$86
	dc.b	$CC,$27,$25,$24,$22,$A4,$E4,$2A
	dc.b	$86,$C6,$29,$27,$B0,$F0,$24,$29
	dc.b	$86,$CC,$25,$27,$29,$25,$98,$D8
	dc.b	$27,$2A,$B0,$F0,$29,$B8,$FC,$22
	dc.b	$84,$C4,$22,$22,$22,$B8,$FC,$22
	dc.b	$84,$C4,$22,$22,$D0,$22,$C0,$65
	dc.b	$60
* Sequence 65, Channel 2:
	dc.b	$64,$7F,$C0,$63,$72,$05,$11,$61
	dc.b	$71,$C9,$C0,$6A,$40,$98,$D8,$3D
	dc.b	$8C,$CC,$3C,$3A,$98,$D8,$3C,$B0
	dc.b	$F0,$3F,$8C,$CC,$3D,$3C,$98,$D8
	dc.b	$3D,$CB,$DB,$41,$C1,$72,$05,$00
	dc.b	$81,$3A,$82,$C2,$3C,$81,$C1,$3E
	dc.b	$82,$C2,$3F,$81,$C1,$41,$82,$C2
	dc.b	$43,$81,$C1,$45,$C0,$72,$05,$07
	dc.b	$87,$CE,$46,$C0,$65,$60
* Sequence 65, Channel 3:
	dc.b	$64,$7F,$C0,$63,$72,$05,$0C,$61
	dc.b	$72,$C9,$C0,$6A,$30,$B0,$F0,$35
	dc.b	$36,$37,$CC,$CC,$38,$C0,$65,$60
* Sequence 65, Channel 4:
	dc.b	$64,$7F,$C0,$63,$6A,$3C,$61,$73
	dc.b	$72,$05,$0C,$83,$80,$16,$C3,$C0
	dc.b	$22,$81,$A0,$C1,$E0,$2E,$B0,$F0
	dc.b	$33,$30,$81,$A0,$C1,$E0,$2E,$B0
	dc.b	$F0,$33,$35,$98,$D8,$3D,$8C,$CC
	dc.b	$3C,$3A,$98,$D8,$3C,$B0,$F0,$3F
	dc.b	$8C,$CC,$3D,$3C,$98,$D8,$3D,$41
	dc.b	$C0,$41,$35,$B0,$D8,$2D,$8C,$C0
	dc.b	$40,$CC,$34,$C0,$3E,$CC,$32,$98
	dc.b	$C0,$40,$34,$B0,$D8,$2E,$C0,$43
	dc.b	$D8,$37,$2F,$8C,$C0,$41,$CC,$35
	dc.b	$C0,$40,$CC,$34,$AD,$C0,$45,$8C
	dc.b	$39,$F0,$30,$81,$A0,$C1,$E0,$2E
	dc.b	$B0,$F0,$33,$30,$3D,$8C,$CC,$3A
	dc.b	$3C,$3D,$3A,$98,$D8,$3C,$3F,$AC
	dc.b	$F0,$41,$A4,$C0,$3A,$81,$88,$E4
	dc.b	$2E,$A4,$36,$81,$88,$C0,$33,$A4
	dc.b	$E4,$2A,$F0,$2F,$C0,$65,$60
* Sequence 65, Channel 5:
	dc.b	$64,$7F,$C0,$63,$72,$05,$07,$61
	dc.b	$70,$C9,$C0,$6A,$40,$98,$D8,$2E
	dc.b	$A4,$E4,$31,$86,$C6,$30,$31,$33
	dc.b	$31,$30,$31,$BC,$FC,$33,$86,$C6
	dc.b	$31,$33,$35,$33,$31,$33,$BC,$FC
	dc.b	$35,$86,$C6,$34,$35,$37,$35,$34
	dc.b	$35,$B0,$FC,$37,$86,$C6,$30,$35
	dc.b	$39,$35,$39,$C2,$E2,$3C,$8C,$C0
	dc.b	$30,$CC,$29,$C0,$35,$CC,$2D,$C0
	dc.b	$39,$CC,$30,$B0,$F0,$3A,$8C,$CC
	dc.b	$3A,$3C,$3D,$3A,$98,$D8,$3C,$3F
	dc.b	$AA,$C3,$CC,$41,$C0,$65,$60
* Sequence 65, Channel 6:
	dc.b	$64,$7F,$C0,$63,$61,$74,$72,$05
	dc.b	$0C,$6A,$28,$82,$BF,$C3,$C0,$22
	dc.b	$81,$A0,$C0,$3D,$C1,$E0,$35,$B0
	dc.b	$F0,$3A,$AF,$39,$81,$A0,$C0,$3D
	dc.b	$C1,$E0,$35,$B0,$F0,$3A,$C6,$F0
	dc.b	$3C,$81,$A0,$C1,$E0,$3D,$B0,$F0
	dc.b	$3A,$8B,$C6,$CC,$35,$C0,$65,$60
* Sequence 65, Channel 7:
	dc.b	$64,$7F,$C0,$63,$6A,$40,$61,$79
	dc.b	$72,$05,$0C,$83,$C6,$3E,$81,$C3
	dc.b	$3E,$3E,$C6,$3E,$3E,$83,$3E,$81
	dc.b	$3E,$83,$3E,$81,$3E,$83,$3E,$81
	dc.b	$C3,$3E,$3E,$C6,$3E,$3E,$83,$3E
	dc.b	$81,$3E,$83,$3E,$81,$3E,$83,$3E
	dc.b	$81,$C3,$3E,$3E,$C6,$3E,$3E,$83
	dc.b	$3E,$81,$3E,$83,$3E,$81,$3E,$83
	dc.b	$3E,$81,$C3,$3E,$3E,$C6,$3E,$83
	dc.b	$3E,$81,$3E,$83,$3E,$81,$3E,$83
	dc.b	$3E,$3E,$81,$C3,$3E,$3E,$C6,$3E
	dc.b	$3E,$83,$3E,$81,$3E,$83,$3E,$81
	dc.b	$3E,$83,$3E,$81,$C3,$3E,$3E,$C6
	dc.b	$3E,$3E,$83,$3E,$81,$3E,$83,$3E
	dc.b	$81,$3E,$83,$3E,$81,$C3,$3E,$3E
	dc.b	$C6,$3E,$3E,$83,$3E,$81,$3E,$83
	dc.b	$3E,$81,$3E,$83,$3E,$81,$C3,$3E
	dc.b	$3E,$C6,$3E,$83,$3E,$81,$3E,$83
	dc.b	$3E,$81,$3E,$83,$3E,$3E,$81,$C3
	dc.b	$3E,$3E,$C6,$3E,$3E,$83,$3E,$81
	dc.b	$3E,$83,$3E,$81,$3E,$83,$3E,$81
	dc.b	$C3,$3E,$3E,$C6,$3E,$3E,$83,$3E
	dc.b	$81,$3E,$83,$3E,$81,$3E,$83,$3E
	dc.b	$81,$C3,$3E,$3E,$C6,$3E,$3E,$83
	dc.b	$3E,$81,$3E,$83,$3E,$81,$3E,$83
	dc.b	$3E,$81,$C3,$3E,$3E,$C6,$3E,$83
	dc.b	$3E,$81,$3E,$83,$3E,$81,$3E,$83
	dc.b	$C6,$C6,$3E,$C6,$3E,$81,$C3,$3E
	dc.b	$3E,$C6,$3E,$3E,$83,$3E,$81,$3E
	dc.b	$83,$3E,$81,$3E,$83,$3E,$81,$C3
	dc.b	$3E,$3E,$C6,$3E,$3E,$83,$3E,$81
	dc.b	$3E,$83,$3E,$81,$3E,$83,$3E,$81
	dc.b	$C3,$3E,$3E,$C6,$3E,$3E,$83,$3E
	dc.b	$81,$3E,$83,$3E,$81,$3E,$83,$3E
	dc.b	$81,$C3,$3E,$3E,$C6,$3E,$83,$3E
	dc.b	$81,$3E,$83,$3E,$81,$3E,$83,$3E
	dc.b	$3E,$81,$C3,$3E,$3E,$C6,$3E,$3E
	dc.b	$83,$3E,$81,$3E,$83,$3E,$81,$3E
	dc.b	$83,$3E,$81,$C3,$3E,$3E,$C6,$3E
	dc.b	$3E,$83,$3E,$81,$3E,$83,$3E,$81
	dc.b	$3E,$83,$3E,$81,$C3,$3E,$3E,$C6
	dc.b	$3E,$3E,$83,$3E,$81,$3E,$83,$3E
	dc.b	$81,$3E,$83,$3E,$81,$C3,$3E,$3E
	dc.b	$C6,$3E,$83,$3E,$81,$3E,$83,$3E
	dc.b	$81,$3E,$83,$C2,$E2,$3E,$C0,$65
	dc.b	$60
* Sequence 65, Channel 8:
	dc.b	$64,$7F,$C0,$63,$61,$0F,$6A,$46
	dc.b	$88,$E4,$33,$87,$CC,$33,$83,$F0
	dc.b	$33,$84,$E4,$33,$87,$CC,$33,$84
	dc.b	$D8,$33,$87,$CC,$31,$86,$30,$8A
	dc.b	$E4,$35,$87,$CC,$33,$83,$F0,$33
	dc.b	$84,$E4,$33,$87,$CC,$33,$84,$D8
	dc.b	$33,$87,$CC,$31,$86,$30,$8A,$E4
	dc.b	$33,$87,$CC,$33,$83,$F0,$33,$84
	dc.b	$E4,$33,$87,$CC,$33,$84,$D8,$33
	dc.b	$87,$CC,$31,$86,$30,$8A,$C5,$E8
	dc.b	$35,$87,$CC,$31,$86,$30,$8A,$E4
	dc.b	$35,$87,$CC,$33,$83,$F0,$33,$84
	dc.b	$E4,$33,$87,$CC,$33,$84,$D8,$33
	dc.b	$87,$CC,$31,$86,$30,$8A,$E4,$33
	dc.b	$87,$CC,$33,$83,$F0,$33,$84,$E4
	dc.b	$33,$87,$CC,$33,$84,$D8,$33,$87
	dc.b	$CC,$31,$86,$30,$8A,$D8,$35,$88
	dc.b	$CC,$33,$8D,$D8,$30,$83,$C4,$33
	dc.b	$C5,$33,$81,$C3,$33,$92,$D8,$33
	dc.b	$87,$CC,$30,$92,$D8,$35,$81,$C4
	dc.b	$33,$82,$33,$81,$33,$83,$CC,$31
	dc.b	$C0,$65,$60
* Sequence 65, Channel 9:
	dc.b	$64,$7F,$C0,$63,$6A,$32,$61,$76
	dc.b	$72,$05,$15,$83,$C5,$35,$C1,$61
	dc.b	$75,$81,$C2,$35,$C1,$61,$76,$C2
	dc.b	$35,$C1,$61,$75,$83,$C5,$35,$C1
	dc.b	$61,$76,$C5,$35,$C1,$61,$75,$C5
	dc.b	$35,$C1,$61,$76,$C5,$35,$C1,$61
	dc.b	$75,$CB,$31,$C1,$61,$76,$C5,$31
	dc.b	$C1,$61,$75,$C5,$31,$C1,$61,$76
	dc.b	$C5,$31,$C1,$61,$75,$C5,$31,$C1
	dc.b	$61,$76,$C5,$31,$C1,$61,$75,$C5
	dc.b	$31,$C1,$61,$76,$C5,$31,$C1,$61
	dc.b	$75,$C5,$31,$C1,$61,$76,$C0,$72
	dc.b	$05,$13,$61,$76,$C5,$35,$C1,$61
	dc.b	$75,$81,$C2,$35,$C1,$61,$76,$C2
	dc.b	$35,$C1,$61,$75,$83,$C5,$35,$C1
	dc.b	$61,$76,$C5,$35,$C1,$61,$75,$C5
	dc.b	$35,$C1,$61,$76,$C5,$35,$C1,$61
	dc.b	$75,$CB,$31,$C1,$61,$76,$C5,$31
	dc.b	$C1,$61,$75,$C5,$31,$C1,$61,$76
	dc.b	$C5,$31,$C1,$61,$75,$C5,$31,$C1
	dc.b	$61,$76,$C5,$31,$C1,$61,$75,$C5
	dc.b	$31,$C1,$61,$76,$C5,$31,$C1,$61
	dc.b	$75,$C5,$D6,$31,$C0,$61,$7A,$72
	dc.b	$05,$0E,$F0,$6A,$4C,$9F,$E4,$3E
	dc.b	$85,$CC,$3E,$A1,$F0,$3E,$A6,$3E
	dc.b	$A4,$3E,$9F,$3E,$A6,$3E,$3E,$A4
	dc.b	$C9,$CC,$3E,$C0,$65,$60
* Sequence 66, Channel 0:
	dc.b	$C1,$63,$64,$7F,$C0,$63,$68,$74
	dc.b	$61,$81,$6A,$40,$C3,$C0,$72,$05
	dc.b	$07,$81,$88,$C1,$C8,$2B,$98,$D8
	dc.b	$2E,$81,$A0,$C1,$E0,$2D,$81,$88
	dc.b	$C1,$C8,$2B,$98,$D8,$30,$B0,$F0
	dc.b	$32,$AE,$2E,$86,$CC,$37,$38,$39
	dc.b	$3A,$3C,$3A,$39,$38,$37,$38,$39
	dc.b	$3A,$3C,$3A,$39,$38,$38,$37,$36
	dc.b	$35,$34,$33,$32,$31,$30,$2F,$2E
	dc.b	$2D,$2C,$2B,$2A,$D6,$EC,$29,$CC
	dc.b	$30,$30,$31,$31,$30,$30,$31,$31
	dc.b	$30,$30,$31,$31,$30,$30,$31,$31
	dc.b	$30,$30,$31,$31,$30,$30,$31,$31
	dc.b	$30,$30,$31,$31,$30,$30,$31,$31
	dc.b	$30,$30,$31,$31,$30,$30,$31,$31
	dc.b	$30,$30,$31,$31,$30,$30,$31,$C7
	dc.b	$D4,$31,$C0,$72,$05,$0C,$6A,$00
	dc.b	$8B,$CC,$2D,$2F,$AE,$EF,$30,$AF
	dc.b	$F1,$34,$81,$9F,$C1,$E0,$2D,$32
	dc.b	$2D,$AF,$F0,$35,$34,$81,$9F,$C1
	dc.b	$E0,$2D,$32,$2D,$AF,$F0,$35,$CC
	dc.b	$F0,$34,$C0,$6A,$40,$72,$05,$07
	dc.b	$84,$C4,$40,$85,$C5,$3F,$84,$C4
	dc.b	$40,$85,$C5,$3F,$84,$C4,$40,$85
	dc.b	$C5,$3F,$84,$C4,$40,$85,$C5,$3F
	dc.b	$84,$C4,$40,$85,$C5,$3F,$84,$C4
	dc.b	$40,$85,$C5,$3F,$84,$C4,$40,$85
	dc.b	$C5,$3F,$84,$C4,$40,$85,$C5,$3F
	dc.b	$84,$C4,$40,$85,$C5,$3F,$84,$C4
	dc.b	$40,$85,$C5,$3F,$84,$C4,$40,$85
	dc.b	$C5,$3F,$84,$C4,$40,$85,$C5,$3F
	dc.b	$84,$C4,$40,$85,$C5,$3F,$84,$C4
	dc.b	$40,$85,$C5,$3F,$84,$C4,$40,$85
	dc.b	$C5,$3F,$84,$C4,$40,$85,$C5,$3F
	dc.b	$84,$C4,$40,$85,$C5,$3F,$84,$C4
	dc.b	$40,$85,$C5,$3F,$84,$C4,$40,$85
	dc.b	$C5,$3F,$84,$C4,$40,$85,$C5,$3F
	dc.b	$84,$C4,$40,$85,$C5,$3F,$83,$C1
	dc.b	$E3,$40,$C0,$65,$60
* Sequence 66, Channel 1:
	dc.b	$C1,$63,$64,$7F,$C0,$63,$61,$8D
	dc.b	$6A,$40,$C3,$C0,$72,$05,$11,$81
	dc.b	$88,$C1,$C8,$37,$98,$D8,$3A,$81
	dc.b	$A0,$C1,$E0,$39,$81,$88,$C1,$C8
	dc.b	$37,$98,$D8,$3C,$B0,$F0,$3E,$AE
	dc.b	$C5,$D0,$3A,$C1,$E0,$72,$05,$16
	dc.b	$84,$A0,$C4,$E0,$34,$81,$A0,$C1
	dc.b	$E0,$35,$35,$34,$81,$88,$30,$82
	dc.b	$BF,$C4,$E0,$30,$81,$99,$C1,$E0
	dc.b	$39,$82,$BF,$C6,$C0,$30,$84,$CC
	dc.b	$30,$85,$30,$31,$31,$84,$30,$30
	dc.b	$85,$31,$31,$84,$30,$30,$86,$31
	dc.b	$85,$31,$84,$30,$85,$30,$31,$86
	dc.b	$31,$85,$30,$30,$31,$31,$84,$30
	dc.b	$30,$86,$31,$85,$31,$30,$30,$31
	dc.b	$31,$30,$84,$30,$85,$31,$84,$31
	dc.b	$30,$85,$30,$31,$31,$84,$30,$30
	dc.b	$85,$31,$31,$84,$30,$30,$86,$31
	dc.b	$85,$31,$84,$30,$85,$30,$31,$86
	dc.b	$C6,$CC,$31,$C1,$C8,$72,$05,$07
	dc.b	$8B,$CC,$39,$3B,$AE,$EF,$3C,$AF
	dc.b	$F1,$40,$81,$9F,$C1,$E0,$3C,$41
	dc.b	$3C,$AF,$F0,$39,$38,$81,$9F,$C1
	dc.b	$E0,$3C,$41,$3C,$AF,$F0,$39,$C6
	dc.b	$F0,$38,$88,$D8,$39,$85,$E4,$3C
	dc.b	$88,$CC,$39,$87,$3C,$3E,$8A,$D8
	dc.b	$39,$81,$81,$C1,$C8,$34,$8B,$D8
	dc.b	$39,$86,$E4,$3C,$88,$CC,$39,$86
	dc.b	$3C,$87,$3E,$8A,$D8,$39,$81,$83
	dc.b	$C5,$E8,$34,$C0,$65,$60
* Sequence 66, Channel 2:
	dc.b	$C1,$63,$64,$7F,$C0,$63,$6A,$40
	dc.b	$C1,$E0,$61,$83,$72,$05,$16,$81
	dc.b	$88,$C1,$C8,$43,$98,$D8,$46,$81
	dc.b	$A0,$C1,$E0,$45,$81,$88,$C1,$C8
	dc.b	$43,$98,$D8,$48,$B0,$F0,$4A,$AE
	dc.b	$46,$87,$CC,$43,$84,$44,$86,$45
	dc.b	$85,$46,$86,$48,$85,$46,$86,$45
	dc.b	$84,$44,$86,$43,$84,$44,$85,$45
	dc.b	$84,$46,$87,$48,$84,$46,$86,$45
	dc.b	$83,$44,$84,$44,$87,$43,$85,$42
	dc.b	$87,$41,$85,$40,$3F,$87,$3E,$84
	dc.b	$3D,$87,$3C,$85,$3B,$3A,$86,$39
	dc.b	$85,$38,$87,$37,$85,$36,$86,$CB
	dc.b	$35,$C0,$61,$8E,$C1,$72,$05,$16
	dc.b	$81,$A0,$C1,$E0,$39,$39,$39,$39
	dc.b	$39,$39,$81,$9E,$34,$82,$BC,$C0
	dc.b	$42,$83,$80,$C4,$E0,$3C,$81,$9B
	dc.b	$C1,$E0,$39,$82,$BE,$C0,$42,$82
	dc.b	$BF,$C4,$E0,$3C,$81,$9F,$CA,$E0
	dc.b	$3C,$84,$CC,$39,$39,$39,$39,$85
	dc.b	$38,$38,$84,$38,$C4,$EC,$38,$C1
	dc.b	$C8,$72,$05,$06,$8B,$CC,$39,$3B
	dc.b	$AE,$EF,$3C,$AF,$F1,$40,$81,$9F
	dc.b	$C1,$E0,$40,$41,$40,$AF,$F0,$3C
	dc.b	$3B,$81,$9F,$C1,$E0,$40,$41,$40
	dc.b	$AF,$F0,$3C,$CC,$F0,$3B,$A3,$E4
	dc.b	$2D,$8D,$CC,$30,$A5,$E4,$2F,$86
	dc.b	$CC,$34,$94,$D8,$35,$82,$A6,$C2
	dc.b	$E8,$34,$C0,$65,$60
* Sequence 66, Channel 3:
	dc.b	$C1,$63,$64,$7F,$C0,$63,$CF,$C0
	dc.b	$61,$91,$C0,$6A,$28,$72,$05,$07
	dc.b	$86,$3C,$CC,$39,$C0,$3C,$CC,$39
	dc.b	$C0,$3D,$CC,$39,$C0,$3D,$CC,$39
	dc.b	$C0,$3C,$CC,$39,$C0,$39,$CC,$3C
	dc.b	$C0,$3D,$CC,$39,$C0,$3D,$CC,$39
	dc.b	$C0,$39,$CC,$3C,$C0,$3C,$CC,$39
	dc.b	$C0,$3D,$CC,$39,$C0,$3D,$CC,$39
	dc.b	$C0,$39,$CC,$3C,$C0,$3C,$CC,$39
	dc.b	$C0,$3D,$CC,$39,$C0,$3D,$CC,$39
	dc.b	$C0,$39,$CC,$3C,$C0,$3C,$CC,$39
	dc.b	$C0,$3D,$CC,$39,$C0,$3D,$CC,$39
	dc.b	$C0,$39,$CC,$3C,$C0,$39,$CC,$3C
	dc.b	$C0,$3D,$CC,$39,$C0,$3D,$CC,$39
	dc.b	$C0,$39,$CC,$3C,$C0,$3C,$CC,$39
	dc.b	$C0,$3D,$CC,$39,$C0,$3D,$CC,$39
	dc.b	$C0,$39,$CC,$3C,$C0,$39,$CC,$3C
	dc.b	$C0,$3D,$CC,$39,$C0,$39,$CC,$3D
	dc.b	$C0,$3C,$CC,$39,$C0,$3C,$CC,$39
	dc.b	$C0,$3D,$CC,$39,$C0,$3D,$CC,$39
	dc.b	$C0,$3C,$CC,$39,$C0,$39,$CC,$3C
	dc.b	$C0,$3D,$CC,$39,$C0,$3D,$CC,$39
	dc.b	$C0,$39,$CC,$3C,$C0,$3C,$CC,$39
	dc.b	$C0,$3D,$CC,$39,$C0,$3D,$CC,$39
	dc.b	$C0,$39,$CC,$3C,$C0,$3C,$CC,$39
	dc.b	$C0,$3D,$CC,$39,$C0,$3D,$CC,$39
	dc.b	$C0,$39,$CC,$3C,$C0,$3C,$CC,$39
	dc.b	$C0,$3D,$CC,$39,$C0,$3D,$CC,$39
	dc.b	$C0,$39,$CC,$3E,$C0,$39,$CC,$3F
	dc.b	$C0,$40,$CC,$39,$C0,$41,$CC,$39
	dc.b	$C0,$3C,$CC,$42,$C0,$42,$CC,$3C
	dc.b	$C0,$42,$CC,$3C,$C0,$42,$CC,$3C
	dc.b	$C0,$3C,$CC,$42,$C0,$42,$CC,$3C
	dc.b	$C0,$42,$CC,$3C,$C0,$42,$CC,$3C
	dc.b	$C0,$3C,$CC,$42,$C0,$42,$CC,$3C
	dc.b	$C0,$42,$CC,$3C,$C0,$42,$CC,$3C
	dc.b	$C0,$3C,$CC,$42,$C0,$42,$CC,$3C
	dc.b	$C0,$42,$CC,$3C,$C0,$42,$CC,$3C
	dc.b	$C0,$3C,$CC,$39,$C0,$3C,$CC,$39
	dc.b	$C0,$3D,$CC,$39,$C0,$3D,$CC,$39
	dc.b	$C0,$3C,$CC,$39,$C0,$39,$CC,$3C
	dc.b	$C0,$3D,$CC,$39,$C0,$3D,$CC,$39
	dc.b	$C0,$39,$CC,$3C,$C0,$3C,$CC,$39
	dc.b	$C0,$3D,$CC,$39,$C0,$3D,$CC,$39
	dc.b	$C0,$39,$CC,$3C,$C0,$3C,$CC,$39
	dc.b	$C0,$3D,$CC,$39,$C0,$3D,$CC,$39
	dc.b	$C0,$3C,$CC,$42,$C0,$42,$CC,$3C
	dc.b	$C0,$42,$CC,$3C,$C0,$42,$CC,$3C
	dc.b	$C0,$3C,$CC,$42,$C0,$42,$CC,$3C
	dc.b	$C0,$42,$CC,$3C,$C0,$42,$CC,$3C
	dc.b	$C0,$3C,$CC,$42,$C0,$42,$CC,$3C
	dc.b	$C0,$42,$CC,$3C,$C0,$42,$CC,$3C
	dc.b	$C0,$3C,$CC,$42,$C0,$42,$CC,$3C
	dc.b	$C0,$42,$CC,$3C,$C0,$42,$CC,$3C
	dc.b	$C0,$39,$3C,$CC,$42,$C0,$3C,$39
	dc.b	$42,$CC,$3C,$C0,$3D,$39,$42,$CC
	dc.b	$3C,$C0,$3D,$39,$42,$CC,$3C,$C0
	dc.b	$39,$3C,$CC,$42,$C0,$39,$3C,$42
	dc.b	$CC,$3C,$C0,$3D,$39,$42,$CC,$3C
	dc.b	$C0,$3D,$39,$42,$CC,$3C,$C0,$39
	dc.b	$CC,$3C,$C0,$3C,$CC,$39,$C0,$3D
	dc.b	$CC,$39,$C0,$3D,$CC,$39,$C0,$39
	dc.b	$CC,$3C,$C0,$39,$CC,$3C,$C0,$3D
	dc.b	$CC,$39,$C0,$39,$CC,$3D,$C0,$3C
	dc.b	$CC,$39,$C0,$3C,$CC,$39,$C0,$3D
	dc.b	$CC,$39,$C0,$3D,$CC,$39,$C0,$3C
	dc.b	$CC,$39,$C0,$39,$CC,$3C,$C0,$3D
	dc.b	$CC,$39,$C0,$3D,$CC,$39,$C0,$39
	dc.b	$CC,$3C,$C0,$3C,$CC,$39,$C0,$3D
	dc.b	$CC,$39,$C0,$3D,$CC,$39,$C0,$39
	dc.b	$CC,$3C,$C0,$3C,$CC,$39,$C0,$3D
	dc.b	$CC,$39,$C0,$3D,$CC,$39,$C0,$39
	dc.b	$CC,$3C,$C0,$3C,$CC,$39,$C0,$3D
	dc.b	$CC,$39,$C0,$3D,$CC,$39,$C0,$39
	dc.b	$CC,$3C,$C0,$39,$CC,$3C,$C0,$3D
	dc.b	$CC,$39,$C0,$3D,$CC,$39,$C0,$39
	dc.b	$CC,$3C,$C0,$3C,$CC,$39,$C0,$3D
	dc.b	$CC,$39,$C0,$3D,$CC,$39,$C0,$39
	dc.b	$CC,$3C,$C0,$39,$CC,$3C,$C0,$3D
	dc.b	$CC,$39,$C0,$39,$CC,$3D,$C0,$3C
	dc.b	$CC,$39,$C0,$3C,$CC,$39,$C0,$3D
	dc.b	$CC,$39,$C0,$3D,$CC,$39,$C0,$3C
	dc.b	$CC,$39,$C0,$39,$CC,$3C,$C0,$3D
	dc.b	$CC,$39,$C0,$3D,$CC,$39,$C0,$39
	dc.b	$CC,$3C,$C0,$3C,$CC,$39,$C0,$3D
	dc.b	$CC,$39,$C0,$3D,$CC,$39,$C0,$39
	dc.b	$CC,$3C,$C0,$3C,$CC,$39,$C0,$3D
	dc.b	$CC,$39,$C0,$3D,$CC,$39,$85,$C6
	dc.b	$39,$3B,$3C,$3E,$3C,$3E,$3F,$40
	dc.b	$84,$3F,$40,$41,$42,$86,$41,$42
	dc.b	$85,$43,$E4,$C6,$44,$C0,$65,$60
* Sequence 66, Channel 4:
	dc.b	$C1,$63,$64,$7F,$C0,$63,$61,$89
	dc.b	$6A,$28,$D0,$D4,$72,$05,$00,$86
	dc.b	$CC,$1C,$D8,$21,$CC,$15,$C2,$D0
	dc.b	$18,$CC,$1C,$D8,$1D,$CC,$15,$17
	dc.b	$D8,$18,$CC,$15,$17,$D1,$F4,$18
	dc.b	$C0,$33,$CC,$27,$85,$C0,$2D,$D8
	dc.b	$21,$87,$C0,$21,$CC,$15,$89,$C0
	dc.b	$24,$C2,$D0,$18,$85,$C0,$28,$CC
	dc.b	$1C,$86,$C0,$29,$D8,$1D,$87,$C0
	dc.b	$21,$CC,$15,$C0,$23,$CC,$17,$89
	dc.b	$C0,$24,$D8,$18,$87,$C0,$21,$CC
	dc.b	$15,$C0,$23,$CC,$17,$89,$C0,$24
	dc.b	$E8,$E0,$18,$C0,$65,$60
* Sequence 66, Channel 5:
	dc.b	$C1,$63,$64,$7F,$C0,$63,$6A,$40
	dc.b	$61,$87,$72,$05,$0C,$86,$CB,$1F
	dc.b	$C1,$72,$05,$0D,$CB,$20,$C1,$72
	dc.b	$05,$0A,$CB,$21,$C1,$72,$05,$0C
	dc.b	$CB,$22,$C1,$72,$05,$0E,$CB,$24
	dc.b	$C1,$72,$05,$0C,$CB,$22,$C1,$72
	dc.b	$05,$0F,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CB,$20,$C1,$72,$05,$0E,$CB,$1F
	dc.b	$C1,$72,$05,$0C,$CB,$20,$C1,$72
	dc.b	$05,$0D,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CB,$22,$C1,$72,$05,$0F,$CB,$24
	dc.b	$C1,$72,$05,$0D,$CB,$22,$C1,$72
	dc.b	$05,$0C,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CC,$20,$C0,$72,$05,$0C,$CB,$1F
	dc.b	$C1,$72,$05,$0D,$CB,$20,$C1,$72
	dc.b	$05,$0A,$CB,$21,$C1,$72,$05,$0C
	dc.b	$CB,$22,$C1,$72,$05,$0E,$CB,$24
	dc.b	$C1,$72,$05,$0C,$CB,$22,$C1,$72
	dc.b	$05,$0F,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CB,$20,$C1,$72,$05,$0E,$CB,$1F
	dc.b	$C1,$72,$05,$0C,$CB,$20,$C1,$72
	dc.b	$05,$0D,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CB,$22,$C1,$72,$05,$0F,$CB,$24
	dc.b	$C1,$72,$05,$0D,$CB,$22,$C1,$72
	dc.b	$05,$0C,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CC,$20,$C0,$72,$05,$0C,$CB,$1F
	dc.b	$C1,$72,$05,$0D,$CB,$20,$C1,$72
	dc.b	$05,$0A,$CB,$21,$C1,$72,$05,$0C
	dc.b	$CB,$22,$C1,$72,$05,$0E,$CB,$24
	dc.b	$C1,$72,$05,$0C,$CB,$22,$C1,$72
	dc.b	$05,$0F,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CB,$20,$C1,$72,$05,$0E,$CB,$1F
	dc.b	$C1,$72,$05,$0C,$CB,$20,$C1,$72
	dc.b	$05,$0D,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CB,$22,$C1,$72,$05,$0F,$CB,$24
	dc.b	$C1,$72,$05,$0D,$CB,$22,$C1,$72
	dc.b	$05,$0C,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CC,$20,$C0,$72,$05,$0C,$CB,$1F
	dc.b	$C1,$72,$05,$0D,$CB,$20,$C1,$72
	dc.b	$05,$0A,$CB,$21,$C1,$72,$05,$0C
	dc.b	$CB,$22,$C1,$72,$05,$0E,$CB,$24
	dc.b	$C1,$72,$05,$0C,$CB,$22,$C1,$72
	dc.b	$05,$0F,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CB,$20,$C1,$72,$05,$0E,$CB,$1F
	dc.b	$C1,$72,$05,$0C,$CB,$20,$C1,$72
	dc.b	$05,$0D,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CB,$22,$C1,$72,$05,$0F,$CB,$24
	dc.b	$C1,$72,$05,$0D,$CB,$22,$C1,$72
	dc.b	$05,$0C,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CC,$20,$2C,$2B,$2A,$29,$28,$27
	dc.b	$26,$25,$24,$23,$22,$21,$20,$1F
	dc.b	$1E,$1D,$C1,$D4,$72,$05,$07,$CC
	dc.b	$28,$85,$D8,$2D,$87,$CC,$21,$89
	dc.b	$C2,$D0,$24,$85,$CC,$28,$86,$D8
	dc.b	$29,$87,$CC,$21,$23,$89,$D8,$24
	dc.b	$87,$CC,$21,$23,$89,$C4,$E0,$24
	dc.b	$82,$B9,$C3,$C0,$24,$83,$80,$2A
	dc.b	$82,$B9,$24,$81,$9A,$C1,$E0,$2A
	dc.b	$AD,$F0,$2A,$AE,$2A,$86,$CC,$21
	dc.b	$21,$21,$21,$21,$21,$21,$33,$85
	dc.b	$2D,$86,$21,$87,$21,$89,$24,$86
	dc.b	$21,$21,$21,$21,$21,$21,$21,$21
	dc.b	$21,$21,$21,$85,$28,$86,$D8,$29
	dc.b	$87,$CC,$21,$23,$89,$D8,$24,$87
	dc.b	$CC,$21,$23,$89,$C4,$C8,$24,$D8
	dc.b	$72,$05,$0C,$86,$C0,$21,$83,$D8
	dc.b	$2D,$86,$C0,$21,$83,$D8,$2D,$86
	dc.b	$C0,$21,$83,$D8,$2D,$86,$C0,$21
	dc.b	$83,$D8,$2D,$86,$C0,$21,$83,$D8
	dc.b	$2D,$86,$C0,$21,$83,$D8,$2D,$86
	dc.b	$C0,$21,$83,$D8,$2D,$86,$C0,$21
	dc.b	$83,$D8,$2D,$86,$C0,$21,$83,$D8
	dc.b	$2D,$86,$C0,$21,$83,$D8,$2D,$86
	dc.b	$C0,$21,$83,$D8,$2D,$86,$C0,$21
	dc.b	$83,$D8,$2D,$86,$C0,$21,$83,$D8
	dc.b	$2D,$86,$C0,$21,$83,$D8,$2D,$86
	dc.b	$C0,$21,$83,$D8,$2D,$86,$C0,$21
	dc.b	$83,$D8,$2D,$86,$C0,$21,$83,$D8
	dc.b	$2D,$86,$C0,$21,$83,$D8,$2D,$86
	dc.b	$C0,$21,$83,$D8,$2D,$86,$C0,$21
	dc.b	$83,$D8,$2D,$86,$C0,$21,$83,$D8
	dc.b	$2D,$86,$C0,$21,$83,$D8,$2D,$86
	dc.b	$C0,$21,$83,$D8,$2D,$86,$C0,$21
	dc.b	$83,$D8,$2D,$86,$C0,$26,$83,$D8
	dc.b	$32,$86,$C0,$26,$83,$D8,$32,$86
	dc.b	$C0,$26,$83,$D8,$32,$86,$C0,$26
	dc.b	$83,$D8,$32,$86,$C0,$21,$83,$D8
	dc.b	$2D,$86,$C0,$21,$83,$D8,$2D,$86
	dc.b	$C0,$21,$83,$D8,$2D,$86,$C0,$21
	dc.b	$83,$D8,$2D,$86,$C0,$1D,$83,$D8
	dc.b	$29,$86,$C0,$1D,$83,$D8,$29,$86
	dc.b	$C0,$1C,$83,$D8,$28,$86,$C0,$1C
	dc.b	$83,$D8,$28,$86,$C0,$21,$83,$D8
	dc.b	$2D,$86,$C0,$21,$83,$D8,$2D,$86
	dc.b	$C0,$21,$83,$D8,$2D,$86,$C0,$21
	dc.b	$83,$D8,$2D,$86,$C0,$26,$83,$D8
	dc.b	$32,$86,$C0,$26,$83,$D8,$32,$86
	dc.b	$C0,$26,$83,$D8,$32,$86,$C0,$26
	dc.b	$83,$D8,$32,$86,$C0,$21,$83,$D8
	dc.b	$2D,$86,$C0,$21,$83,$D8,$2D,$86
	dc.b	$C0,$21,$83,$D8,$2D,$86,$C0,$21
	dc.b	$83,$D8,$2D,$86,$C0,$1D,$83,$D8
	dc.b	$29,$86,$C0,$1D,$83,$D8,$29,$86
	dc.b	$C0,$1C,$83,$D8,$28,$86,$C0,$1C
	dc.b	$83,$D8,$28,$86,$21,$E4,$24,$CC
	dc.b	$21,$24,$26,$D8,$21,$BD,$C1,$C8
	dc.b	$1C,$86,$D8,$21,$E4,$24,$CC,$21
	dc.b	$24,$26,$D8,$21,$BD,$C1,$C8,$1C
	dc.b	$86,$D8,$21,$E4,$24,$CC,$21,$24
	dc.b	$26,$D8,$21,$BD,$C1,$C8,$1C,$86
	dc.b	$D8,$21,$E4,$24,$CC,$21,$24,$26
	dc.b	$D8,$21,$BD,$C3,$D8,$1C,$96,$C0
	dc.b	$29,$D8,$35,$81,$B5,$C0,$28,$C1
	dc.b	$F8,$34,$C0,$65,$60
* Sequence 66, Channel 6:
	dc.b	$C1,$63,$64,$7F,$C0,$63,$6A,$40
	dc.b	$61,$80,$C9,$C0,$72,$05,$00,$81
	dc.b	$86,$C1,$C8,$2B,$97,$D8,$2E,$81
	dc.b	$8B,$C1,$C8,$2D,$97,$D8,$24,$AE
	dc.b	$F0,$26,$82,$8B,$C5,$D0,$2B,$C0
	dc.b	$61,$93,$C2,$E8,$72,$05,$0C,$8C
	dc.b	$CC,$21,$23,$81,$A0,$C1,$E0,$24
	dc.b	$21,$81,$9F,$D2,$C0,$28,$C0,$61
	dc.b	$80,$C1,$C8,$72,$05,$00,$8C,$CC
	dc.b	$21,$23,$81,$9F,$C1,$E0,$24,$21
	dc.b	$AF,$C0,$28,$F0,$21,$C0,$2C,$C2
	dc.b	$C4,$24,$8C,$CC,$28,$98,$D8,$2D
	dc.b	$8C,$CC,$21,$81,$AA,$C2,$D0,$24
	dc.b	$8C,$CC,$28,$81,$A1,$D8,$29,$8C
	dc.b	$CC,$21,$23,$B0,$F0,$24,$81,$9F
	dc.b	$C7,$C8,$28,$8B,$CC,$28,$2C,$81
	dc.b	$9F,$C0,$2D,$C1,$E0,$28,$C0,$32
	dc.b	$C1,$E0,$29,$C0,$2D,$C1,$E0,$28
	dc.b	$AF,$C0,$29,$F0,$30,$C0,$28,$F0
	dc.b	$2F,$83,$82,$CC,$C0,$2D,$C0,$72
	dc.b	$05,$07,$A3,$E4,$21,$8D,$CC,$24
	dc.b	$A5,$E4,$23,$86,$CC,$28,$94,$D8
	dc.b	$29,$82,$A6,$C1,$C8,$28,$85,$C0
	dc.b	$34,$C6,$40,$C0,$41,$C6,$35,$84
	dc.b	$C0,$40,$CC,$34,$B4,$C0,$40,$C1
	dc.b	$C8,$34,$C0,$65,$60
* Sequence 66, Channel 7:
	dc.b	$C1,$63,$64,$7F,$C0,$63,$6A,$46
	dc.b	$61,$0F,$89,$D8,$33,$CC,$31,$FC
	dc.b	$30,$8C,$D8,$33,$87,$CC,$31,$82
	dc.b	$FC,$31,$89,$D7,$33,$8A,$CC,$31
	dc.b	$FC,$30,$8D,$D8,$33,$88,$CC,$31
	dc.b	$83,$FC,$31,$8A,$D8,$33,$CC,$31
	dc.b	$FC,$30,$8D,$D8,$33,$88,$CC,$31
	dc.b	$83,$FC,$31,$81,$9D,$D8,$35,$88
	dc.b	$CC,$31,$83,$FC,$31,$8D,$D8,$33
	dc.b	$88,$CC,$31,$83,$FC,$31,$BA,$C1
	dc.b	$D4,$33,$86,$CC,$31,$A8,$C1,$E0
	dc.b	$30,$86,$C1,$D4,$35,$87,$CC,$33
	dc.b	$86,$D8,$31,$88,$CC,$33,$8A,$C2
	dc.b	$D0,$30,$86,$CC,$33,$D8,$33,$88
	dc.b	$CC,$31,$33,$8A,$D8,$30,$88,$CC
	dc.b	$31,$33,$8A,$C3,$C0,$30,$A8,$C4
	dc.b	$C8,$35,$98,$D8,$33,$82,$A2,$C2
	dc.b	$E8,$30,$93,$D8,$30,$82,$A5,$C2
	dc.b	$E8,$35,$8A,$CC,$33,$31,$81,$9F
	dc.b	$C1,$E0,$30,$A8,$F0,$30,$98,$30
	dc.b	$86,$C1,$D4,$30,$87,$CC,$33,$86
	dc.b	$D8,$31,$88,$CC,$33,$8A,$C2,$D0
	dc.b	$30,$86,$CC,$33,$87,$D8,$33,$88
	dc.b	$CC,$31,$33,$8A,$D8,$30,$88,$CC
	dc.b	$31,$33,$8A,$C3,$C0,$30,$A8,$F1
	dc.b	$35,$86,$F0,$35,$C7,$DF,$35,$F0
	dc.b	$30,$B4,$C1,$D5,$30,$86,$CC,$31
	dc.b	$AB,$C1,$E0,$30,$F0,$30,$96,$D8
	dc.b	$31,$86,$30,$95,$31,$86,$30,$85
	dc.b	$F0,$35,$B3,$C1,$D4,$30,$86,$CC
	dc.b	$31,$AB,$C1,$E0,$30,$F0,$30,$96
	dc.b	$D8,$31,$86,$30,$95,$31,$86,$30
	dc.b	$85,$CA,$E0,$35,$A7,$C1,$E0,$35
	dc.b	$8B,$CC,$31,$86,$33,$8A,$30,$86
	dc.b	$33,$8C,$31,$87,$33,$89,$30,$87
	dc.b	$33,$8B,$31,$86,$33,$8A,$30,$86
	dc.b	$33,$8C,$31,$87,$33,$89,$30,$87
	dc.b	$33,$A7,$C1,$E0,$35,$C0,$65,$60
* Sequence 66, Channel 8:
	dc.b	$C1,$63,$64,$7F,$C0,$63,$6A,$40
	dc.b	$61,$90,$72,$05,$0C,$86,$CB,$1F
	dc.b	$C1,$72,$05,$0D,$CB,$20,$C1,$72
	dc.b	$05,$0A,$CB,$21,$C1,$72,$05,$0C
	dc.b	$CB,$22,$C1,$72,$05,$0E,$CB,$24
	dc.b	$C1,$72,$05,$0C,$CB,$22,$C1,$72
	dc.b	$05,$0F,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CB,$20,$C1,$72,$05,$0E,$CB,$1F
	dc.b	$C1,$72,$05,$0C,$CB,$20,$C1,$72
	dc.b	$05,$0D,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CB,$22,$C1,$72,$05,$0F,$CB,$24
	dc.b	$C1,$72,$05,$0D,$CB,$22,$C1,$72
	dc.b	$05,$0C,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CC,$20,$C0,$72,$05,$0C,$CB,$1F
	dc.b	$C1,$72,$05,$0D,$CB,$20,$C1,$72
	dc.b	$05,$0A,$CB,$21,$C1,$72,$05,$0C
	dc.b	$CB,$22,$C1,$72,$05,$0E,$CB,$24
	dc.b	$C1,$72,$05,$0C,$CB,$22,$C1,$72
	dc.b	$05,$0F,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CB,$20,$C1,$72,$05,$0E,$CB,$1F
	dc.b	$C1,$72,$05,$0C,$CB,$20,$C1,$72
	dc.b	$05,$0D,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CB,$22,$C1,$72,$05,$0F,$CB,$24
	dc.b	$C1,$72,$05,$0D,$CB,$22,$C1,$72
	dc.b	$05,$0C,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CC,$20,$C0,$72,$05,$0C,$CB,$1F
	dc.b	$C1,$72,$05,$0D,$CB,$20,$C1,$72
	dc.b	$05,$0A,$CB,$21,$C1,$72,$05,$0C
	dc.b	$CB,$22,$C1,$72,$05,$0E,$CB,$24
	dc.b	$C1,$72,$05,$0C,$CB,$22,$C1,$72
	dc.b	$05,$0F,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CB,$20,$C1,$72,$05,$0E,$CB,$1F
	dc.b	$C1,$72,$05,$0C,$CB,$20,$C1,$72
	dc.b	$05,$0D,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CB,$22,$C1,$72,$05,$0F,$CB,$24
	dc.b	$C1,$72,$05,$0D,$CB,$22,$C1,$72
	dc.b	$05,$0C,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CC,$20,$C0,$72,$05,$0C,$CB,$1F
	dc.b	$C1,$72,$05,$0D,$CB,$20,$C1,$72
	dc.b	$05,$0A,$CB,$21,$C1,$72,$05,$0C
	dc.b	$CB,$22,$C1,$72,$05,$0E,$CB,$24
	dc.b	$C1,$72,$05,$0C,$CB,$22,$C1,$72
	dc.b	$05,$0F,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CB,$20,$C1,$72,$05,$0E,$CB,$1F
	dc.b	$C1,$72,$05,$0C,$CB,$20,$C1,$72
	dc.b	$05,$0D,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CB,$22,$C1,$72,$05,$0F,$CB,$24
	dc.b	$C1,$72,$05,$0D,$CB,$22,$C1,$72
	dc.b	$05,$0C,$CB,$21,$C1,$72,$05,$0B
	dc.b	$CC,$20,$2C,$2B,$2A,$29,$28,$27
	dc.b	$26,$25,$24,$23,$22,$21,$20,$1F
	dc.b	$1E,$C1,$DF,$1D,$C1,$72,$05,$07
	dc.b	$CC,$1C,$85,$D8,$21,$87,$CC,$15
	dc.b	$89,$C2,$D0,$18,$85,$CC,$1C,$86
	dc.b	$D8,$1D,$87,$CC,$15,$17,$89,$D8
	dc.b	$18,$87,$CC,$15,$17,$89,$EE,$E0
	dc.b	$18,$86,$D8,$21,$E4,$24,$CC,$21
	dc.b	$24,$26,$D8,$21,$BD,$C1,$C8,$1C
	dc.b	$86,$D8,$21,$E4,$24,$CC,$21,$24
	dc.b	$26,$D8,$21,$BD,$C1,$C8,$1C,$86
	dc.b	$D8,$21,$E4,$24,$CC,$21,$24,$26
	dc.b	$D8,$21,$BD,$C1,$C8,$1C,$86,$D8
	dc.b	$21,$E4,$24,$CC,$21,$24,$26,$D8
	dc.b	$21,$BD,$C5,$E8,$1C,$C0,$65,$60
* Sequence 66, Channel 9:
	dc.b	$C1,$63,$64,$7F,$C0,$63,$C3,$C0
	dc.b	$61,$8A,$81,$88,$C1,$C8,$43,$98
	dc.b	$D8,$46,$81,$A0,$C1,$E0,$45,$81
	dc.b	$88,$C1,$C8,$43,$98,$D8,$48,$B0
	dc.b	$F0,$4A,$AE,$46,$86,$CC,$37,$38
	dc.b	$39,$3A,$3C,$3A,$39,$38,$37,$38
	dc.b	$39,$3A,$3C,$3A,$39,$38,$38,$37
	dc.b	$36,$35,$34,$33,$32,$31,$30,$2F
	dc.b	$2E,$2D,$2C,$2B,$2A,$CD,$EA,$29
	dc.b	$82,$BF,$C1,$30,$C6,$C1,$36,$81
	dc.b	$9B,$C0,$30,$81,$9A,$C1,$E0,$36
	dc.b	$A7,$C0,$30,$F0,$36,$AA,$C0,$36
	dc.b	$C6,$D8,$30,$8C,$CC,$2D,$2F,$81
	dc.b	$9F,$C1,$E0,$30,$2D,$AF,$C0,$34
	dc.b	$F0,$2D,$C0,$38,$C6,$D8,$30,$8B
	dc.b	$C0,$2D,$CC,$39,$C0,$2F,$CC,$3B
	dc.b	$AE,$C0,$30,$EF,$3C,$AF,$C0,$34
	dc.b	$F1,$40,$81,$9F,$C0,$2D,$40,$C1
	dc.b	$E0,$30,$C0,$32,$41,$C1,$E0,$35
	dc.b	$C0,$2D,$40,$C1,$E0,$30,$AF,$C0
	dc.b	$35,$3C,$F0,$2D,$C0,$34,$3B,$F0
	dc.b	$2C,$81,$9F,$C0,$2D,$40,$C1,$E0
	dc.b	$30,$C0,$32,$41,$C1,$E0,$35,$C0
	dc.b	$2D,$40,$C1,$E0,$30,$AF,$C0,$35
	dc.b	$3C,$F0,$2D,$C0,$34,$3B,$D1,$D0
	dc.b	$2C,$C0,$65,$60
* Sequence 67, Channel 0:
	dc.b	$C0,$68,$38,$64,$7F,$C0,$63,$6A
	dc.b	$40,$61,$8D,$72,$05,$07,$AE,$3A
	dc.b	$3E,$F0,$37,$C0,$3C,$33,$F0,$37
	dc.b	$C0,$39,$36,$F0,$32,$C0,$33,$3C
	dc.b	$F0,$37,$C0,$36,$39,$F0,$32,$C0
	dc.b	$3A,$37,$F0,$33,$C0,$30,$37,$F0
	dc.b	$33,$C0,$31,$3A,$F0,$35,$C0,$33
	dc.b	$37,$F0,$30,$C0,$39,$36,$F0,$32
	dc.b	$C0,$65,$60
* Sequence 67, Channel 1:
	dc.b	$64,$7F,$C0,$63,$61,$8A,$AE,$2E
	dc.b	$32,$F0,$2B,$C0,$30,$27,$F0,$2B
	dc.b	$C0,$2D,$2A,$F0,$26,$C0,$27,$30
	dc.b	$F0,$2B,$C0,$2A,$2D,$F0,$26,$C0
	dc.b	$2E,$2B,$F0,$27,$C0,$24,$2B,$F0
	dc.b	$27,$C0,$25,$2E,$F0,$29,$C0,$27
	dc.b	$2B,$F0,$24,$C0,$2D,$2A,$F0,$26
	dc.b	$C0,$65,$60
* Sequence 67, Channel 2:
	dc.b	$64,$7F,$C0,$63,$61,$90,$72,$05
	dc.b	$07,$B0,$F0,$26,$24,$21,$24,$21
	dc.b	$22,$1F,$22,$1F,$AE,$21,$C0,$65
	dc.b	$60
* Sequence 68, Channel 0:
	dc.b	$64,$7F,$C0,$63,$68,$3A,$6A,$40
	dc.b	$72,$05,$07,$C9,$C0,$61,$8E,$B0
	dc.b	$F0,$37,$38,$37,$D8,$F0,$38,$C0
	dc.b	$65,$60
* Sequence 68, Channel 1:
	dc.b	$64,$7F,$C0,$63,$72,$05,$1B,$6A
	dc.b	$40,$C6,$C0,$61,$8B,$83,$C0,$4A
	dc.b	$D8,$43,$C0,$4A,$D8,$43,$C0,$4A
	dc.b	$D8,$44,$C0,$4A,$D8,$44,$C0,$4A
	dc.b	$D8,$43,$C0,$4A,$D8,$43,$C0,$4A
	dc.b	$D8,$44,$C0,$4A,$D8,$44,$C0,$4A
	dc.b	$D8,$43,$C0,$4A,$D8,$43,$C0,$4A
	dc.b	$D8,$44,$C0,$4A,$D8,$44,$C0,$43
	dc.b	$D8,$4A,$C0,$43,$D8,$4A,$C0,$4A
	dc.b	$D8,$44,$C0,$4A,$D8,$44,$A4,$E4
	dc.b	$31,$8C,$CC,$33,$A4,$E4,$35,$8C
	dc.b	$CC,$38,$B0,$F0,$37,$33,$A4,$E4
	dc.b	$31,$8C,$CC,$33,$A4,$E4,$35,$8C
	dc.b	$CC,$31,$B0,$F0,$30,$37,$A4,$E4
	dc.b	$31,$8C,$CC,$33,$A4,$E4,$35,$8C
	dc.b	$CC,$38,$B0,$F0,$37,$33,$A4,$E4
	dc.b	$31,$8C,$CC,$33,$A4,$E4,$35,$8C
	dc.b	$CC,$31,$B0,$F0,$30,$AC,$C0,$2B
	dc.b	$AD,$CC,$F0,$37,$C0,$65,$60
* Sequence 68, Channel 2:
	dc.b	$64,$7F,$C0,$63,$72,$05,$1B,$6A
	dc.b	$32,$C3,$C0,$61,$8F,$82,$C0,$3E
	dc.b	$C3,$4A,$C0,$48,$C3,$3C,$C0,$46
	dc.b	$C3,$3A,$C0,$45,$C3,$39,$C0,$43
	dc.b	$C3,$37,$C0,$41,$C3,$35,$C0,$3F
	dc.b	$C3,$33,$C0,$3E,$C3,$32,$C0,$3C
	dc.b	$C3,$30,$C0,$3A,$C3,$2E,$C0,$39
	dc.b	$C3,$2D,$C0,$37,$C3,$2B,$C0,$35
	dc.b	$C3,$29,$C0,$34,$C3,$28,$C0,$32
	dc.b	$C3,$26,$C0,$2E,$C3,$22,$83,$C0
	dc.b	$2B,$C2,$D0,$1F,$86,$C0,$4A,$D8
	dc.b	$43,$C0,$4A,$D8,$43,$C0,$4A,$D8
	dc.b	$44,$C0,$4A,$D8,$44,$C0,$4A,$D8
	dc.b	$43,$C0,$4A,$D8,$43,$C0,$4A,$D8
	dc.b	$44,$C0,$4A,$D8,$44,$C0,$4A,$D8
	dc.b	$43,$C0,$4A,$D8,$43,$C0,$4A,$D8
	dc.b	$44,$C0,$4A,$D8,$44,$C0,$43,$D8
	dc.b	$4A,$C0,$43,$D8,$4A,$C0,$4A,$D8
	dc.b	$44,$C0,$4A,$D7,$44,$C1,$61,$8D
	dc.b	$A4,$E4,$3D,$8C,$CC,$3F,$A4,$E4
	dc.b	$41,$8C,$CC,$44,$B0,$F0,$43,$3F
	dc.b	$A4,$E4,$3D,$8C,$CC,$3F,$A4,$E4
	dc.b	$41,$8C,$CC,$3D,$B0,$F0,$3C,$43
	dc.b	$A4,$E4,$3D,$8C,$CC,$3F,$A4,$E4
	dc.b	$41,$8C,$CC,$44,$B0,$F0,$43,$3F
	dc.b	$A4,$E4,$3D,$8C,$CC,$3F,$A4,$E4
	dc.b	$41,$8C,$CC,$3D,$B0,$F0,$3C,$AC
	dc.b	$C0,$37,$AD,$F0,$43,$86,$C0,$4A
	dc.b	$D8,$43,$C0,$4A,$D8,$43,$C0,$4A
	dc.b	$D8,$44,$C0,$4A,$D8,$44,$C0,$4A
	dc.b	$D8,$43,$C0,$4A,$D8,$43,$C0,$4A
	dc.b	$D8,$44,$C0,$4A,$D8,$44,$C0,$4A
	dc.b	$D8,$43,$C0,$4A,$D8,$43,$C0,$4A
	dc.b	$D8,$44,$C0,$4A,$D8,$44,$C0,$43
	dc.b	$D8,$4A,$C0,$43,$D8,$4A,$C0,$4A
	dc.b	$D8,$44,$C0,$4A,$D8,$44,$C0,$4A
	dc.b	$D8,$4F,$C0,$4A,$D8,$4F,$C0,$4A
	dc.b	$D8,$50,$C0,$4A,$D8,$50,$C0,$4F
	dc.b	$D8,$4A,$C0,$4F,$D8,$4A,$96,$C0
	dc.b	$4A,$97,$D8,$4F,$96,$C0,$4A,$D8
	dc.b	$4F,$86,$C0,$4A,$D8,$4F,$C0,$4A
	dc.b	$D8,$4F,$C0,$4A,$D8,$50,$C0,$4A
	dc.b	$D8,$50,$C0,$4F,$D8,$4A,$C0,$4F
	dc.b	$D8,$4A,$95,$C0,$4A,$D8,$4F,$96
	dc.b	$C0,$4A,$D8,$4F,$C0,$65,$60
* Sequence 68, Channel 3:
	dc.b	$64,$7F,$C0,$63,$72,$05,$1B,$6A
	dc.b	$32,$D8,$C0,$61,$8F,$AE,$F0,$37
	dc.b	$38,$37,$38,$37,$AD,$32,$AE,$37
	dc.b	$39,$C0,$43,$F0,$37,$C0,$45,$F0
	dc.b	$39,$C0,$43,$F0,$37,$C0,$4A,$F0
	dc.b	$3E,$C0,$43,$F0,$37,$C0,$45,$F0
	dc.b	$39,$C0,$43,$F0,$37,$C0,$4A,$F0
	dc.b	$3E,$C0,$65,$60
* Sequence 68, Channel 4:
	dc.b	$64,$7F,$C0,$63,$72,$05,$0C,$6A
	dc.b	$40,$61,$87,$85,$CB,$1F,$C1,$72
	dc.b	$05,$0A,$CB,$1F,$C1,$72,$05,$0D
	dc.b	$CB,$1F,$C1,$72,$05,$0A,$CB,$1F
	dc.b	$C1,$72,$05,$08,$CB,$1F,$C1,$72
	dc.b	$05,$09,$CB,$1F,$C1,$72,$05,$0C
	dc.b	$CB,$1F,$C1,$72,$05,$0D,$CC,$1F
	dc.b	$C0,$72,$05,$0C,$CB,$1F,$C1,$72
	dc.b	$05,$0A,$CB,$1F,$C1,$72,$05,$0D
	dc.b	$CB,$1F,$C1,$72,$05,$0A,$CB,$1F
	dc.b	$C1,$72,$05,$08,$CB,$1F,$C1,$72
	dc.b	$05,$09,$CB,$1F,$C1,$72,$05,$0C
	dc.b	$CB,$1F,$C1,$72,$05,$0D,$CC,$1F
	dc.b	$C0,$72,$05,$0C,$CB,$1F,$C1,$72
	dc.b	$05,$0A,$CB,$1F,$C1,$72,$05,$0D
	dc.b	$CB,$1F,$C1,$72,$05,$0A,$CB,$1F
	dc.b	$C1,$72,$05,$08,$CB,$1F,$C1,$72
	dc.b	$05,$09,$CB,$1F,$C1,$72,$05,$0C
	dc.b	$CB,$1F,$C1,$72,$05,$0D,$CC,$1F
	dc.b	$C0,$72,$05,$0C,$CB,$1F,$C1,$72
	dc.b	$05,$0A,$CB,$1F,$C1,$72,$05,$0D
	dc.b	$CB,$1F,$C1,$72,$05,$0A,$CB,$1F
	dc.b	$C1,$72,$05,$08,$CB,$1F,$C1,$72
	dc.b	$05,$09,$CB,$1F,$C1,$72,$05,$0C
	dc.b	$CB,$1F,$C1,$72,$05,$0D,$CC,$1F
	dc.b	$C0,$72,$05,$0C,$CB,$1F,$C1,$72
	dc.b	$05,$0A,$CB,$1F,$C1,$72,$05,$0D
	dc.b	$CB,$1F,$C1,$72,$05,$0A,$CB,$1F
	dc.b	$C1,$72,$05,$08,$CB,$1F,$C1,$72
	dc.b	$05,$09,$CB,$1F,$C1,$72,$05,$0C
	dc.b	$CB,$1F,$C1,$72,$05,$0D,$CC,$1F
	dc.b	$C0,$72,$05,$0C,$CB,$1F,$C1,$72
	dc.b	$05,$0A,$CB,$1F,$C1,$72,$05,$0D
	dc.b	$CB,$1F,$C1,$72,$05,$0A,$CB,$1F
	dc.b	$C1,$72,$05,$08,$CB,$1F,$C1,$72
	dc.b	$05,$09,$CB,$1F,$C1,$72,$05,$0C
	dc.b	$CB,$1F,$C1,$72,$05,$0D,$CC,$1F
	dc.b	$C0,$72,$05,$0C,$CB,$1F,$C1,$72
	dc.b	$05,$0A,$CB,$1F,$C1,$72,$05,$0D
	dc.b	$CB,$1F,$C1,$72,$05,$0A,$CB,$1F
	dc.b	$C1,$72,$05,$08,$CB,$1F,$C1,$72
	dc.b	$05,$09,$CB,$1F,$C1,$72,$05,$0C
	dc.b	$CB,$1F,$C1,$72,$05,$0D,$CC,$1F
	dc.b	$C0,$72,$05,$0C,$CB,$1F,$C1,$72
	dc.b	$05,$0A,$CB,$1F,$C1,$72,$05,$0D
	dc.b	$CB,$1F,$C1,$72,$05,$0A,$CB,$1F
	dc.b	$C1,$72,$05,$08,$CB,$1F,$C1,$72
	dc.b	$05,$09,$CB,$1F,$C1,$72,$05,$0C
	dc.b	$CB,$1F,$C1,$72,$05,$0D,$CC,$1F
	dc.b	$82,$25,$25,$25,$25,$25,$25,$25
	dc.b	$25,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$25,$25,$25,$25,$25,$25,$25
	dc.b	$25,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$25,$25,$25,$25,$25,$25,$25
	dc.b	$25,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$25,$25,$25,$25,$25,$25,$25
	dc.b	$25,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$85,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$84,$1F,$85,$1F,$84,$1F
	dc.b	$1F,$85,$1F,$84,$1F,$1F,$1F,$85
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$84,$1F,$85,$1F,$84,$1F,$1F,$85
	dc.b	$1F,$84,$1F,$1F,$1F,$85,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$84,$1F
	dc.b	$85,$1F,$84,$1F,$1F,$85,$1F,$84
	dc.b	$1F,$1F,$1F,$85,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$84,$1F,$85,$1F
	dc.b	$84,$1F,$1F,$85,$1F,$84,$1F,$1F
	dc.b	$1F,$C0,$65,$60
* Sequence 68, Channel 5:
	dc.b	$64,$7F,$C0,$63,$72,$05,$07,$6A
	dc.b	$40,$C3,$C0,$61,$80,$82,$C0,$3E
	dc.b	$B0,$1F,$AA,$C3,$26,$82,$3C,$3A
	dc.b	$39,$37,$35,$33,$32,$30,$2E,$2D
	dc.b	$2B,$29,$28,$26,$22,$AE,$C0,$25
	dc.b	$AF,$C9,$FC,$1F,$82,$C6,$31,$33
	dc.b	$88,$CC,$35,$89,$38,$96,$D8,$37
	dc.b	$97,$33,$A3,$E4,$31,$8B,$CC,$33
	dc.b	$A2,$E4,$35,$8B,$CC,$31,$AF,$F0
	dc.b	$30,$AD,$37,$A4,$E4,$25,$8C,$CC
	dc.b	$27,$A0,$E4,$29,$8C,$CC,$2C,$AE
	dc.b	$2B,$82,$C6,$31,$33,$88,$CC,$35
	dc.b	$89,$38,$AC,$C0,$27,$96,$D8,$37
	dc.b	$98,$33,$A0,$C0,$25,$A4,$E4,$31
	dc.b	$8B,$C0,$27,$8C,$CC,$33,$A0,$C0
	dc.b	$29,$9E,$E4,$35,$8B,$C0,$25,$8C
	dc.b	$CC,$31,$AE,$C0,$24,$AA,$F0,$30
	dc.b	$AC,$C0,$1F,$A7,$F0,$2B,$AC,$C0
	dc.b	$24,$AA,$F0,$30,$AC,$C0,$1F,$AA
	dc.b	$F0,$2B,$AC,$C0,$24,$AA,$F0,$30
	dc.b	$C0,$26,$F0,$32,$AC,$C0,$24,$AA
	dc.b	$F0,$37,$AC,$C0,$1F,$AA,$F0,$32
	dc.b	$AC,$C0,$24,$AA,$F0,$37,$C0,$26
	dc.b	$F0,$39,$AC,$C0,$24,$AA,$F0,$37
	dc.b	$C0,$26,$F0,$39,$AC,$C0,$24,$AA
	dc.b	$F0,$37,$C0,$2B,$F0,$32,$AC,$C0
	dc.b	$24,$AA,$F0,$37,$C0,$26,$F0,$39
	dc.b	$AC,$C0,$24,$AA,$F0,$37,$A7,$C0
	dc.b	$2B,$F0,$3E,$C0,$65,$60
* Sequence 68, Channel 6:
	dc.b	$64,$7F,$C0,$63,$6A,$46,$C4,$E0
	dc.b	$61,$0F,$9D,$E4,$33,$88,$CC,$33
	dc.b	$94,$D8,$30,$93,$C1,$EC,$33,$8A
	dc.b	$CC,$33,$A4,$C1,$D4,$30,$89,$CC
	dc.b	$33,$9C,$C1,$D4,$30,$8B,$CC,$33
	dc.b	$89,$30,$A6,$F0,$31,$8C,$CC,$33
	dc.b	$8B,$30,$8A,$33,$96,$C3,$C0,$35
	dc.b	$C2,$D0,$35,$83,$C6,$33,$84,$30
	dc.b	$82,$33,$84,$30,$83,$33,$84,$30
	dc.b	$83,$33,$84,$30,$96,$C3,$C0,$35
	dc.b	$C4,$D4,$35,$8A,$CC,$33,$A4,$C1
	dc.b	$D4,$30,$89,$CC,$33,$9C,$C1,$D4
	dc.b	$30,$8B,$CC,$33,$89,$30,$A6,$F0
	dc.b	$31,$8C,$CC,$33,$8B,$30,$8A,$33
	dc.b	$9C,$C1,$D4,$30,$8B,$CC,$33,$89
	dc.b	$31,$A6,$F0,$30,$8C,$CC,$33,$8B
	dc.b	$31,$8A,$33,$9C,$C1,$D4,$30,$8B
	dc.b	$CC,$33,$89,$30,$A6,$F0,$31,$8C
	dc.b	$CC,$33,$8B,$30,$8A,$33,$C0,$65
	dc.b	$60
* Sequence 68, Channel 7:
	dc.b	$64,$7F,$C0,$63,$6A,$00,$61,$85
	dc.b	$72,$05,$0C,$A4,$F0,$24,$24,$24
	dc.b	$C3,$F0,$24,$F0,$24,$C3,$C0,$24
	dc.b	$24,$F0,$24,$24,$C1,$E0,$24,$F0
	dc.b	$24,$C2,$D0,$24,$F0,$24,$24,$C1
	dc.b	$E0,$24,$F0,$24,$24,$CC,$F0,$24
	dc.b	$C0,$65,$60
* Sequence 69, Channel 0:
	dc.b	$C0,$68,$7F,$64,$7F,$C0,$63,$61
	dc.b	$8B,$6A,$40,$72,$05,$07,$81,$86
	dc.b	$2E,$2B,$C1,$C8,$32,$81,$B4,$C0
	dc.b	$2B,$81,$B3,$28,$C1,$F8,$30,$81
	dc.b	$86,$C0,$2E,$2B,$C1,$C8,$32,$81
	dc.b	$B4,$C0,$2B,$81,$B3,$28,$C1,$F8
	dc.b	$30,$81,$86,$C0,$2E,$2B,$C1,$C8
	dc.b	$32,$81,$B4,$C0,$2B,$81,$B3,$28
	dc.b	$C1,$F8,$30,$81,$86,$C0,$2E,$2B
	dc.b	$C1,$C8,$32,$81,$B4,$C0,$2B,$81
	dc.b	$B3,$28,$D9,$F8,$30,$82,$BA,$C0
	dc.b	$2D,$34,$C3,$C0,$30,$C0,$33,$37
	dc.b	$C3,$C0,$30,$C0,$32,$2B,$C3,$C0
	dc.b	$2E,$C0,$2D,$34,$81,$9A,$C1,$E0
	dc.b	$30,$81,$98,$31,$82,$BA,$C0,$2D
	dc.b	$34,$C3,$C0,$30,$C0,$33,$37,$C3
	dc.b	$C0,$30,$C0,$32,$2B,$C3,$C0,$2E
	dc.b	$C0,$2D,$34,$81,$9A,$C1,$E0,$30
	dc.b	$81,$98,$31,$C0,$65,$60
* Sequence 69, Channel 1:
	dc.b	$64,$7F,$C0,$63,$61,$8A,$81,$86
	dc.b	$2E,$2B,$C1,$C8,$32,$81,$B4,$C0
	dc.b	$2B,$81,$B3,$28,$C1,$F8,$30,$81
	dc.b	$86,$C0,$2E,$2B,$C1,$C8,$32,$81
	dc.b	$B4,$C0,$2B,$81,$B3,$28,$C1,$F8
	dc.b	$30,$81,$86,$C0,$2E,$2B,$C1,$C8
	dc.b	$32,$81,$B4,$C0,$2B,$81,$B3,$28
	dc.b	$C1,$F8,$30,$81,$86,$C0,$2E,$2B
	dc.b	$C1,$C8,$32,$81,$B4,$C0,$2B,$81
	dc.b	$B3,$28,$C1,$F8,$30,$81,$86,$C0
	dc.b	$2E,$2B,$C1,$C8,$32,$81,$B4,$C0
	dc.b	$2B,$81,$B3,$28,$C1,$F8,$30,$81
	dc.b	$86,$C0,$2E,$2B,$C1,$C8,$32,$81
	dc.b	$B4,$C0,$2B,$81,$B3,$28,$C1,$F8
	dc.b	$30,$81,$86,$C0,$2E,$2B,$C1,$C8
	dc.b	$32,$81,$B4,$C0,$2B,$81,$B3,$28
	dc.b	$C1,$F8,$30,$81,$86,$C0,$2E,$2B
	dc.b	$C1,$C8,$32,$81,$B4,$C0,$2B,$81
	dc.b	$B3,$28,$C1,$F8,$30,$81,$86,$C0
	dc.b	$2E,$2B,$C1,$C8,$32,$81,$B4,$C0
	dc.b	$2B,$81,$B3,$28,$C1,$F8,$30,$81
	dc.b	$86,$C0,$2E,$2B,$C1,$C8,$32,$81
	dc.b	$B4,$C0,$2B,$81,$B3,$28,$C1,$F8
	dc.b	$30,$81,$86,$C0,$2E,$2B,$C1,$C8
	dc.b	$32,$81,$B4,$C0,$2B,$81,$B3,$28
	dc.b	$C1,$F8,$30,$81,$86,$C0,$2E,$2B
	dc.b	$C1,$C8,$32,$81,$B4,$C0,$2B,$81
	dc.b	$B3,$28,$C1,$F8,$30,$86,$C0,$2D
	dc.b	$34,$CC,$30,$C0,$30,$2D,$CC,$34
	dc.b	$C0,$30,$2D,$CC,$34,$C0,$30,$2D
	dc.b	$CC,$34,$C0,$30,$34,$CC,$2D,$C0
	dc.b	$30,$34,$CC,$2D,$C0,$34,$30,$CC
	dc.b	$2D,$C0,$30,$34,$CC,$2D,$C0,$30
	dc.b	$2D,$CC,$34,$C0,$30,$2D,$CC,$34
	dc.b	$C0,$30,$2D,$CC,$34,$C0,$30,$34
	dc.b	$CC,$2D,$C0,$30,$2D,$CC,$34,$C0
	dc.b	$30,$34,$CC,$2D,$C0,$30,$2D,$CC
	dc.b	$34,$C0,$30,$2D,$CC,$34,$C0,$30
	dc.b	$33,$CC,$37,$C0,$30,$33,$CC,$37
	dc.b	$C0,$30,$33,$CC,$37,$C0,$33,$30
	dc.b	$CC,$37,$C0,$33,$30,$CC,$37,$C0
	dc.b	$33,$30,$CC,$37,$C0,$33,$37,$CC
	dc.b	$30,$C0,$33,$30,$CC,$37,$C0,$33
	dc.b	$30,$CC,$37,$C0,$33,$37,$CC,$30
	dc.b	$C0,$33,$37,$CC,$30,$C0,$33,$37
	dc.b	$CC,$30,$C0,$33,$37,$CC,$30,$C0
	dc.b	$33,$37,$CC,$30,$C0,$37,$33,$CC
	dc.b	$30,$C0,$33,$37,$CC,$30,$C0,$2B
	dc.b	$32,$CC,$2E,$C0,$2E,$2B,$CC,$32
	dc.b	$C0,$2E,$2B,$CC,$32,$C0,$2E,$2B
	dc.b	$CC,$32,$C0,$2E,$32,$CC,$2B,$C0
	dc.b	$2E,$32,$CC,$2B,$C0,$32,$2E,$CC
	dc.b	$2B,$C0,$2E,$32,$CC,$2B,$C0,$2E
	dc.b	$2B,$CC,$32,$C0,$2E,$2B,$CC,$32
	dc.b	$C0,$2E,$2B,$CC,$32,$C0,$2E,$32
	dc.b	$CC,$2B,$C0,$2E,$2B,$CC,$32,$C0
	dc.b	$2E,$32,$CC,$2B,$C0,$2E,$2B,$CC
	dc.b	$32,$C0,$2E,$2B,$CC,$32,$C0,$2D
	dc.b	$30,$CC,$34,$C0,$2D,$30,$CC,$34
	dc.b	$C0,$2D,$30,$CC,$34,$C0,$30,$2D
	dc.b	$CC,$34,$C0,$30,$2D,$CC,$34,$C0
	dc.b	$30,$2D,$CC,$34,$C0,$30,$34,$CC
	dc.b	$2D,$C0,$30,$2D,$CC,$34,$C0,$31
	dc.b	$2D,$CC,$34,$C0,$31,$34,$CC,$2D
	dc.b	$C0,$31,$34,$CC,$2D,$C0,$31,$34
	dc.b	$CC,$2D,$C0,$31,$34,$CC,$2D,$C0
	dc.b	$31,$34,$CC,$2D,$C0,$34,$31,$CC
	dc.b	$2D,$C0,$31,$34,$CC,$2D,$C0,$2D
	dc.b	$34,$CC,$30,$C0,$30,$2D,$CC,$34
	dc.b	$C0,$30,$2D,$CC,$34,$C0,$30,$2D
	dc.b	$CC,$34,$C0,$30,$34,$CC,$2D,$C0
	dc.b	$30,$34,$CC,$2D,$C0,$34,$30,$CC
	dc.b	$2D,$C0,$30,$34,$CC,$2D,$C0,$30
	dc.b	$2D,$CC,$34,$C0,$30,$2D,$CC,$34
	dc.b	$C0,$30,$2D,$CC,$34,$C0,$30,$34
	dc.b	$CC,$2D,$C0,$30,$2D,$CC,$34,$C0
	dc.b	$30,$34,$CC,$2D,$C0,$30,$2D,$CC
	dc.b	$34,$C0,$30,$2D,$CC,$34,$C0,$30
	dc.b	$33,$CC,$37,$C0,$30,$33,$CC,$37
	dc.b	$C0,$30,$33,$CC,$37,$C0,$33,$30
	dc.b	$CC,$37,$C0,$33,$30,$CC,$37,$C0
	dc.b	$33,$30,$CC,$37,$C0,$33,$37,$CC
	dc.b	$30,$C0,$33,$30,$CC,$37,$C0,$33
	dc.b	$30,$CC,$37,$C0,$33,$37,$CC,$30
	dc.b	$C0,$33,$37,$CC,$30,$C0,$33,$37
	dc.b	$CC,$30,$C0,$33,$37,$CC,$30,$C0
	dc.b	$33,$37,$CC,$30,$C0,$37,$33,$CC
	dc.b	$30,$C0,$33,$37,$CC,$30,$C0,$2B
	dc.b	$32,$CC,$2E,$C0,$2E,$2B,$CC,$32
	dc.b	$C0,$2E,$2B,$CC,$32,$C0,$2E,$2B
	dc.b	$CC,$32,$C0,$2E,$32,$CC,$2B,$C0
	dc.b	$2E,$32,$CC,$2B,$C0,$32,$2E,$CC
	dc.b	$2B,$C0,$2E,$32,$CC,$2B,$C0,$2E
	dc.b	$2B,$CC,$32,$C0,$2E,$2B,$CC,$32
	dc.b	$C0,$2E,$2B,$CC,$32,$C0,$2E,$32
	dc.b	$CC,$2B,$C0,$2E,$2B,$CC,$32,$C0
	dc.b	$2E,$32,$CC,$2B,$C0,$2E,$2B,$CC
	dc.b	$32,$C0,$2E,$2B,$CC,$32,$C0,$2D
	dc.b	$30,$CC,$34,$C0,$2D,$30,$CC,$34
	dc.b	$C0,$2D,$30,$CC,$34,$C0,$30,$2D
	dc.b	$CC,$34,$C0,$30,$2D,$CC,$34,$C0
	dc.b	$30,$2D,$CC,$34,$C0,$30,$34,$CC
	dc.b	$2D,$C0,$30,$2D,$CC,$34,$C0,$31
	dc.b	$2D,$CC,$34,$C0,$31,$34,$CC,$2D
	dc.b	$C0,$31,$34,$CC,$2D,$C0,$31,$34
	dc.b	$CC,$2D,$C0,$31,$34,$CC,$2D,$C0
	dc.b	$31,$34,$CC,$2D,$C0,$34,$31,$CC
	dc.b	$2D,$C0,$31,$34,$CC,$2D,$C0,$65
	dc.b	$60
* Sequence 69, Channel 2:
	dc.b	$64,$7F,$C0,$63,$61,$90,$72,$05
	dc.b	$07,$8B,$CB,$1F,$8C,$CC,$1C,$8B
	dc.b	$CD,$18,$8D,$D8,$1F,$8E,$CC,$18
	dc.b	$D8,$24,$24,$8F,$24,$8D,$26,$8C
	dc.b	$24,$8B,$CB,$1F,$8C,$CC,$1C,$8B
	dc.b	$CD,$18,$8D,$D8,$1F,$8E,$CC,$18
	dc.b	$8F,$D8,$24,$8C,$24,$8E,$24,$8D
	dc.b	$21,$8C,$1F,$8B,$CB,$1F,$8C,$CC
	dc.b	$1C,$8B,$CD,$18,$8D,$D8,$1F,$8E
	dc.b	$CC,$18,$D8,$24,$24,$8F,$24,$8D
	dc.b	$26,$8C,$24,$8B,$CB,$1F,$8C,$CC
	dc.b	$1C,$8B,$CD,$18,$8D,$D8,$1F,$8E
	dc.b	$CC,$18,$8F,$D8,$24,$8C,$24,$8E
	dc.b	$24,$8D,$21,$8C,$1F,$8B,$CB,$1F
	dc.b	$8C,$CC,$1C,$8B,$CD,$18,$8D,$D8
	dc.b	$1F,$8E,$CC,$18,$D8,$24,$24,$8F
	dc.b	$24,$8D,$26,$8C,$24,$8B,$CB,$1F
	dc.b	$8C,$CC,$1C,$8B,$CD,$18,$8D,$D8
	dc.b	$1F,$8E,$CC,$18,$8F,$D8,$24,$8C
	dc.b	$24,$8E,$24,$8D,$21,$8C,$1F,$8B
	dc.b	$CB,$1F,$8C,$CC,$1C,$8B,$CD,$18
	dc.b	$8D,$D8,$1F,$8E,$CC,$18,$D8,$24
	dc.b	$24,$8F,$24,$8D,$26,$8C,$24,$8B
	dc.b	$CB,$1F,$8C,$CC,$1C,$8B,$CD,$18
	dc.b	$8D,$D8,$1F,$8E,$CC,$18,$8F,$D8
	dc.b	$24,$8C,$24,$8E,$24,$8D,$21,$8C
	dc.b	$1F,$8B,$CB,$1F,$8C,$CC,$1C,$8B
	dc.b	$CD,$18,$8D,$D8,$1F,$8E,$CC,$18
	dc.b	$D8,$24,$24,$8F,$24,$8D,$26,$8C
	dc.b	$24,$8B,$CB,$1F,$8C,$CC,$1C,$8B
	dc.b	$CD,$18,$8D,$D8,$1F,$8E,$CC,$18
	dc.b	$8F,$D8,$24,$8C,$24,$8E,$24,$8D
	dc.b	$21,$8C,$1F,$8B,$CB,$1F,$8C,$CC
	dc.b	$1C,$8B,$CD,$18,$8D,$D8,$1F,$8E
	dc.b	$CC,$18,$D8,$24,$24,$8F,$24,$8D
	dc.b	$26,$8C,$24,$8B,$CB,$1F,$8C,$CC
	dc.b	$1C,$8B,$CD,$18,$8D,$D8,$1F,$8E
	dc.b	$CC,$18,$8F,$D8,$24,$8C,$24,$8E
	dc.b	$24,$8D,$21,$8C,$1F,$86,$CC,$21
	dc.b	$21,$21,$21,$21,$21,$21,$21,$21
	dc.b	$21,$21,$21,$21,$21,$21,$21,$24
	dc.b	$24,$24,$24,$24,$24,$24,$24,$24
	dc.b	$24,$24,$24,$24,$24,$24,$24,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$21
	dc.b	$21,$21,$21,$21,$21,$21,$21,$21
	dc.b	$21,$21,$21,$21,$21,$21,$21,$21
	dc.b	$21,$21,$21,$21,$21,$21,$21,$21
	dc.b	$21,$21,$21,$21,$21,$21,$21,$24
	dc.b	$24,$24,$24,$24,$24,$24,$24,$24
	dc.b	$24,$24,$24,$24,$24,$24,$24,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$1F
	dc.b	$1F,$1F,$1F,$1F,$1F,$1F,$1F,$21
	dc.b	$21,$21,$21,$21,$21,$21,$21,$21
	dc.b	$21,$21,$21,$21,$21,$21,$21,$C0
	dc.b	$65,$60
* Sequence 69, Channel 3:
	dc.b	$64,$7F,$C0,$63,$6A,$46,$61,$0F
	dc.b	$99,$E4,$35,$88,$D8,$33,$86,$CC
	dc.b	$30,$8E,$E4,$33,$8B,$D8,$33,$86
	dc.b	$CC,$30,$89,$D8,$33,$8A,$33,$99
	dc.b	$E4,$35,$88,$D8,$33,$86,$CC,$30
	dc.b	$8E,$E4,$33,$8B,$D8,$33,$86,$CC
	dc.b	$30,$89,$D8,$33,$8A,$33,$99,$E4
	dc.b	$35,$88,$D8,$33,$86,$CC,$30,$8E
	dc.b	$E4,$33,$8B,$D8,$33,$86,$CC,$30
	dc.b	$89,$D8,$33,$8A,$33,$99,$E4,$35
	dc.b	$88,$D8,$33,$86,$CC,$30,$8E,$E4
	dc.b	$33,$8B,$D8,$33,$86,$CC,$30,$89
	dc.b	$D8,$33,$8A,$33,$99,$E4,$35,$88
	dc.b	$D8,$33,$86,$CC,$30,$8E,$E4,$33
	dc.b	$8B,$D8,$33,$86,$CC,$30,$89,$D8
	dc.b	$33,$8A,$33,$99,$E4,$35,$88,$D8
	dc.b	$33,$86,$CC,$30,$8E,$E4,$33,$8B
	dc.b	$D8,$33,$86,$CC,$30,$89,$D8,$33
	dc.b	$8A,$33,$99,$E4,$35,$88,$D8,$33
	dc.b	$86,$CC,$30,$8E,$E4,$33,$8B,$D8
	dc.b	$33,$86,$CC,$30,$89,$D8,$33,$8A
	dc.b	$33,$99,$E4,$35,$88,$D8,$33,$86
	dc.b	$CC,$30,$8E,$E4,$33,$8B,$D8,$33
	dc.b	$86,$CC,$30,$89,$D8,$33,$8A,$33
	dc.b	$99,$E4,$35,$88,$D8,$33,$86,$CC
	dc.b	$30,$8E,$E4,$33,$8B,$D8,$33,$86
	dc.b	$CC,$30,$89,$D8,$33,$8A,$33,$99
	dc.b	$E4,$35,$88,$D8,$33,$86,$CC,$30
	dc.b	$8E,$E4,$33,$8B,$D8,$33,$86,$CC
	dc.b	$30,$89,$D8,$33,$8A,$33,$99,$E4
	dc.b	$35,$88,$D8,$33,$86,$CC,$30,$8E
	dc.b	$E4,$33,$8B,$D8,$33,$86,$CC,$30
	dc.b	$89,$D8,$33,$8A,$33,$99,$E4,$35
	dc.b	$88,$D8,$33,$86,$CC,$30,$8E,$E4
	dc.b	$33,$8B,$D8,$33,$86,$CC,$30,$89
	dc.b	$D8,$33,$8A,$33,$B1,$C1,$D4,$35
	dc.b	$84,$CC,$33,$85,$C1,$C8,$30,$84
	dc.b	$D8,$30,$87,$C1,$D4,$35,$83,$CC
	dc.b	$33,$84,$C1,$C8,$30,$86,$D8,$30
	dc.b	$B1,$C1,$D4,$35,$84,$CC,$33,$85
	dc.b	$C1,$C8,$30,$84,$D8,$30,$87,$C1
	dc.b	$D4,$35,$83,$CC,$33,$84,$C1,$C8
	dc.b	$30,$86,$D8,$30,$B1,$C1,$D4,$35
	dc.b	$84,$CC,$33,$85,$C1,$C8,$30,$84
	dc.b	$D8,$30,$87,$C1,$D4,$35,$83,$CC
	dc.b	$33,$84,$C1,$C8,$30,$86,$D8,$30
	dc.b	$B1,$C1,$D4,$35,$84,$CC,$33,$85
	dc.b	$C1,$C8,$30,$84,$D8,$30,$87,$C1
	dc.b	$D4,$35,$83,$CC,$33,$84,$C1,$C8
	dc.b	$30,$86,$D8,$30,$C0,$35,$C6,$65
	dc.b	$60
* Sequence 69, Channel 4:
	dc.b	$64,$7F,$C0,$63,$72,$05,$07,$6A
	dc.b	$40,$CC,$C0,$61,$8E,$81,$88,$C1
	dc.b	$C8,$39,$3A,$B0,$F0,$3C,$BC,$FC
	dc.b	$39,$8C,$CC,$3A,$81,$B8,$C1,$F8
	dc.b	$37,$81,$88,$C1,$C8,$39,$B0,$F0
	dc.b	$3A,$98,$D8,$3F,$3E,$3F,$81,$88
	dc.b	$C1,$C8,$39,$81,$B8,$C1,$F8,$37
	dc.b	$81,$88,$C1,$C8,$39,$3A,$B0,$F0
	dc.b	$3C,$BC,$FC,$39,$8C,$CC,$3A,$81
	dc.b	$B8,$C1,$F8,$37,$81,$88,$C1,$C8
	dc.b	$39,$B0,$F0,$3A,$98,$D8,$3F,$3E
	dc.b	$3F,$81,$88,$C1,$C8,$39,$81,$B8
	dc.b	$D9,$F8,$37,$C0,$65,$60
* Sequence 69, Channel 5:
	dc.b	$64,$7F,$C0,$63,$61,$88,$6A,$00
	dc.b	$CC,$C0,$72,$05,$07,$83,$CC,$54
	dc.b	$54,$54,$54,$54,$C6,$53,$54,$CC
	dc.b	$53,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$C6
	dc.b	$53,$54,$CC,$53,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$C6,$53,$54,$CC,$53,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$C6,$53,$54
	dc.b	$CC,$53,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$C6,$53,$54,$CC,$53,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$C6,$53,$54,$CC,$53
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$C6,$53
	dc.b	$54,$CC,$53,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$C6,$53,$54,$CC,$53,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$D8,$CC
	dc.b	$54,$C0,$65,$60
* Sequence 69, Channel 6:
	dc.b	$64,$7F,$C0,$63,$6A,$40,$72,$05
	dc.b	$07,$D8,$C0,$61,$8D,$81,$88,$C1
	dc.b	$C8,$39,$3A,$B0,$F0,$3C,$BC,$FC
	dc.b	$39,$8C,$CC,$3A,$81,$B8,$C1,$F8
	dc.b	$37,$81,$88,$C1,$C8,$39,$B0,$F0
	dc.b	$3A,$98,$D8,$3F,$3E,$3F,$81,$88
	dc.b	$C1,$C8,$39,$81,$B8,$D9,$F8,$37
	dc.b	$C0,$65,$60
* Sequence 70, Channel 0:
	dc.b	$C0,$68,$30,$6A,$40,$72,$05,$07
	dc.b	$61,$8D,$95,$D8,$35,$83,$C6,$33
	dc.b	$31,$30,$2E,$8F,$D2,$36,$83,$C3
	dc.b	$35,$33,$89,$CC,$30,$29,$86,$C6
	dc.b	$2E,$60
* Sequence 70, Channel 1:
	dc.b	$C0,$6A,$40,$72,$05,$07,$61,$8E
	dc.b	$95,$D8,$41,$83,$C6,$3F,$3D,$3C
	dc.b	$3A,$8F,$D2,$42,$83,$C3,$41,$3F
	dc.b	$89,$CC,$3C,$35,$86,$C6,$3A,$60
* Sequence 70, Channel 2:
	dc.b	$C0,$6A,$40,$61,$90,$72,$05,$07
	dc.b	$96,$D8,$29,$82,$C6,$27,$83,$25
	dc.b	$82,$24,$22,$8A,$D2,$2A,$83,$C3
	dc.b	$29,$27,$89,$CC,$24,$8A,$1D,$86
	dc.b	$C6,$22,$60
* Sequence 70, Channel 3:
	dc.b	$C0,$61,$8A,$95,$35,$D8,$41,$83
	dc.b	$C0,$33,$C6,$3F,$C0,$31,$C6,$3D
	dc.b	$C0,$30,$C6,$3C,$C0,$2E,$C6,$3A
	dc.b	$8F,$C0,$36,$D2,$42,$83,$C0,$35
	dc.b	$C3,$41,$C0,$33,$C3,$3F,$89,$C0
	dc.b	$30,$CC,$3C,$C0,$29,$CC,$35,$86
	dc.b	$C0,$2E,$C6,$3A,$60
* Sequence 71, Channel 0:
	dc.b	$C0,$68,$3C,$6A,$40,$72,$05,$07
	dc.b	$61,$84,$B0,$F0,$41,$86,$CC,$3F
	dc.b	$3D,$3C,$3A,$A4,$E4,$42,$86,$C6
	dc.b	$41,$3F,$AD,$F0,$3C,$B0,$41,$86
	dc.b	$CC,$3D,$3F,$41,$3D,$98,$D8,$3F
	dc.b	$42,$B0,$F0,$45,$60
* Sequence 71, Channel 1:
	dc.b	$C0,$6A,$40,$72,$05,$00,$61,$80
	dc.b	$B0,$F0,$29,$86,$CC,$27,$25,$24
	dc.b	$22,$A4,$E4,$2A,$86,$C6,$29,$27
	dc.b	$B0,$F0,$24,$29,$86,$CC,$25,$27
	dc.b	$29,$25,$98,$D8,$27,$2A,$B0,$F0
	dc.b	$2D,$60
* Sequence 71, Channel 2:
	dc.b	$C0,$6A,$3C,$72,$05,$0C,$61,$8E
	dc.b	$81,$A0,$C1,$E0,$2E,$B0,$F0,$33
	dc.b	$30,$81,$A0,$C1,$E0,$2E,$B0,$F0
	dc.b	$33,$35,$60
* Sequence 71, Channel 3:
	dc.b	$C0,$61,$8D,$6A,$28,$72,$05,$0C
	dc.b	$81,$9F,$3D,$2E,$C1,$E0,$35,$AF
	dc.b	$C0,$3A,$33,$F0,$42,$C0,$39,$35
	dc.b	$F0,$41,$81,$9F,$C0,$35,$2E,$C1
	dc.b	$E0,$3D,$AF,$C0,$3A,$33,$F0,$42
	dc.b	$C0,$3C,$35,$EF,$45,$60
* Sequence 71, Channel 4:
	dc.b	$C0,$6A,$40,$72,$05,$0C,$61,$88
	dc.b	$83,$C6,$3E,$81,$C3,$3E,$3E,$C6
	dc.b	$3E,$3E,$83,$3E,$81,$3E,$83,$3E
	dc.b	$81,$3E,$83,$3E,$81,$C3,$3E,$3E
	dc.b	$C6,$3E,$3E,$83,$3E,$81,$3E,$83
	dc.b	$3E,$81,$3E,$83,$3E,$81,$C3,$3E
	dc.b	$3E,$C6,$3E,$3E,$83,$3E,$81,$3E
	dc.b	$83,$3E,$81,$3E,$83,$3E,$81,$C3
	dc.b	$3E,$3E,$C6,$3E,$83,$3E,$81,$3E
	dc.b	$83,$3E,$81,$3E,$83,$3E,$3E,$81
	dc.b	$C3,$3E,$3E,$C6,$3E,$3E,$83,$3E
	dc.b	$81,$3E,$83,$3E,$81,$3E,$83,$3E
	dc.b	$81,$C3,$3E,$3E,$C6,$3E,$3E,$83
	dc.b	$3E,$81,$3E,$83,$3E,$81,$3E,$83
	dc.b	$3E,$81,$C3,$3E,$3E,$C6,$3E,$3E
	dc.b	$83,$3E,$81,$3E,$83,$3E,$81,$3E
	dc.b	$83,$3E,$81,$C3,$3E,$3E,$C6,$3E
	dc.b	$83,$3E,$81,$3E,$83,$3E,$81,$3E
	dc.b	$83,$C3,$3E,$60
* Sequence 71, Channel 5:
	dc.b	$C0,$6A,$46,$61,$0F,$8A,$E4,$35
	dc.b	$87,$CC,$33,$83,$F0,$33,$84,$E4
	dc.b	$33,$87,$CC,$33,$84,$D8,$33,$87
	dc.b	$CC,$31,$86,$30,$8A,$E4,$33,$87
	dc.b	$CC,$33,$83,$F0,$33,$84,$E4,$33
	dc.b	$87,$CC,$33,$84,$D8,$33,$87,$CC
	dc.b	$31,$86,$C6,$30,$60
* Sequence 72, Channel 0:
	dc.b	$C1,$68,$50,$64,$7F,$C0,$63,$6A
	dc.b	$00,$61,$69,$72,$05,$00,$83,$80
	dc.b	$C3,$C0,$0C,$C6,$C0,$0C,$D2,$C0
	dc.b	$0C,$C3,$C0,$10,$D2,$C0,$0C,$C0
	dc.b	$65,$60
* Sequence 72, Channel 1:
	dc.b	$C1,$63,$64,$7F,$C0,$63,$6A,$00
	dc.b	$72,$05,$07,$61,$62,$83,$80,$C3
	dc.b	$C0,$18,$87,$D2,$18,$CC,$18,$84
	dc.b	$C6,$13,$8A,$D2,$18,$87,$CC,$18
	dc.b	$82,$C6,$18,$88,$CC,$18,$87,$13
	dc.b	$88,$D2,$18,$87,$CC,$18,$83,$C6
	dc.b	$13,$8A,$D2,$18,$85,$CC,$18,$83
	dc.b	$C6,$18,$85,$CC,$18,$89,$13,$8A
	dc.b	$D2,$1A,$88,$CC,$1A,$83,$C6,$1A
	dc.b	$89,$D2,$1A,$87,$CC,$1A,$1A,$86
	dc.b	$1A,$84,$C6,$1A,$88,$CC,$1A,$1A
	dc.b	$83,$C6,$1A,$87,$CC,$1A,$1A,$1A
	dc.b	$1A,$88,$1A,$87,$C6,$1A,$D2,$18
	dc.b	$CC,$18,$84,$C6,$13,$8A,$D2,$18
	dc.b	$87,$CC,$18,$82,$C6,$18,$88,$CC
	dc.b	$18,$87,$13,$88,$D2,$18,$87,$CC
	dc.b	$18,$83,$C6,$13,$8A,$D2,$18,$85
	dc.b	$CC,$18,$83,$C6,$18,$85,$CC,$18
	dc.b	$89,$13,$8A,$D2,$1A,$88,$CC,$1A
	dc.b	$83,$C6,$1A,$89,$D2,$1A,$87,$CC
	dc.b	$1A,$1A,$86,$1A,$84,$C6,$1A,$88
	dc.b	$CC,$1A,$1A,$83,$C6,$1A,$87,$CC
	dc.b	$1A,$1A,$1A,$1A,$88,$1A,$84,$C6
	dc.b	$1A,$81,$A0,$C0,$37,$2F,$C1,$E0
	dc.b	$34,$C0,$32,$2F,$C1,$E0,$35,$C0
	dc.b	$34,$2D,$C1,$E0,$30,$81,$9F,$C0
	dc.b	$33,$30,$C1,$E0,$2D,$81,$A0,$C0
	dc.b	$37,$2F,$C1,$E0,$34,$C0,$32,$2F
	dc.b	$C1,$E0,$35,$C0,$34,$2D,$C1,$E0
	dc.b	$30,$81,$9F,$C0,$33,$30,$C1,$E0
	dc.b	$2D,$83,$80,$C3,$C0,$1C,$18,$81
	dc.b	$A0,$C0,$37,$2F,$C1,$E0,$34,$C0
	dc.b	$32,$2F,$C1,$E0,$35,$C0,$34,$2D
	dc.b	$C1,$E0,$30,$81,$9F,$C0,$33,$30
	dc.b	$C1,$E0,$2D,$81,$A0,$C0,$37,$2F
	dc.b	$C1,$E0,$34,$C0,$32,$2F,$C1,$E0
	dc.b	$35,$C0,$34,$2D,$C1,$E0,$30,$81
	dc.b	$9F,$C0,$33,$30,$C4,$E0,$2D,$C0
	dc.b	$65,$60
* Sequence 72, Channel 2:
	dc.b	$C1,$63,$64,$7F,$C0,$63,$61,$65
	dc.b	$6A,$02,$72,$05,$00,$82,$BE,$18
	dc.b	$C3,$C0,$24,$C0,$18,$C3,$C0,$24
	dc.b	$C0,$1A,$C3,$C0,$26,$C0,$18,$C3
	dc.b	$C0,$24,$C0,$1A,$CF,$C0,$26,$C0
	dc.b	$1C,$C3,$C0,$28,$C0,$18,$D2,$C0
	dc.b	$24,$C0,$65,$60
* Sequence 72, Channel 3:
	dc.b	$C1,$63,$64,$7F,$C0,$63,$6A,$00
	dc.b	$61,$90,$72,$05,$07,$82,$BE,$18
	dc.b	$C9,$C0,$24,$82,$BD,$C0,$18,$98
	dc.b	$C3,$C0,$24,$82,$B9,$C0,$26,$82
	dc.b	$B7,$C3,$C0,$1A,$8C,$C0,$1C,$8B
	dc.b	$D2,$28,$81,$8A,$C0,$28,$81,$88
	dc.b	$C1,$CE,$1C,$8D,$C0,$1C,$8E,$D2
	dc.b	$28,$81,$85,$C0,$28,$81,$83,$C1
	dc.b	$C8,$1C,$87,$C0,$1A,$85,$C6,$26
	dc.b	$90,$C0,$28,$8E,$D2,$1C,$81,$8D
	dc.b	$C0,$1C,$81,$8C,$C1,$CE,$28,$90
	dc.b	$D2,$1F,$B9,$C1,$CE,$21,$8C,$D4
	dc.b	$1C,$86,$CC,$1C,$15,$84,$C4,$15
	dc.b	$8C,$D4,$1C,$86,$CC,$1C,$84,$15
	dc.b	$C4,$15,$8E,$D4,$1C,$86,$CC,$1C
	dc.b	$1F,$85,$21,$21,$21,$84,$23,$83
	dc.b	$C4,$23,$8D,$D4,$1C,$86,$CC,$1C
	dc.b	$85,$15,$84,$C4,$15,$8B,$D4,$1C
	dc.b	$85,$CC,$1C,$84,$15,$83,$C4,$15
	dc.b	$8C,$D2,$1C,$86,$CC,$1C,$87,$23
	dc.b	$85,$C6,$23,$88,$CC,$21,$87,$21
	dc.b	$1F,$1F,$82,$BE,$C0,$1C,$C3,$C0
	dc.b	$28,$C0,$18,$C3,$C0,$24,$8C,$D4
	dc.b	$1C,$86,$CC,$1C,$15,$84,$C4,$15
	dc.b	$8C,$D4,$1C,$86,$CC,$1C,$84,$15
	dc.b	$C4,$15,$8E,$D4,$1C,$86,$CC,$1C
	dc.b	$1F,$85,$21,$21,$21,$84,$23,$83
	dc.b	$C4,$23,$8D,$D4,$1C,$86,$CC,$1C
	dc.b	$85,$15,$84,$C4,$15,$8B,$D4,$1C
	dc.b	$85,$CC,$1C,$84,$15,$83,$C4,$15
	dc.b	$8C,$D2,$1C,$86,$CC,$1C,$87,$23
	dc.b	$85,$C6,$23,$88,$CC,$21,$87,$21
	dc.b	$1F,$1F,$8C,$D4,$1C,$86,$CC,$1C
	dc.b	$15,$84,$C4,$15,$8C,$D4,$1C,$86
	dc.b	$CC,$1C,$84,$15,$C4,$15,$8E,$D4
	dc.b	$1C,$86,$CC,$1C,$1F,$85,$21,$21
	dc.b	$21,$84,$23,$83,$C4,$23,$8D,$D4
	dc.b	$1C,$86,$CC,$1C,$85,$15,$84,$C4
	dc.b	$15,$8B,$D4,$1C,$85,$CC,$1C,$84
	dc.b	$15,$83,$C4,$15,$8C,$D2,$1C,$86
	dc.b	$CC,$1C,$87,$23,$85,$C6,$23,$88
	dc.b	$CC,$21,$87,$21,$1F,$1F,$81,$A0
	dc.b	$C3,$C0,$1C,$C0,$65,$60
* Sequence 72, Channel 4:
	dc.b	$C1,$63,$64,$7F,$C0,$63,$72,$05
	dc.b	$07,$61,$88,$CF,$C0,$6A,$00,$83
	dc.b	$CC,$3C,$C8,$3C,$81,$C4,$3C,$85
	dc.b	$CC,$3C,$82,$C8,$3C,$C4,$3C,$84
	dc.b	$CC,$3C,$82,$C8,$3C,$C4,$3C,$83
	dc.b	$CC,$3C,$82,$C8,$3C,$81,$C4,$3C
	dc.b	$83,$CC,$3C,$C8,$3C,$81,$C4,$3C
	dc.b	$85,$CC,$3C,$82,$C8,$3C,$C4,$3C
	dc.b	$84,$CC,$3C,$82,$C8,$3C,$C4,$3C
	dc.b	$83,$CC,$3C,$82,$C8,$3C,$81,$C4
	dc.b	$3C,$83,$CC,$3C,$C8,$3C,$81,$C4
	dc.b	$3C,$85,$CC,$3C,$82,$C8,$3C,$C4
	dc.b	$3C,$84,$CC,$3C,$82,$C8,$3C,$C4
	dc.b	$3C,$83,$CC,$3C,$82,$C8,$3C,$81
	dc.b	$C4,$3C,$83,$CC,$3C,$C8,$3C,$81
	dc.b	$C4,$3C,$85,$CC,$3C,$82,$C8,$3C
	dc.b	$C4,$3C,$84,$CC,$3C,$82,$C8,$3C
	dc.b	$C4,$3C,$83,$CC,$3C,$82,$C8,$3C
	dc.b	$81,$C4,$3C,$83,$CC,$3C,$C8,$3C
	dc.b	$81,$C4,$3C,$85,$CC,$3C,$82,$C8
	dc.b	$3C,$C4,$3C,$84,$CC,$3C,$82,$C8
	dc.b	$3C,$C4,$3C,$83,$CC,$3C,$82,$C8
	dc.b	$3C,$81,$C4,$3C,$83,$CC,$3C,$C8
	dc.b	$3C,$81,$C4,$3C,$85,$CC,$3C,$82
	dc.b	$C8,$3C,$C4,$3C,$84,$CC,$3C,$82
	dc.b	$C8,$3C,$C4,$3C,$83,$CC,$3C,$82
	dc.b	$C8,$3C,$81,$C4,$3C,$83,$CC,$3C
	dc.b	$C8,$3C,$81,$C4,$3C,$85,$CC,$3C
	dc.b	$82,$C8,$3C,$C4,$3C,$84,$CC,$3C
	dc.b	$82,$C8,$3C,$C4,$3C,$83,$CC,$3C
	dc.b	$82,$C8,$3C,$81,$C4,$3C,$83,$CC
	dc.b	$3C,$C8,$3C,$81,$C4,$3C,$85,$CC
	dc.b	$3C,$82,$C8,$3C,$C4,$3C,$84,$CC
	dc.b	$3C,$82,$C8,$3C,$C4,$3C,$83,$CC
	dc.b	$3C,$82,$C8,$3C,$81,$C4,$3C,$83
	dc.b	$CC,$3C,$C8,$3C,$81,$C4,$3C,$85
	dc.b	$CC,$3C,$82,$C8,$3C,$C4,$3C,$84
	dc.b	$CC,$3C,$82,$C8,$3C,$C4,$3C,$83
	dc.b	$CC,$3C,$82,$C8,$3C,$81,$C4,$3C
	dc.b	$83,$CC,$3C,$C8,$3C,$81,$C4,$3C
	dc.b	$85,$CC,$3C,$82,$C8,$3C,$C4,$3C
	dc.b	$84,$CC,$3C,$82,$C8,$3C,$C4,$3C
	dc.b	$83,$CC,$3C,$82,$C8,$3C,$81,$C4
	dc.b	$3C,$83,$CC,$3C,$C8,$3C,$81,$C4
	dc.b	$3C,$85,$CC,$3C,$82,$C8,$3C,$C4
	dc.b	$3C,$84,$CC,$3C,$82,$C8,$3C,$C4
	dc.b	$3C,$83,$CC,$3C,$82,$C8,$3C,$81
	dc.b	$C4,$3C,$83,$CC,$3C,$C8,$3C,$81
	dc.b	$C4,$3C,$85,$CC,$3C,$82,$C8,$3C
	dc.b	$C4,$3C,$84,$CC,$3C,$82,$C8,$3C
	dc.b	$C4,$3C,$83,$CC,$3C,$82,$C8,$3C
	dc.b	$81,$C4,$3C,$83,$CC,$3C,$C8,$3C
	dc.b	$81,$C4,$3C,$85,$CC,$3C,$82,$C8
	dc.b	$3C,$C4,$3C,$84,$CC,$3C,$82,$C8
	dc.b	$3C,$C4,$3C,$83,$CC,$3C,$82,$C8
	dc.b	$3C,$81,$C4,$3C,$83,$CC,$3C,$C8
	dc.b	$3C,$81,$C4,$3C,$85,$CC,$3C,$82
	dc.b	$C8,$3C,$C4,$3C,$84,$CC,$3C,$82
	dc.b	$C8,$3C,$C4,$3C,$83,$CC,$3C,$82
	dc.b	$C8,$3C,$81,$C4,$3C,$83,$CC,$3C
	dc.b	$C8,$3C,$81,$C4,$3C,$85,$CC,$3C
	dc.b	$82,$C8,$3C,$C4,$3C,$84,$CC,$3C
	dc.b	$82,$C8,$3C,$C4,$3C,$83,$CC,$3C
	dc.b	$82,$C8,$3C,$81,$C4,$3C,$83,$CC
	dc.b	$3C,$C8,$3C,$81,$C4,$3C,$85,$CC
	dc.b	$3C,$82,$C8,$3C,$C4,$3C,$84,$CC
	dc.b	$3C,$82,$C8,$3C,$C4,$3C,$83,$CC
	dc.b	$3C,$82,$C8,$3C,$81,$C4,$3C,$83
	dc.b	$CC,$3C,$C8,$3C,$81,$C4,$3C,$85
	dc.b	$CC,$3C,$82,$C8,$3C,$C4,$3C,$84
	dc.b	$CC,$3C,$82,$C8,$3C,$C4,$3C,$83
	dc.b	$CC,$3C,$82,$C8,$3C,$81,$C4,$3C
	dc.b	$83,$CC,$3C,$C8,$3C,$81,$C4,$3C
	dc.b	$85,$CC,$3C,$82,$C8,$3C,$C4,$3C
	dc.b	$84,$CC,$3C,$82,$C8,$3C,$C4,$3C
	dc.b	$83,$CC,$3C,$82,$C8,$3C,$81,$C4
	dc.b	$3C,$83,$CC,$3C,$C8,$3C,$81,$C4
	dc.b	$3C,$85,$CC,$3C,$82,$C8,$3C,$C4
	dc.b	$3C,$84,$CC,$3C,$82,$C8,$3C,$C4
	dc.b	$3C,$83,$CC,$3C,$82,$C8,$3C,$81
	dc.b	$C4,$3C,$83,$CC,$3C,$C8,$3C,$81
	dc.b	$C4,$3C,$85,$CC,$3C,$82,$C8,$3C
	dc.b	$C4,$3C,$84,$CC,$3C,$82,$C8,$3C
	dc.b	$C4,$3C,$83,$CC,$3C,$82,$C8,$3C
	dc.b	$81,$C4,$3C,$83,$CC,$3C,$C8,$3C
	dc.b	$81,$C4,$3C,$85,$CC,$3C,$82,$C8
	dc.b	$3C,$C4,$3C,$84,$CC,$3C,$82,$C8
	dc.b	$3C,$C4,$3C,$83,$CC,$3C,$82,$C8
	dc.b	$3C,$81,$C4,$3C,$83,$CC,$3C,$C8
	dc.b	$3C,$81,$C4,$3C,$85,$CC,$3C,$82
	dc.b	$C8,$3C,$C4,$3C,$84,$CC,$3C,$82
	dc.b	$C8,$3C,$C4,$3C,$83,$CC,$3C,$82
	dc.b	$C8,$3C,$81,$C4,$3C,$C0,$65,$60
* Sequence 73, Channel 0:
	dc.b	$C0,$68,$32,$64,$7F,$C0,$63,$61
	dc.b	$68,$72,$05,$00,$6A,$00,$81,$9C
	dc.b	$C1,$E0,$1A,$81,$99,$1A,$81,$9C
	dc.b	$1A,$81,$99,$1A,$81,$9C,$1A,$81
	dc.b	$99,$1A,$81,$9C,$1A,$81,$99,$1A
	dc.b	$87,$CC,$1A,$85,$C9,$1A,$1A,$84
	dc.b	$D2,$1A,$86,$CC,$1A,$85,$C9,$1A
	dc.b	$84,$1A,$C6,$1A,$83,$1D,$84,$1D
	dc.b	$CC,$1A,$85,$C9,$1A,$83,$1A,$84
	dc.b	$D2,$1A,$85,$CC,$1A,$84,$C9,$1A
	dc.b	$1A,$C6,$1A,$83,$1D,$84,$1D,$87
	dc.b	$CC,$1A,$85,$C9,$1A,$1A,$84,$D2
	dc.b	$1A,$86,$CC,$1A,$85,$C9,$1A,$84
	dc.b	$1A,$C6,$1A,$83,$1D,$84,$1D,$CC
	dc.b	$1A,$85,$C9,$1A,$83,$1A,$84,$D2
	dc.b	$1A,$85,$CC,$1A,$84,$C9,$1A,$1A
	dc.b	$C6,$1A,$83,$1D,$84,$1D,$87,$CC
	dc.b	$1A,$85,$C9,$1A,$1A,$84,$D2,$1A
	dc.b	$86,$CC,$1A,$85,$C9,$1A,$84,$1A
	dc.b	$C6,$1A,$83,$1D,$84,$1D,$CC,$1A
	dc.b	$85,$C9,$1A,$83,$1A,$84,$D2,$1A
	dc.b	$85,$CC,$1A,$84,$C9,$1A,$1A,$C6
	dc.b	$1A,$83,$1D,$84,$1D,$87,$CC,$1A
	dc.b	$85,$C9,$1A,$1A,$84,$D2,$1A,$86
	dc.b	$CC,$1A,$85,$C9,$1A,$84,$1A,$C6
	dc.b	$1A,$83,$1D,$84,$1D,$CC,$1A,$85
	dc.b	$C9,$1A,$83,$1A,$84,$D2,$1A,$85
	dc.b	$CC,$1A,$84,$C9,$1A,$1A,$C6,$1A
	dc.b	$83,$1D,$84,$CC,$C6,$1D,$C0,$65
	dc.b	$60
* Sequence 73, Channel 1:
	dc.b	$64,$7F,$C0,$63,$6A,$00,$72,$05
	dc.b	$00,$C3,$C0,$61,$1C,$81,$80,$C1
	dc.b	$E0,$4C,$81,$87,$4C,$81,$80,$4C
	dc.b	$81,$87,$4C,$81,$80,$4C,$81,$87
	dc.b	$4C,$81,$80,$4C,$81,$87,$4C,$81
	dc.b	$80,$4C,$81,$87,$4C,$81,$80,$4C
	dc.b	$81,$87,$4C,$81,$80,$4C,$81,$87
	dc.b	$4C,$81,$80,$4C,$81,$87,$4C,$81
	dc.b	$80,$4C,$81,$87,$4C,$81,$80,$4C
	dc.b	$81,$87,$4C,$81,$80,$4C,$81,$87
	dc.b	$4C,$C0,$65,$60
* Sequence 73, Channel 2:
	dc.b	$64,$7F,$C0,$63,$6A,$43,$61,$51
	dc.b	$E1,$72,$05,$07,$87,$CC,$15,$83
	dc.b	$C6,$15,$A5,$C1,$CE,$15,$88,$CC
	dc.b	$15,$83,$C6,$15,$A8,$C1,$CE,$15
	dc.b	$87,$CC,$15,$83,$C6,$15,$A5,$C1
	dc.b	$CE,$15,$88,$CC,$15,$83,$C6,$15
	dc.b	$A8,$CD,$CB,$15,$87,$CC,$15,$83
	dc.b	$C6,$15,$A5,$C1,$CE,$15,$88,$CC
	dc.b	$15,$83,$C6,$15,$A8,$C1,$CE,$15
	dc.b	$87,$CC,$15,$83,$C6,$15,$A5,$C1
	dc.b	$CE,$15,$88,$CC,$15,$83,$C6,$15
	dc.b	$A8,$CC,$F0,$15,$C0,$65,$60
* Sequence 73, Channel 3:
	dc.b	$64,$7F,$C0,$63,$6A,$00,$72,$05
	dc.b	$00,$CC,$C0,$61,$6B,$82,$C3,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$C6,$C3
	dc.b	$54,$C3,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$54,$54,$54,$54,$54,$54
	dc.b	$54,$54,$C0,$65,$60
* Sequence 73, Channel 4:
	dc.b	$64,$7F,$C0,$63,$61,$63,$86,$C9
	dc.b	$37,$37,$37,$D5,$37,$C9,$37,$37
	dc.b	$37,$D5,$37,$C9,$37,$37,$37,$D5
	dc.b	$37,$C9,$37,$37,$37,$D5,$37,$C9
	dc.b	$37,$37,$37,$D5,$37,$C9,$37,$37
	dc.b	$37,$D5,$37,$C9,$37,$37,$37,$D5
	dc.b	$37,$C9,$37,$37,$37,$D5,$37,$C9
	dc.b	$37,$37,$37,$D5,$37,$C9,$37,$37
	dc.b	$37,$D5,$37,$C9,$37,$37,$37,$D5
	dc.b	$37,$C9,$37,$37,$37,$D5,$37,$C9
	dc.b	$37,$37,$37,$D5,$37,$C9,$37,$37
	dc.b	$37,$D5,$37,$C9,$37,$37,$37,$D5
	dc.b	$37,$C9,$37,$37,$37,$CC,$D5,$37
	dc.b	$81,$9D,$C1,$E0,$3B,$3B,$81,$96
	dc.b	$3B,$B1,$3B,$81,$9D,$3B,$3B,$81
	dc.b	$96,$3B,$B1,$3B,$C0,$65,$60
* Sequence 73, Channel 5:
	dc.b	$64,$7F,$C0,$63,$72,$05,$00,$C6
	dc.b	$C0,$61,$6C,$81,$CC,$0C,$0C,$0C
	dc.b	$0C,$0C,$0C,$0C,$C6,$0C,$0C,$CC
	dc.b	$0C,$0C,$0C,$0C,$0C,$0C,$0C,$C6
	dc.b	$0C,$0C,$CC,$0C,$0C,$0C,$0C,$0C
	dc.b	$0C,$0C,$C6,$0C,$C1,$E6,$0C,$CC
	dc.b	$0C,$0C,$0C,$0C,$0C,$0C,$0C,$C6
	dc.b	$0C,$0C,$CC,$0C,$0C,$0C,$0C,$0C
	dc.b	$0C,$0C,$C6,$0C,$0C,$CC,$0C,$0C
	dc.b	$0C,$0C,$0C,$0C,$0C,$C6,$0C,$0C
	dc.b	$CC,$0C,$0C,$0C,$0C,$0C,$0C,$0C
	dc.b	$C6,$0C,$0C,$CC,$0C,$0C,$0C,$0C
	dc.b	$0C,$0C,$0C,$C6,$0C,$0C,$CC,$0C
	dc.b	$0C,$0C,$0C,$0C,$0C,$0C,$C6,$0C
	dc.b	$0C,$CC,$0C,$0C,$0C,$0C,$0C,$0C
	dc.b	$0C,$C6,$0C,$0C,$CC,$0C,$0C,$0C
	dc.b	$0C,$0C,$0C,$0C,$C6,$0C,$C3,$C6
	dc.b	$0C,$CC,$0C,$0C,$0C,$0C,$0C,$0C
	dc.b	$0C,$C6,$0C,$0C,$CC,$0C,$0C,$0C
	dc.b	$0C,$0C,$0C,$0C,$C6,$0C,$0C,$CC
	dc.b	$0C,$0C,$0C,$0C,$0C,$0C,$0C,$C6
	dc.b	$0C,$0C,$CC,$0C,$0C,$0C,$0C,$0C
	dc.b	$0C,$0C,$C6,$0C,$0C,$CC,$0C,$0C
	dc.b	$0C,$0C,$0C,$0C,$0C,$C6,$0C,$0C
	dc.b	$CC,$0C,$0C,$0C,$0C,$0C,$0C,$0C
	dc.b	$C6,$0C,$0C,$C0,$65,$60
* Sequence 73, Channel 6:
	dc.b	$64,$7F,$C0,$63,$6A,$00,$72,$05
	dc.b	$00,$61,$5D,$9D,$DF,$30,$84,$C8
	dc.b	$30,$83,$C6,$30,$82,$30,$A6,$ED
	dc.b	$30,$9D,$DF,$30,$84,$C8,$30,$83
	dc.b	$C6,$30,$82,$30,$A6,$ED,$30,$9D
	dc.b	$DF,$30,$84,$C8,$30,$83,$C6,$30
	dc.b	$82,$30,$A6,$ED,$30,$9D,$DF,$30
	dc.b	$84,$C8,$30,$83,$C6,$30,$82,$30
	dc.b	$A6,$DE,$ED,$30,$C0,$65,$60
* Sequence 73, Channel 7:
	dc.b	$64,$7F,$C0,$63,$6A,$00,$72,$05
	dc.b	$07,$C6,$C6,$61,$6D,$83,$CC,$3C
	dc.b	$3C,$3C,$3C,$3C,$3C,$3C,$3C,$3C
	dc.b	$3C,$3C,$3C,$3C,$3C,$3C,$3C,$3C
	dc.b	$3C,$3C,$3C,$3C,$3C,$3C,$3C,$3C
	dc.b	$3C,$3C,$3C,$3C,$E4,$3C,$CC,$3C
	dc.b	$3C,$3C,$3C,$3C,$3C,$3C,$3C,$3C
	dc.b	$3C,$3C,$3C,$3C,$3C,$3C,$3C,$3C
	dc.b	$3C,$3C,$3C,$3C,$3C,$3C,$3C,$3C
	dc.b	$3C,$3C,$3C,$3C,$3C,$3C,$3C,$3C
	dc.b	$3C,$3C,$3C,$3C,$3C,$3C,$3C,$3C
	dc.b	$3C,$3C,$3C,$3C,$3C,$3C,$3C,$3C
	dc.b	$3C,$3C,$3C,$3C,$3C,$3C,$3C,$3C
	dc.b	$3C,$3C,$3C,$3C,$3C,$3C,$C6,$CC
	dc.b	$3C,$CC,$3C,$3C,$3C,$3C,$3C,$3C
	dc.b	$3C,$3C,$3C,$3C,$3C,$3C,$3C,$3C
	dc.b	$3C,$3C,$3C,$3C,$3C,$3C,$3C,$3C
	dc.b	$3C,$3C,$3C,$3C,$3C,$3C,$3C,$3C
	dc.b	$3C,$C6,$3C,$C0,$65,$60
* Sequence 73, Channel 8:
	dc.b	$64,$7F,$C0,$63,$D8,$C0,$61,$43
	dc.b	$83,$C0,$33,$CC,$30,$C0,$30,$C9
	dc.b	$33,$C0,$30,$C9,$33,$C0,$33,$CC
	dc.b	$30,$C0,$33,$C6,$30,$C0,$2E,$CC
	dc.b	$32,$C0,$2E,$C9,$32,$C0,$32,$C9
	dc.b	$2E,$C0,$2E,$CC,$32,$C0,$2E,$C6
	dc.b	$32,$C0,$37,$CC,$33,$C0,$33,$C9
	dc.b	$37,$C0,$33,$C9,$37,$C0,$33,$CC
	dc.b	$37,$C0,$33,$C6,$37,$C0,$3A,$CC
	dc.b	$3E,$C0,$3E,$C9,$3A,$C0,$3A,$C9
	dc.b	$3E,$C0,$3A,$CC,$3E,$C0,$3E,$C6
	dc.b	$3A,$C0,$33,$CC,$30,$C0,$30,$C9
	dc.b	$33,$C0,$30,$C9,$33,$C0,$33,$CC
	dc.b	$30,$C0,$33,$C6,$30,$C0,$2E,$CC
	dc.b	$32,$C0,$2E,$C9,$32,$C0,$32,$C9
	dc.b	$2E,$C0,$2E,$CC,$32,$C0,$2E,$C6
	dc.b	$32,$C0,$37,$CC,$33,$C0,$33,$C9
	dc.b	$37,$C0,$33,$C9,$37,$C0,$33,$CC
	dc.b	$37,$C0,$33,$C6,$37,$C0,$3A,$CC
	dc.b	$3E,$C0,$3E,$C9,$3A,$C0,$3A,$C9
	dc.b	$3E,$C0,$3A,$CC,$3E,$C0,$3E,$C6
	dc.b	$3A,$C0,$33,$CC,$30,$C0,$30,$C9
	dc.b	$33,$C0,$30,$C9,$33,$C0,$33,$CC
	dc.b	$30,$C0,$33,$C6,$30,$C0,$2E,$CC
	dc.b	$32,$C0,$2E,$C9,$32,$C0,$32,$C9
	dc.b	$2E,$C0,$2E,$CC,$32,$C0,$2E,$C6
	dc.b	$32,$C0,$37,$CC,$33,$C0,$33,$C9
	dc.b	$37,$C0,$33,$C9,$37,$C0,$33,$CC
	dc.b	$37,$C0,$33,$C6,$37,$C0,$3A,$CC
	dc.b	$3E,$C0,$3E,$C9,$3A,$C0,$3A,$C9
	dc.b	$3E,$C0,$3A,$CC,$3E,$C0,$3E,$C6
	dc.b	$3A,$C0,$33,$CC,$30,$C0,$30,$C9
	dc.b	$33,$C0,$30,$C9,$33,$C0,$33,$CC
	dc.b	$30,$C0,$33,$C6,$30,$C0,$2E,$CC
	dc.b	$32,$C0,$2E,$C9,$32,$C0,$32,$C9
	dc.b	$2E,$C0,$2E,$CC,$32,$C0,$2E,$C6
	dc.b	$32,$C0,$37,$CC,$33,$C0,$33,$C9
	dc.b	$37,$C0,$33,$C9,$37,$C0,$33,$CC
	dc.b	$37,$C0,$33,$C6,$37,$C0,$3A,$CC
	dc.b	$3E,$C0,$3E,$C9,$3A,$C0,$3A,$C9
	dc.b	$3E,$C0,$3A,$CC,$3E,$C0,$3E,$C6
	dc.b	$3A,$C0,$65,$60
* Sequence 73, Channel 9:
	dc.b	$64,$7F,$C0,$63,$61,$62,$6A,$00
	dc.b	$D8,$C0,$72,$05,$00,$82,$C0,$48
	dc.b	$C3,$3C,$C0,$48,$C6,$3C,$C0,$48
	dc.b	$C3,$3C,$C0,$48,$C6,$3C,$C0,$48
	dc.b	$C3,$3C,$C0,$48,$C6,$3C,$C0,$48
	dc.b	$C3,$3C,$C0,$48,$C6,$3C,$C0,$46
	dc.b	$C6,$3A,$C0,$46,$C6,$3A,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$41
	dc.b	$C6,$35,$C0,$41,$C6,$35,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$46
	dc.b	$C6,$3A,$C0,$46,$C6,$3A,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C6,$37,$C0,$43,$C6,$37,$C0,$48
	dc.b	$C3,$3C,$C0,$48,$C6,$3C,$C0,$48
	dc.b	$C3,$3C,$C0,$48,$C6,$3C,$C0,$48
	dc.b	$C3,$3C,$C0,$48,$C6,$3C,$C0,$48
	dc.b	$C3,$3C,$C0,$48,$C6,$3C,$C0,$46
	dc.b	$C6,$3A,$C0,$46,$C6,$3A,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$41
	dc.b	$C6,$35,$C0,$41,$C6,$35,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$46
	dc.b	$C6,$3A,$C0,$46,$C6,$3A,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C6,$37,$C0,$43,$C6,$37,$C0,$48
	dc.b	$C3,$3C,$C0,$48,$C6,$3C,$C0,$48
	dc.b	$C3,$3C,$C0,$48,$C6,$3C,$C0,$48
	dc.b	$C3,$3C,$C0,$48,$C6,$3C,$C0,$48
	dc.b	$C3,$3C,$C0,$48,$C6,$3C,$C0,$46
	dc.b	$C6,$3A,$C0,$46,$C6,$3A,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$41
	dc.b	$C6,$35,$C0,$41,$C6,$35,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$46
	dc.b	$C6,$3A,$C0,$46,$C6,$3A,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C6,$37,$C0,$43,$C6,$37,$C0,$48
	dc.b	$C3,$3C,$C0,$48,$C6,$3C,$C0,$48
	dc.b	$C3,$3C,$C0,$48,$C6,$3C,$C0,$48
	dc.b	$C3,$3C,$C0,$48,$C6,$3C,$C0,$48
	dc.b	$C3,$3C,$C0,$48,$C6,$3C,$C0,$46
	dc.b	$C6,$3A,$C0,$46,$C6,$3A,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$41
	dc.b	$C6,$35,$C0,$41,$C6,$35,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$46
	dc.b	$C6,$3A,$C0,$46,$C6,$3A,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C3,$37,$C0,$43,$C6,$37,$C0,$43
	dc.b	$C6,$37,$C0,$43,$C6,$37,$C0,$65
	dc.b	$60
* Sequence 79, Channel 0:
	dc.b	$C0,$6A,$7F,$61,$60,$6D,$84,$A0
	dc.b	$C4,$E0,$30,$60
* Sequence 80, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$4B,$66,$01
	dc.b	$62,$0B,$92,$D2,$38,$60
* Sequence 81, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$4F,$72,$05
	dc.b	$00,$83,$C3,$3C,$C2,$48,$C0,$3C
	dc.b	$61,$50,$C7,$72,$05,$0C,$C3,$3C
	dc.b	$C2,$48,$C0,$3C,$61,$4F,$C7,$72
	dc.b	$05,$11,$C3,$3C,$C2,$48,$C3,$3C
	dc.b	$60
* Sequence 82, Channel 0:
	dc.b	$71,$01,$00,$01,$04,$C0,$6F,$1C
	dc.b	$00,$C0,$63,$70,$01,$01,$6A,$78
	dc.b	$6D,$72,$05,$00,$61,$52,$81,$88
	dc.b	$C1,$30,$CB,$61,$53,$B0,$C1,$EC
	dc.b	$30,$C0,$70,$01,$00,$C0,$63,$60
* Sequence 83, Channel 0:
	dc.b	$71,$02,$00,$01,$04,$C0,$6F,$14
	dc.b	$00,$C0,$63,$70,$02,$01,$6D,$72
	dc.b	$05,$00,$6A,$78,$61,$51,$86,$C7
	dc.b	$45,$C0,$70,$02,$00,$C0,$63,$60
* Sequence 84, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$54,$B0,$F0
	dc.b	$49,$60
* Sequence 85, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$55,$98,$D8
	dc.b	$48,$60
* Sequence 86, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$72,$05,$07,$61
	dc.b	$56,$81,$A0,$C1,$E0,$00,$60
* Sequence 87, Channel 0:
	dc.b	$C0,$6A,$7F,$61,$57,$64,$7F,$C0
	dc.b	$63,$98,$D8,$30,$C0,$65,$60
* Sequence 88, Channel 0:
	dc.b	$C0,$6A,$78,$6D,$61,$58,$98,$D8
	dc.b	$30,$60
* Sequence 89, Channel 0:
	dc.b	$C0,$6A,$7F,$61,$21,$72,$05,$00
	dc.b	$86,$C4,$46,$43,$C6,$48,$60
* Sequence 90, Channel 0:
	dc.b	$C0,$6A,$7E,$6D,$61,$0F,$98,$D8
	dc.b	$46,$60
* Sequence 91, Channel 0:
	dc.b	$C0,$6A,$7E,$6D,$61,$0F,$98,$D8
	dc.b	$47,$60
* Sequence 92, Channel 0:
	dc.b	$C0,$6A,$7E,$6D,$61,$0F,$98,$D8
	dc.b	$48,$60
* Sequence 93, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$49,$60
* Sequence 94, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$4A,$60
* Sequence 95, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$4B,$60
* Sequence 96, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$4C,$60
* Sequence 97, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$4D,$60
* Sequence 98, Channel 0:
	dc.b	$C0,$6A,$78,$6D,$61,$0F,$92,$B0
	dc.b	$D2,$F0,$4E,$60
* Sequence 99, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$4F,$60
* Sequence 100, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$50,$60
* Sequence 101, Channel 0:
	dc.b	$C0,$6A,$78,$6D,$61,$0F,$98,$D8
	dc.b	$51,$60
* Sequence 102, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$52,$60
* Sequence 103, Channel 0:
	dc.b	$C0,$6A,$78,$6D,$61,$0F,$98,$D8
	dc.b	$53,$60
* Sequence 104, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$54,$60
* Sequence 105, Channel 0:
	dc.b	$C0,$6A,$78,$6D,$61,$0F,$98,$D8
	dc.b	$56,$60
* Sequence 106, Channel 0:
	dc.b	$C0,$6A,$78,$6D,$61,$0F,$98,$D8
	dc.b	$55,$60
* Sequence 107, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$57,$60
* Sequence 108, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$58,$60
* Sequence 109, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$59,$60
* Sequence 110, Channel 0:
	dc.b	$C0,$6A,$7E,$6D,$61,$0F,$98,$D8
	dc.b	$5A,$60
* Sequence 111, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$B0,$F0
	dc.b	$5B,$60
* Sequence 112, Channel 0:
	dc.b	$C0,$6A,$75,$6D,$61,$0F,$98,$D8
	dc.b	$5C,$60
* Sequence 113, Channel 0:
	dc.b	$C0,$6A,$7E,$6D,$61,$0F,$98,$D8
	dc.b	$5D,$60
* Sequence 114, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$5E,$60
* Sequence 115, Channel 0:
	dc.b	$C0,$6A,$7E,$6D,$61,$0F,$6E,$07
	dc.b	$98,$D8,$45,$60
* Sequence 116, Channel 0:
	dc.b	$C0,$6D,$6A,$7E,$61,$0F,$6E,$07
	dc.b	$98,$D8,$5D,$60
* Sequence 117, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$0F,$6E,$09
	dc.b	$98,$4F,$61,$03,$81,$88,$C1,$C8
	dc.b	$48,$60
* Sequence 118, Channel 0:
	dc.b	$C0,$6A,$7F,$61,$0F,$6D,$98,$D8
	dc.b	$41,$60
* Sequence 119, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$4A,$60
* Sequence 120, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$0F,$98,$D8
	dc.b	$5F,$60
* Sequence 121, Channel 0:
	dc.b	$C0,$6A,$7F,$61,$18,$6D,$A4,$E4
	dc.b	$5A,$60
* Sequence 122, Channel 0:
	dc.b	$C0,$6A,$7F,$6D,$61,$18,$98,$D8
	dc.b	$5A,$60
* Sequence 123, Channel 0:
	dc.b	$C0,$6A,$7F,$61,$5E,$6D,$64,$7F
	dc.b	$C0,$63,$B0,$F0,$30,$C0,$65,$60
* Sequence 124, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$4E,$64,$7F
	dc.b	$C0,$63,$81,$88,$C1,$C8,$2F,$2D
	dc.b	$2E,$C0,$65,$60
* Sequence 125, Channel 0:
	dc.b	$C0,$6D,$6A,$7F,$61,$5F,$B0,$F0
	dc.b	$5C,$60
